<%= error_messages_for :employee %>
<!--[form:user]-->

<table class="input_table">
  <caption style="font-size:14px"><b>ログイン情報</b></caption>

  <tr>
    <th><%=_("User|Login")%>(*)</th>
    <td><%= @user.login %></td>
  </tr>

</table>
<br />

<table class="input_table">
<caption style="font-size:14px"><b>社員情報</b></caption>
<tr>
  <th><%=getLongName('employees','insurance_code')%>(*)</th>
  <td><%= text_field 'employee', 'insurance_code'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','employee_name')%>(*)</th>
  <td><%= text_field 'employee', 'employee_name'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','employee_kana_name')%>(*)</th>
  <td><%= text_field 'employee', 'employee_kana_name'  %></td>
</tr>
<tr>
  <th>社員氏名略名</th>
  <td><%= text_field 'employee', 'employee_short_name'  %></td>
</tr>
<tr>
  <th>承認者権限</th>
  <td><%= check_box 'employee', 'approver_flg' %></td>
</tr>
<tr>
  <th>部署</th>
  <td><%= collection_select 'employee', 'department_id', @departments, 'id', 'department_name' %></td>
</tr>
<tr>
  <th><%=getLongName('employees','position')%></th>
  <td><%= text_field 'employee', 'position'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','entry_date')%>(*)</th>
  <td>
  <input type="text" id="employee_entry_date" name="employee[entry_date]" value="<%=h @employee.entry_date.to_date if @employee.entry_date != nil %>" size="15" onClick="cal1.write();" onChange="cal1.getFormValue(); cal1.hide();" onblur="if (flgCal1) {cal1.hide();}">
  </br>
  <div id="calDisplay1" onmouseover="flgCal1 = false;" onmouseout="flgCal1 = true;" ></div>
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','resignation_date')%></th>
  <td>
  <input type="text" id="employee_resignation_date" name="employee[resignation_date]" value="<%=h @employee.resignation_date.to_date if @employee.resignation_date != nil %>" size="15" onClick="cal2.write();" onChange="cal2.getFormValue(); cal2.hide();" onblur="if (flgCal2) {cal2.hide();}">
  </br>
  <div id="calDisplay2" onmouseover="flgCal2 = false;" onmouseout="flgCal2 = true;" ></div>
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','resignation_reason')%></th>
  <td><%= text_area 'employee', 'resignation_reason', {:size => '50x3'}  %></td>
</tr>
<tr>
  <th>所定労働時間</th>
  <td><%= text_field 'employee', 'regular_working_hour', :size => '10' %>時間</td>
</tr>
<tr>
  <th>休職日数</th>
  <td><%= text_field 'employee', 'leave_day', :size => '10' %>日数</td>
</tr>
<tr>
  <th>職務経歴書1</th>
  <td>
  <%= file_field 'upload', 'file2' %>
  </td>
</tr>
<tr>
  <th>職務経歴書2</th>
  <td>
  <%= file_field 'upload', 'file3' %>
  </td>
</tr>
<tr>
  <th>職務経歴書3</th>
  <td>
  <%= file_field 'upload', 'file4' %>
  </td>
</tr>
  <tr>
    <th>会社クレジットカード所有</th>
    <td><%= check_box 'employee', 'credit_card_flg' %></td>
  </tr>
</table>
<br />


<table class="input_table">
<caption style="font-size:14px"><b>個人情報</b></caption>
<tr>
  <th><%=getLongName('employees','birthday_date')%>(*)</th>
  <td>
  <input type="text" id="employee_birthday_date" name="employee[birthday_date]" value="<%=h @employee.birthday_date.to_date if @employee.birthday_date != nil %>" size="15" >
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','sex_type')%></th>
  <td>
  <%= select 'employee', 'sex_type', $TYPE_CONDITIONS['sex_type'] %>
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','zip1')%></th>
  <td><%= text_field 'employee', 'zip1', {:id => 'employee_zip1'} %></td>
</tr>
<tr>
  <th><%=getLongName('employees','address1')%></th>
  <td>
	  <%= text_field 'employee', 'address1_1', {:id => 'employee_address1_1', :size => '80'} %>(<%=getLongName('employees','address1_1')%>)</br>
	  <%= text_field 'employee', 'address1_2', {:id => 'employee_address1_2', :size => '80'} %>(<%=getLongName('employees','address1_2')%>)</br>
	  <%= text_field 'employee', 'address1_3', {:id => 'employee_address1_3', :size => '80'} %>(<%=getLongName('employees','address1_3')%>)</br>
	  <%= text_field 'employee', 'address1_4', {:id => 'employee_address1_4', :size => '80'} %>(<%=getLongName('employees','address1_4')%>)</br>
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','tel1')%></th>
  <td><%= text_field 'employee', 'tel1'  %></td>
</tr>
<tr>
  <th>FAX</th>
  <td><%= text_field 'employee', 'fax'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','email')%></th>
  <td><%= text_field 'employee', 'email'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','mobile')%></th>
  <td><%= text_field 'employee', 'mobile'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','mobile_email')%></th>
  <td><%= text_field 'employee', 'mobile_email'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','zip3')%></th>
  <td><%= text_field 'employee', 'zip3', :id => 'employee_zip3' %></td>
</tr>
<tr>
  <th><%=getLongName('employees','address3')%></th>
  <td>
	  <%= text_field 'employee', 'address3_1', {:size => '80', :id => 'employee_address3_1'}  %>(<%=getLongName('employees','address3_1')%>)<br/>
	  <%= text_field 'employee', 'address3_2', {:size => '80', :id => 'employee_address3_2'}  %>(<%=getLongName('employees','address3_2')%>)<br/>
	  <%= text_field 'employee', 'address3_3', {:size => '80', :id => 'employee_address3_3'}  %>(<%=getLongName('employees','address3_3')%>)<br/>
	  <%= text_field 'employee', 'address3_4', {:size => '80', :id => 'employee_address3_4'}  %>(<%=getLongName('employees','address3_4')%>)<br/>
    <input type="button" value = "住所コピー" onclick="return copyAddress('employee_address1','employee_address3');">
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','tel3')%></th>
  <td><%= text_field 'employee', 'tel3'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','name2')%></th>
  <td><%= text_field 'employee', 'name2'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','zip2')%></th>
  <td><%= text_field 'employee', 'zip2', :id => 'employee_zip2' %></td>
</tr>
<tr>
  <th><%=getLongName('employees','address2')%></th>
  <td>
	  <%= text_field 'employee', 'address2_1', {:size => '80', :id => 'employee_address2_1'}  %>(<%=getLongName('employees','address2_1')%>)<br/>
	  <%= text_field 'employee', 'address2_2', {:size => '80', :id => 'employee_address2_2'}  %>(<%=getLongName('employees','address2_2')%>)<br/>
	  <%= text_field 'employee', 'address2_3', {:size => '80', :id => 'employee_address2_3'}  %>(<%=getLongName('employees','address2_3')%>)<br/>
	  <%= text_field 'employee', 'address2_4', {:size => '80', :id => 'employee_address2_4'}  %>(<%=getLongName('employees','address2_4')%>)<br/>
    <input type="button" value = "住所コピー" onclick="return copyAddress('employee_address1','employee_address2');">
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','tel2')%></th>
  <td><%= text_field 'employee', 'tel2'  %></td>
</tr>
<tr>
  <th>写真</th>
  <td>
  <%= file_field 'upload', 'file1' %>
  </td>
</tr>
</table>

<br/>
<table class="input_table">
<caption style="font-size:14px"><b>銀行情報</b></caption>
<tr>
  <th><%=getLongName('employees','bank_name')%></th>
  <td><%= text_field 'employee', 'bank_name'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','branch_name')%></th>
  <td><%= text_field 'employee', 'branch_name'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','account_type')%></th>
  <td>
  <%= select 'employee', 'account_type', $TYPE_CONDITIONS['account_type'] %>
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','account_number')%></th>
  <td><%= text_field 'employee', 'account_number'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','account_name')%></th>
  <td><%= text_field 'employee', 'account_name'  %></td>
</tr>
</table>
<br />

<div id="address_div" style = "display: none;"></div>

<!--[eoform:user]-->
