<h1>銀行情報編集</h1>

<%= form_tag ({:action => 'update_bank', :id => @employee}) do %>
  
<table class="input_table">
<tr>
  <th><%=getLongName('employees','bank_name')%></th>
  <td><%= text_field 'employee', 'bank_name'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','branch_name')%></th>
  <td><%= text_field 'employee', 'branch_name'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','account_type')%></th>
  <td>
  <%= select 'employee', 'account_type', $TYPE_CONDITIONS['account_type'] %>
  </td>
</tr>
<tr>
  <th><%=getLongName('employees','account_number')%></th>
  <td><%= text_field 'employee', 'account_number'  %></td>
</tr>
<tr>
  <th><%=getLongName('employees','account_name')%></th>
  <td><%= text_field 'employee', 'account_name'  %></td>
</tr>
</table>

<p><%= hidden_field 'employee', 'lock_version'  %></p>

  <%= submit_tag '更新' %>
<% end %>

<br/>
<%= link_to '表示', :action => 'show', :id => @employee %> |
<%= link_to '一覧に戻る', :action => 'list' %>
