<h1><%=getLongName('table_name','employees')%>一覧</h1>
<br/>
<%= paginate(@employees) %>

<table class="list_table">
  <tr >
    <th>部署</th> 
    <th>氏名</th> 
  </tr>
<% @employees.each_index do |idx| employee = @employees[idx] %>
  <tr>
    <td><%=h employee.department.department_name %></td>
    <td>
       <%= link_to "#{employee.employee_name}", '#', :onClick => "set#{params[:mode]}User(#{employee.user_id}, '#{employee.employee_name}'); return false;" %></td>
    </td>
  </tr>
<% end %>
</table>
<br>

<%= paginate(@employees) %>

<script type="text/javascript">
<!--
function set<%=params[:mode]%>User(user_id, user_name) {
  if(window.opener.document.set<%=params[:mode]%>User){
    var user = new Object();
    user.pic_id = user_id;
    user.pic_name = user_name;
    window.opener.document.set<%=params[:mode]%>User(user);
  }
  window.close();
}
-->
</script>
