<%= error_messages_for :expense_application %>
<!--[form:expense_application]-->

<table class="input_table">
  <tr>
    <th width="120"><label for="expense_application_expense_app_type"><%=getLongName('expense_applications','expense_app_type')%></label></th>
    <td><%= @expense_application.expense_app_type_name %>申請</td>
  </tr>
  <tr>
    <th><label for="expense_application_application_date"><%=getLongName('expense_applications','application_date')%></label></th>
    <td><%=h @expense_application.application_date.to_date %></td>
  </tr>

<% if @expense_application.expense_app_type == 'temporary_app' %>
  <tr>
    <th><label for="payment_per_month_cutoff_period">精算年月度指定</label></th>
    <% if edit? %>
    <td><%= @expense_application.expense_detail.payment_per_month.cutoff_period_format %></td>
    <% else %>
    <td><%= select_tag 'base_month_id', options_for_select(@base_months, @selected_month) %></td>
    <% end %>
  </tr>
<% end %>
<% expense_fields[@expense_application.expense_app_type].each do |field| %>
  <tr>
    <% if field[:field] %>
      <th width="120"><label for="expense_application_<%=field[:prop]%>"><%= field[:label] || getLongName('expense_applications', field[:prop]) %></label></th>
    <% end %>
    <% if field[:field].blank? %>
    <% elsif field[:field] == 'select' %>
      <td><%= send(field[:field], 'expense_application', field[:prop],  $TYPE_CONDITIONS[field[:prop]], field[:option]) %></td>
    <% elsif field[:prop] == 'book_no' %>
      <td><%= send(field[:field], 'expense_application', field[:prop], field[:option]) %></td>
      <% if edit? && @expense_application.sales_person_id %>
      <tr>
        <th style="background-color: pink;">営業担当</th><td><%=h User.find(@expense_application.sales_person_id).employee.employee_name%></td>
      </tr>
      <% elsif @sales_persons %>
        </tr><th style="background-color: pink;">営業担当</th><td><%= select 'expense_application', 'sales_person', @sales_persons %></td><tr>
      <% end %>
    <% elsif field[:prop] == 'account_item' %>
      <td><%= send(field[:field], 'expense_application', field[:prop], field[:option]) %></td>
    <% elsif field[:prop] == 'payment_amount' %>
      <td><%= send(field[:field], 'expense_application', field[:prop], field[:option]) %>
          <input type="button" id="calc_button" value="計算" onclick="return calcTax($('#expense_application_payment_amount'),$('#expense_application_withholding_tax'),$('#expense_application_other_expenses'),$('expense_application_approximate_amount'));"></td>
    <% elsif field[:prop] == 'payment_no' %>
      <td><%= send(field[:field], 'expense_application', field[:prop], field[:option]) %>
	      <input type="button" value="..." onclick="disp('<%=url_for :action => 'payments', :popup => 1%>');"></td>
    <% elsif field[:field] == 'file_field' %>
      <td><%= send(field[:field], 'expense_application', field[:prop], field[:option]) %><%= @expense_application.send(field[:prop]).blank? ? '' : " (#{h(@expense_application.send(field[:prop] + '_name'))})" %></td>
    <% else %>
      <td><%= send(field[:field], 'expense_application', field[:prop], field[:option]) %></td>
    <% end %>
  </tr>
<% end # do fields %>
</table>

<%= hidden_field 'expense_application', 'expense_app_type' %>
<%= hidden_field 'expense_application', 'temporary_app_flg' %>
<%= hidden_field 'expense_application', 'application_date' %>

<!--[eoform:expense_application]-->
