<h1>謝礼申請一覧</h1>
<%= link_to('経費申請一覧', :controller => :base_application, :action => :expense_list, :back_to => request.env['REQUEST_URI']) %>
<%= form_tag do %>

<table border='0' cellpadding='0' width="100%" >
    <tr>
        <td style="width: 35%;" align="right">申請日：</td>
        <td style="width: 65%;" align="left"><%= date_field_tag 'application_date_from', session[:expense_search][:application_date_from] %> ～
        <%= date_field_tag 'application_date_to', session[:expense_search][:application_date_to] %>
        </td>
    </tr>
    <tr>
        <td style="width: 35%;" align="right">状態：</td>
        <td style="width: 65%;" align="left"><%= select_tag 'payment_flg', options_for_select([[],['精算待','0'],['支払済','1']], session[:expense_search][:payment_flg]) %></td>
    </tr>
    <tr>
    </tr>
        <td></td>
        <td></td>
    <tr>
        <td></td>
        <td style="width: 65%;" align="left"><%= submit_tag '検 索', :name => 'search_button' %>
        </td>
    </tr>
  </table>
<% end %>


<table class="list_table">
  <tr>
    <th width="80">申請日</th>
    <th><%=getShortName('employees', 'employee_name')%></th>
    <th width="100">申請区分</th>
    <th width="100">受注No.</th>
    <th width="">目的</th>
    <th width="80">金額</th>
    <th width="80">状態</th> 
    <th width="80">アクション</th>
  </tr>
<% for expense_application in @expense_applications %>
  <tr>
    <td align="center"><%=expense_application.application_date.to_date%></td>
    <td style="width: 20%;"><%=h expense_application.user.employee.employee_name %></td>
    <td align="left"><%=h expense_application.expense_app_type_long_name %>申請</td>
    <td align="left"><%=h expense_application.book_no %></td>
    <td align="left"><%=h expense_application.purpose %></td>
    <td align="right"><%=h money_format(expense_application.approximate_amount.to_i) %></td>
    <td align="center">
<% if expense_application.payment_flg == 0 %>
精算待
<% else %>
支払済
<% end %>
</td>
<% if expense_application.payment_flg == 0 %>
    <td><%= link_to('表示', :controller => :expense_application, :action => :show, :id => expense_application, :back_to => request.env['REQUEST_URI']) %>
    <%= link_to('編集', :controller => :expense_application, :action => :edit, :id => expense_application) %></td>
<% else %>
    <td><%= link_to('表示', :controller => :expense_application, :action => :show, :id => expense_application, :back_to => request.env['REQUEST_URI']) %></td>
<% end %>
  </tr>
<% end %>
</table>

