<h1><%=getLongName('table_name','expense_applications')%>一覧</h1>

<%= paginate(@expense_applications) %>

<table class="list_table">
  <tr>
    <th width="80">申請日</th>
    <th width="100">申請区分</th>
    <th width="100">受注No.</th>
    <th width="">目的</th>
    <th width="80">金額</th>
  </tr>
<% for expense_application in @expense_applications %>
  <tr>
    <td align="center"><%= link_to "#{expense_application.application_date.to_date}", :action => 'edit', :id => expense_application, :edit_type => expense_application.expense_app_type %></td>
    <td align="left"><%=h expense_application.expense_app_type_long_name %>申請</td>
    <td align="left"><%=h expense_application.book_no %></td>
    <td align="left"><%=h expense_application.purpose %></td>
    <td align="right"><%=h money_format(expense_application.approximate_amount.to_i) %></td>
  </tr>
<% end %>
</table>

<br />
