<table class="show_table">

  <tr>
    <th><%= getLongName('expense_applications', 'expense_app_type') %></th>
    <td><%=h @expense_application.expense_app_type_long_name %></td>
  </tr>
  <tr>
    <th><%= getLongName('expense_applications', 'application_date') %></th>
    <td><%=h @expense_application.application_date.to_date %></td>
  </tr>

<% if @expense_application.expense_app_type == 'temporary_app' %>
  <tr>
    <th><label for="payment_per_month_cutoff_period">精算年月度指定</label></th>
    <td><%= @expense_application.expense_detail.payment_per_month.cutoff_period_format %></td>
  </tr>
<% end %>
<% expense_fields[@expense_application.expense_app_type].each do |field| %>
  <tr>
    <th><%= field[:label] || getLongName('expense_applications', field[:prop]) %></th>
    <% if field[:field] == 'select' %>
      <td><%= @expense_application.send(field[:prop] + '_name') %></td>
    <% elsif field[:prop].match(/_date$/) %>
      <td><%= @expense_application.send(field[:prop]) && @expense_application.send(field[:prop]).to_date %></td>
    <% elsif field[:field] == 'currency_field' %>
      <td><%= money_format @expense_application.send(field[:prop]).to_i %></td>
    <% elsif field[:field] == 'file_field' %>
      <td><%= @expense_application.send(field[:prop]).blank? ? "添付ファイルなし" : link_to(@expense_application.attached_material_name, :action => :open_file, :id => @expense_application.attached_material) %></td>
    <% else %>
      <td><%= @expense_application.send(field[:prop]) %></td>
    <% end %>
  </tr>
<% end # do fields %>

</table>
<% if @expense_application.payment_flg == 0 %>
<%= render :partial => 'base_application/application', :locals => {:application => @expense_application} %>
<% else %>
<%= link_to '戻る', params[:back_to] != nil ? params[:back_to] : {:action => 'list'} %>
<% end %>

<%= form_tag :action => 'fix_payment', :id => @expense_application, :back_to => request.env['REQUEST_URI'] do %>
<% # 仮払／謝礼申請で、ログインユーザが経理ユーザで、経理担当者だったら %>
<% if (@expense_application.temporary_app? or @expense_application.fee_expense_app?) && current_user.accounting? %>
  <% if @expense_application.paymented? %>
    状態: [支払済] <%= submit_tag('支払済み解除', {:name => 'release', :confirm => "この申請の支払済みを解除します。よろしいですか?"}) %>
  <% else %>
    状態: [未精算] 支払日: <%= date_field_tag 'paid_date' %> <%= submit_tag('支払済みにする', {:confirm => "この申請を精算済みにします。よろしいですか?", :onClick => "return validateDate($('#paid_date').val())"}) %>
  <% end %>
<% end # if %>
<% end # form tag %>
<% if ['fee_expense_app', 'temporary_app'].include?(@expense_application.expense_app_type) %>
  <div style="width: 95%; text-align: right; margin: 0 0 0 0;">
  <%= link_to 'EXCELダウンロード', :action => :excel_download, :mode => @expense_application.expense_app_type, :id => params[:id] %>
  </div>
<% end %>
