<h1><%=getLongName('table_name','comments')%>一覧</h1>

<%= paginate(@comments) %>

<table class="list_table">
  <tr>
  <% for column in Comment.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('comments', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for comment in @comments %>
  <tr>
  <% for column in Comment.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h comment.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => comment %>, 
      <%= link_to '変更', :action => 'edit', :id => comment %>, 
      <%= link_to '削除', { :action => 'destroy', :id => comment }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@comments) %>

<br />

<%= link_to (getLongName('table_name','comments')+'の新規作成'), :action => 'new' %>
