<h1><%=getLongName('table_name','human_resources')%>一覧</h1>

<%= paginate(@human_resources) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('human_resources', 'human_resource_name') %></th>
    <th><%=getShortName('human_resources', 'age') %></th>
    <th><%=getShortName('human_resources', 'sex_type') %></th>
    <th><%=getShortName('human_resources', 'nationality') %></th>
    <th><%=getShortName('human_resources', 'near_station') %></th>
    <th><%=getShortName('human_resources', 'skill_tag') %></th>
    <th><%=getShortName('human_resources', 'communication_type') %></th>
  </tr>
  
<% for human_resource in @human_resources %>
  <tr>
<% if popup? %>
    <td><%=link_to h(human_resource.useful_name), '#', :onClick => "setHr(#{human_resource.id},'#{human_resource.useful_name}');return false;" %></td>
<% else %>
    <td><%=back_to_link h(human_resource.useful_name), :action => :show, :id => human_resource %></td>
<% end %>
    <td><%=h human_resource.age %></td>
    <td><%=h human_resource.sex_type_name %></td>
    <td><%=h human_resource.nationality %></td>
    <td><%=h human_resource.near_station %></td>
    <td><%=h human_resource.skill_tag %></td>
    <td><%=h human_resource.communication_type_name %></td>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@human_resources) %>

<br />
<% if !popup? %>
<%= link_to (getLongName('table_name','human_resources')+'の新規作成'), :action => 'new' %>
<% end %>
<% if popup? %>
<script type="text/javascript">
<!--
function setHr(human_resource_id, useful_name) {
    window.opener.document.getElementById("bp_member_human_resource_id").value = human_resource_id;
    window.opener.document.getElementById("useful_name").value = useful_name;
    window.close();
}
// -->
</script>
<% end # if popup? %>



