<h1><%=getLongName('table_name','weekly_report_details')%>一覧</h1>

<%= paginate(@weekly_report_details) %>

<table class="list_table">
  <tr>
  <% for column in WeeklyReportDetail.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('weekly_report_details', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for weekly_report_detail in @weekly_report_details %>
  <tr>
  <% for column in WeeklyReportDetail.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h weekly_report_detail.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => weekly_report_detail %>, 
      <%= link_to '変更', :action => 'edit', :id => weekly_report_detail %>, 
      <%= link_to '削除', { :action => 'destroy', :id => weekly_report_detail }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@weekly_report_details) %>

<br />

<%= link_to (getLongName('table_name','weekly_report_details')+'の新規作成'), :action => 'new' %>
