<h1><%=getLongName('table_name','departments')%>一覧</h1>

<%= paginate @departments %>

<table class="list_table">
  <tr>
  <% for column in Department.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('departments', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for department in @departments %>
  <tr>
  <% for column in Department.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h department.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => department %>, 
      <%= link_to '変更', :action => 'edit', :id => department %>, 
      <%= link_to '削除', { :action => 'destroy', :id => department }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @departments %>

<br />

<%= link_to (getLongName('table_name','departments')+'の新規作成'), :action => 'new' %>
