<%= error_messages_for 'contract' %>

<!--[form:contract]-->
<%= hidden_field 'contract', 'approach_id', :value => params[:approach] %>

<p><label for="contract_contract_status_type"><%=getLongName('contracts','contract_status_type')%></label><br />
<%= select 'contract', 'contract_status_type', $TYPE_CONDITIONS['contract_status_type']  %>
</p>

<p><label for="contract_closed_at"><%=getLongName('contracts','closed_at')%></label><br />
<%= date_field 'contract', 'closed_at' %>
 <%= select_tag 'closed_at_hour', options_for_select((0..23).to_a.map{|x| sprintf("%0.2d", x)}, sprintf("%0.2d", @closed_at_hour.to_i)) %> : 
 <%= select_tag 'closed_at_minute', options_for_select((0..5).to_a.map{|x| sprintf("%0.2d", x * 10)}, sprintf("%0.2d", @closed_at_min.to_i)) %>
</p>

<p><label for="contract_contracted_at"><%=getLongName('contracts','contracted_at')%></label><br />
<%= date_field 'contract', 'contracted_at' %>
 <%= select_tag 'contracted_at_hour', options_for_select((0..23).to_a.map{|x| sprintf("%0.2d", x)}, sprintf("%0.2d", @contracted_at_hour.to_i)) %> : 
 <%= select_tag 'contracted_at_minute', options_for_select((0..5).to_a.map{|x| sprintf("%0.2d", x * 10)}, sprintf("%0.2d", @contracted_at_min.to_i)) %>
</p>

  <p>
    <label for="contract_contract_pic_name">契約担当</label><br />
    <%= text_field_tag 'contract_pic_name', @contract.contract_pic.blank? ? "" : @contract.contract_pic.employee.employee_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'user', :action => 'list', :popup =>1, :mode => 'contract' %>');return false;" />
    <input type=button value='クリア' onClick="clearContractUser();return false;" />
  </p>
  <%= hidden_field 'contract', 'contract_pic_id' %>
  
<p><label for="contract_start_date"><%=getLongName('contracts','start_date')%></label><br /><%= date_field 'contract', 'start_date' %></p>

<p><label for="contract_end_date"><%=getLongName('contracts','end_date')%></label><br /><%= date_field 'contract', 'end_date' %></p>

<p><label for="contract_memo"><%=getLongName('contracts','memo')%></label><br /><%= resizable_area 'contract', 'memo' %></p>
<!--[eoform:contract]-->


<h2>契約上流契約条件</h2>
<!--[form:contract_term]-->
  <%= render :partial => 'contract_term/form_inc', :locals => {:contract_term => @contract.upper_contract_term, :model_name => 'upper_contract_term'} %>
<!--[eoform:contract_term]-->

<h2>契約下流契約条件</h2>
<!--[form:contract_term]-->
  <%= render :partial => 'contract_term/form_inc', :locals => {:contract_term => @contract.down_contract_term, :model_name => 'down_contract_term'} %>
<!--[eoform:contract_term]-->

<script type="text/javascript">
<!--
document.setContractUser = function(user){
    document.getElementById("contract_contract_pic_id").value = user.contract_pic_id;
    document.getElementById("contract_pic_name").value = user.contract_pic_name;
}

function clearSalesUser(){
    document.getElementById("contract_contract_pic_id").value = "";
    document.getElementById("contract_pic_name").value = "";
}

// -->
</script>


