<table class="show_table">
<tr>
  <th colspan=2><%= getLongName('contracts', 'contract_status_type') %></th><td colspan=2><%=h @contract.contract_status_type %></td>
</tr>
<tr>
  <th colspan=2><%= getLongName('contracts', 'closed_at') %></th><td colspan=2><%=h @contract.closed_at %></td>
</tr>
<tr>
  <th colspan=2><%= getLongName('contracts', 'contracted_at') %></th><td colspan=2><%=h @contract.contracted_at %></td>
</tr>
<tr>
  <th colspan=2>契約担当者名</th><td colspan=2><%=h @contract.contract_employee_name %></td>
</tr>
<tr>
  <th colspan=2><%= getLongName('contracts', 'start_date') %></th><td colspan=2><%=h @contract.start_date %></td>
</tr>
<tr>
  <th colspan=2><%= getLongName('contracts', 'end_date') %></th><td colspan=2><%=h @contract.end_date %></td>
</tr>
<tr>
  <th colspan=2>単価差額</th><td colspan=2><%=h (@upper_contract_term.payment_view - @down_contract_term.payment_view) %>万円</td>
</tr>
<tr>
  <th rowspan=17>契約上下流契約条件</th>
  <th></th>
  <th>契約上流契約条件</th>
  <th>契約下流契約条件</th>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_type') %></th>
  <td><%=h @upper_contract_term.contract_type %></td>
  <td><%=h @down_contract_term.contract_type %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'payment') %></th>
  <td><%=h @upper_contract_term.payment_view %>万円</td>
  <td><%=h @down_contract_term.payment_view %>万円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_flg') %></th>
  <td><%=h (@upper_contract_term.time_adjust_flg == 1 ? "有" : "無" ) %></td>
  <td><%=h (@down_contract_term.time_adjust_flg == 1 ? "有" : "無" ) %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_upper') %></th>
  <td><%=h @upper_contract_term.time_adjust_upper %></td>
  <td><%=h @down_contract_term.time_adjust_upper %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_limit') %></th>
  <td><%=h @upper_contract_term.time_adjust_limit %></td>
  <td><%=h @down_contract_term.time_adjust_limit %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_under') %></th>
  <td><%=h @upper_contract_term.time_adjust_under %></td>
  <td><%=h @down_contract_term.time_adjust_under %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_type') %></th>
  <td><%=h @upper_contract_term.time_adjust_type %></td>
  <td><%=h @down_contract_term.time_adjust_type %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'over_time_payment') %></th>
  <td><%=h @upper_contract_term.over_time_payment %>円</td>
  <td><%=h @down_contract_term.over_time_payment %>円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'under_time_penalty') %></th>
  <td><%=h @upper_contract_term.under_time_penalty %>円</td>
  <td><%=h @down_contract_term.under_time_penalty %>円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'cutoff_date') %></th>
  <td><%=h @upper_contract_term.cutoff_date %></td>
  <td><%=h @down_contract_term.cutoff_date %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'payment_sight_type') %></th>
  <td><%=h @upper_contract_term.payment_sight_type %></td>
  <td><%=h @down_contract_term.payment_sight_type %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_end_date') %></th>
  <td><%=h @upper_contract_term.contract_end_date %></td>
  <td><%=h @down_contract_term.contract_end_date %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_renewal_unit') %></th>
  <td><%=h @upper_contract_term.contract_renewal_unit %></td>
  <td><%=h @down_contract_term.contract_renewal_unit %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_renewal_terms') %></th>
  <td><%=simple_format h(h @upper_contract_term.contract_renewal_terms) %></td>
  <td><%=simple_format h(h @down_contract_term.contract_renewal_terms) %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'other_terms') %></th>
  <td><%=simple_format h(h @upper_contract_term.other_terms) %></td>
  <td><%=simple_format h(h @down_contract_term.other_terms) %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'memo') %></th>
  <td><%=simple_format h(@upper_contract_term.memo) %></td>
  <td><%=simple_format h(@down_contract_term.memo) %></td>
</tr>

<tr>
  <th colspan=2><%= getLongName('contracts', 'memo') %></th><td colspan=2><%=simple_format h(@contract.memo) %></td>
</tr>
</table>
