<h1><%=getLongName('table_name','contracts')%>編集</h1>

<%= form_tag :action => 'update', :id => @contract do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<%= link_to '戻る', :controller => 'approach', :action => 'show', :id => @contract.approach_id %>
