<h1><%=getLongName('table_name','contracts')%>一覧</h1>

<%= paginate(@contracts) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('contracts', 'id') %></th>

    <th><%=getShortName('contracts', 'contract_status_type') %></th>

    <th><%=getShortName('contracts', 'closed_at') %></th>

    <th><%=getShortName('contracts', 'contracted_at') %></th>

    <th><%=getShortName('contracts', 'start_date') %></th>

    <th><%=getShortName('contracts', 'end_date') %></th>

    <th><%=getShortName('contracts', 'memo') %></th>

    <th><%=getShortName('contracts', 'created_at') %></th>

    <th><%=getShortName('contracts', 'updated_at') %></th>

    <th><%=getShortName('contracts', 'lock_version') %></th>

    <th><%=getShortName('contracts', 'created_user') %></th>

    <th><%=getShortName('contracts', 'updated_user') %></th>

    <th><%=getShortName('contracts', 'deleted_at') %></th>

    <th><%=getShortName('contracts', 'deleted') %></th>

    <th></th>
  </tr>
  
<% for contract in @contracts %>
  <tr>
    <td><%=h contract.id %></td>

    <td><%=h contract.contract_status_type %></td>

    <td><%=h contract.closed_at %></td>

    <td><%=h contract.contracted_at %></td>

    <td><%=h contract.start_date %></td>

    <td><%=h contract.end_date %></td>

    <td><%=h contract.memo %></td>

    <td><%=h contract.created_at %></td>

    <td><%=h contract.updated_at %></td>

    <td><%=h contract.lock_version %></td>

    <td><%=h contract.created_user %></td>

    <td><%=h contract.updated_user %></td>

    <td><%=h contract.deleted_at %></td>

    <td><%=h contract.deleted %></td>

    <td>
      <%= link_to '詳細', :action => 'show', :id => contract %>, 
      <%= link_to '変更', :action => 'edit', :id => contract %>, 
      <%= link_to '削除', { :action => 'destroy', :id => contract }, :confirm => 'この面談を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginates(@contracts) %>

<br />

<%= link_to (getLongName('table_name','contracts')+'の新規作成'), :action => 'new' %>
