<table class="show_table">
<tr>
  <th><%= getLongName('contracts', 'id') %></th><td><%=h @contract.id %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'contract_status_type') %></th><td><%=h @contract.contract_status_type %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'closed_at') %></th><td><%=h @contract.closed_at %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'contracted_at') %></th><td><%=h @contract.contracted_at %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'start_date') %></th><td><%=h @contract.start_date %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'end_date') %></th><td><%=h @contract.end_date %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'memo') %></th><td><%=h @contract.memo %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'created_at') %></th><td><%=h @contract.created_at %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'updated_at') %></th><td><%=h @contract.updated_at %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'lock_version') %></th><td><%=h @contract.lock_version %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'created_user') %></th><td><%=h @contract.created_user %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'updated_user') %></th><td><%=h @contract.updated_user %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'deleted_at') %></th><td><%=h @contract.deleted_at %></td>
</tr>

<tr>
  <th><%= getLongName('contracts', 'deleted') %></th><td><%=h @contract.deleted %></td>
</tr>

</table>
<%= link_to '編集', :action => 'edit', :id => @contract %> |
<%= link_to '一覧', :action => 'list' %>
