<%= error_messages_for 'approach' %>


<h2><%=getLongName('table_name','businesses')%>情報</h2>
  <p><label><%=getLongName('businesses','business_title')%></label><br /><%=h @business.business_title %></p>
  <p><label><%=getLongName('businesses','business_status_type')%></label><br /><%=h @business.business_status_type %></p>
  <p><label>EU取引先</label><br /><%=h @business.eubp.blank? ? "" : @business.eubp.business_partner_name %></p>
  <p><label>EU取引先担当</label><br /><%=h @business.eubp_pic.blank? ? "" : @business.eubp_pic.bp_pic_name %></p>


<h2><%=getLongName('table_name','biz_offers')%>情報</h2>
  <p><label>上流取引先</label><br /><%=h @business.biz_offers[0].business_partner.blank? ? "" : @business.biz_offers[0].business_partner.business_partner_name %></p>
  <p><label>上流取引先担当</label><br /><%=h (@business.biz_offers[0].business_partner.blank? || @business.biz_offers[0].bp_pic.blank?) ? "" : @business.biz_offers[0].bp_pic.bp_pic_name %></p>


<h2><%=getLongName('table_name','bp_members')%>選択</h2>
<table class="show_table">
<tr>
<th><label for="human_resource_name"><%=getLongName('human_resources','human_resource_name')%></label></th><td><%= text_field_tag 'human_resource_name', @approach.bp_member.blank? ? "" : (@approach.bp_member.human_resource.human_resource_name.blank? ? @approach.bp_member.human_resource.initial : @approach.bp_member.human_resource.human_resource_name), :readOnly => true, :style => "background-color: silver;", :size => 30 %>
  <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'bp_member', :action => 'list', :popup =>1 %>');return false;" />
  <input type=button value='クリア' onClick="clearBpMember();return false;" /></td>
</tr>
<tr>
<th><label for="business_partner_name">下流<%=getLongName('business_partners','business_partner_name')%></label></th><td><%= text_field_tag 'business_partner_name', @approach.bp_member.blank? ? "" : @approach.bp_member.business_partner.business_partner_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
</td>
</tr>
</table>


<h2><%=getLongName('table_name','approaches')%></h2>
<!--[form:approach]-->
<table class="show_table">
<tr>
<th><label for="approach_approached_at"><%=getLongName('approaches','approached_at')%></label></th><td><%= date_field 'approach', 'approached_at' %>
 <%= select_tag 'approached_at_hour', options_for_select((0..23).to_a.map{|x| sprintf("%0.2d", x)}, sprintf("%0.2d", @approached_at_hour.to_i)) %> : 
 <%= select_tag 'approached_at_minute', options_for_select((0..5).to_a.map{|x| sprintf("%0.2d", x * 10)}, sprintf("%0.2d", @approached_at_min.to_i)) %>
</td>
</tr>
<tr>
<th><label for="approach_approach_pic_name">提案担当</label></th><td><%= text_field_tag 'approach_pic_name', @approach.approach_pic.blank? ? "" : @approach.approach_pic.employee.employee_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'employee', :action => 'list', :popup =>1, :mode => 'Approach' %>');return false;" />
    <input type=button value='クリア' onClick="clearApproachUser();return false;" />
    <%= hidden_field 'approach', 'approach_pic_id' %>
</td>
</tr>
<tr>
<th><label for="approach_approach_start_date"><%=getLongName('approaches','approach_start_date')%></label></th><td><%= date_field 'approach', 'approach_start_date'  %></td>
</tr>
<tr>
<th><label for="approach_can_interview_date"><%=getLongName('approaches','can_interview_date')%></label></th><td><%= date_field 'approach', 'can_interview_date'  %></td>
</tr>
<tr>
<th><label for="approach_memo"><%=getLongName('approaches','memo')%></label></th><td><%= resizable_area 'approach', 'memo'  %></td>
</tr>
</table>

<!--[eoform:approach]-->


<h2>提案上流契約条件</h2>
<!--[form:contract_term]-->
  <%= render :partial => 'contract_term/form_inc', :locals => {:contract_term => @approach.approach_upper_contract_term, :model_name => 'approach_upper_contract_term'} %>
<!--[eoform:contract_term]-->


<h2>提案下流契約条件</h2>
<!--[form:contract_term]-->
  <%= render :partial => 'contract_term/form_inc', :locals => {:contract_term => @approach.approach_down_contract_term, :model_name => 'approach_down_contract_term'} %>
<!--[eoform:contract_term]-->


<%= hidden_field_tag 'business_id' %>
<%= hidden_field 'approach', 'biz_offer_id', :value => params[:biz_offer_id] %>
<%= hidden_field 'approach', 'bp_member_id' %>
<%= hidden_field 'approach', 'lock_version' %>

<script type="text/javascript">
<!--
document.setBusiness = function(business){
    document.getElementById("business_id").value = business.business_id;
    document.getElementById("business_title").value = business.business_title;
    document.getElementById("business_status_type").value = business.business_status_type_name;
    document.getElementById("eubp_name").value = business.eubp_name;
    document.getElementById("eubp_pic_name").value = business.eubp_pic_name;
}

function clearBusiness(){
    document.getElementById("business_id").value = "";
    document.getElementById("business_title").value = "";
    document.getElementById("business_status_type").value = "";
    document.getElementById("eubp_name").value = "";
    document.getElementById("eubp_pic_name").value = "";
}

document.setBizOffer = function(){
}

function clearBizOffer(){
}

document.setBpMember = function(bp_member){
    document.getElementById("approach_bp_member_id").value = bp_member.bp_member_id;
    document.getElementById("business_partner_name").value = bp_member.business_partner_name;
    document.getElementById("human_resource_name").value = bp_member.human_resource_name;
}

function clearBpMember(){
    document.getElementById("approach_bp_member_id").value = "";
    document.getElementById("business_partner_name").value = "";
    document.getElementById("human_resource_name").value = "";
}

document.setApproachUser = function(user){
    document.getElementById("approach_approach_pic_id").value = user.pic_id;
    document.getElementById("approach_pic_name").value = user.pic_name;
}

function clearApproachUser(){
    document.getElementById("approach_approach_pic_id").value = "";
    document.getElementById("approach_pic_name").value = "";
}

// -->
</script>
