<h1><%=getLongName('table_name','approaches')%>一覧</h1>

<%= paginate(@approaches) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('approaches', 'id') %></th>
    <th><%=getShortName('approaches', 'approach_status_type') %></th>
    <th><%=getShortName('approaches', 'approached_at') %></th>
    <th><%=getShortName('approaches', 'approach_start_date') %></th>
    <th><%=getShortName('approaches', 'can_interview_date') %></th>
    <th><%=getShortName('approaches', 'memo') %></th>
    <th></th>
  </tr>
  
<% for approach in @approaches %>
  <tr>
    <td><%=h approach.id %></td>
    <td><%=h approach.approach_status_type_name %></td>
    <td><%=h approach.approached_at %></td>
    <td><%=h approach.approach_start_date %></td>
    <td><%=h approach.can_interview_date %></td>
    <td><%=h approach.memo %></td>
    <td>
      <%= link_to '詳細', :action => 'show', :id => approach %>, 
      <%= link_to '変更', :action => 'edit', :id => approach %>, 
      <%= link_to '削除', { :action => 'destroy', :id => approach }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@approaches) %>

<br />

<%= link_to (getLongName('table_name','approaches')+'の新規作成'), :action => 'new' %>
