<h1><%= @business.business_title %> ＆ <%= @human_resource.human_resource_name.blank? ? @human_resource.initial : @human_resource.human_resource_name %> 提案詳細</h1>

<h2><%=getLongName('table_name','approaches')%>情報</h2>
<table class="show_table">
<tr>
  <th colspan=2><%= getLongName('approaches', 'approach_status_type') %></th><td colspan=2><%=h @approach.approach_status_type_name %></td>
</tr>
<tr>
  <th colspan=2><%= getLongName('approaches', 'approached_at') %></th><td colspan=2><%=h @approach.approached_at %></td>
</tr>
<tr>
  <th colspan=2>提案担当者名</th><td colspan=2><%=h @approach.approach_employee_name %></td>
</tr>
<tr>
  <th colspan=2><%= getLongName('approaches', 'approach_start_date') %></th><td colspan=2><%=h @approach.approach_start_date %></td>
</tr>
<tr>
  <th colspan=2><%= getLongName('approaches', 'can_interview_date') %></th><td colspan=2><%=h @approach.can_interview_date %></td>
</tr>
<tr>
  <th colspan=2>単価差額</th><td colspan=2><%=h (@approach_upper_contract_term.payment_view - @approach_down_contract_term.payment_view) %>万円</td>
</tr>
<tr>
  <th rowspan=17>提案上下流契約条件</th>
  <th></th>
  <th>提案上流契約条件</th>
  <th>提案下流契約条件</th>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_type') %></th>
  <td><%=h @approach_upper_contract_term.contract_type %></td>
  <td><%=h @approach_down_contract_term.contract_type %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'payment') %></th>
  <td><%=h @approach_upper_contract_term.payment_view %>万円</td>
  <td><%=h @approach_down_contract_term.payment_view %>万円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_flg') %></th>
  <td><%=h (@approach_upper_contract_term.time_adjust_flg == 1 ? "有" : "無" ) %></td>
  <td><%=h (@approach_down_contract_term.time_adjust_flg == 1 ? "有" : "無" ) %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_upper') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_upper %></td>
  <td><%=h @approach_down_contract_term.time_adjust_upper %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_limit') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_limit %></td>
  <td><%=h @approach_down_contract_term.time_adjust_limit %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_under') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_under %></td>
  <td><%=h @approach_down_contract_term.time_adjust_under %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_type') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_type %></td>
  <td><%=h @approach_down_contract_term.time_adjust_type %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'over_time_payment') %></th>
  <td><%=h @approach_upper_contract_term.over_time_payment %>円</td>
  <td><%=h @approach_down_contract_term.over_time_payment %>円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'under_time_penalty') %></th>
  <td><%=h @approach_upper_contract_term.under_time_penalty %>円</td>
  <td><%=h @approach_down_contract_term.under_time_penalty %>円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'cutoff_date') %></th>
  <td><%=h @approach_upper_contract_term.cutoff_date %></td>
  <td><%=h @approach_down_contract_term.cutoff_date %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'payment_sight_type') %></th>
  <td><%=h @approach_upper_contract_term.payment_sight_type %></td>
  <td><%=h @approach_down_contract_term.payment_sight_type %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_end_date') %></th>
  <td><%=h @approach_upper_contract_term.contract_end_date %></td>
  <td><%=h @approach_down_contract_term.contract_end_date %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_renewal_unit') %></th>
  <td><%=h @approach_upper_contract_term.contract_renewal_unit %></td>
  <td><%=h @approach_down_contract_term.contract_renewal_unit %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_renewal_terms') %></th>
  <td><%=h @approach_upper_contract_term.contract_renewal_terms %></td>
  <td><%=h @approach_down_contract_term.contract_renewal_terms %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'other_terms') %></th>
  <td><%=h @approach_upper_contract_term.other_terms %></td>
  <td><%=h @approach_down_contract_term.other_terms %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'memo') %></th>
  <td><%=h @approach_upper_contract_term.memo %></td>
  <td><%=h @approach_down_contract_term.memo %></td>
</tr>

<tr>
  <th colspan=2><%= getLongName('approaches', 'memo') %></th><td colspan=2><%=h @approach.memo %></td>
</tr>
</table>
<%= link_to '編集', :action => 'edit', :id => @approach, :biz_offer_id => @biz_offer %> |
<%= link_to '一覧', :controller => 'biz_offer', :action => 'show', :id => @biz_offer %>
<p></p>

<!-- 案件詳細 -->
<h2><%=getLongName('table_name','businesses')%>情報</h2>
<%= render :partial => 'business/show' %>
<p></p>

<!-- 照会詳細 -->
<h2><%=getLongName('table_name','biz_offers')%>情報</h2>
<%= render :partial => 'biz_offer/show' %>
<p></p>

<!-- 人材詳細 -->
<h2><%=getLongName('table_name','human_resources')%>情報</h2>
<%= render :partial => 'human_resource/show' %>
<p></p>

<!-- 所属詳細 -->
<h2><%=getLongName('table_name','bp_members')%>情報</h2>
<%= render :partial => 'bp_member/show' %>
<p></p>


<%= form_tag do %>
  <% if @approach.approach_status_type == 'approaching' %>
    <h3>提案ステータス変更ボタン</h3>
    <%= submit_tag '　　提案成功　　', :name => 'approach_success', :onclick=>"return #{confirm_javascript_function("次は面談を作成してくださいね。")}" %> 
    <%= submit_tag '　　提案調整　　', :name => 'approach_adjustment' %> 
    <%= submit_tag '　　提案却下　　', :name => 'approach_reject' %> 
  <% elsif @approach.approach_status_type == 'adjust' %>
    <h3>提案ステータス変更ボタン</h3>
    <%= submit_tag '　　提案却下　　', :name => 'approach_reject' %> 
    <%= submit_tag '　　再提案　　', :name => 'approach_retry' %>
  <% end %>
  <p></p>
<% end %>

<%= form_tag do %>
  <% if @contract %>
    <!-- 契約詳細 -->
    <h2><%=getLongName('table_name','contracts')%>情報</h2>
    <%= render :partial => 'contract/show' %>
    <%= link_to '編集', :controller => 'contract', :action => 'edit', :id => @contract %>
  <% elsif @approach.approach_status_type_active %>
    <% if !@approach.last_interview.blank? && @approach.last_interview.interview_status_type != 'finished' %>
      <%= submit_tag '　　契約作成　　', :name => 'create_contract', :onclick=>"return #{confirm_javascript_function("まだ面談が完了していませんがよろしいですか？")}"  %>
    <% else %>
      <%= submit_tag '　　契約作成　　', :name => 'create_contract' %>
    <% end %>
  <% end %>
<% end %>
<p></p>


<% if @approach.approach_status_type == 'result_waiting' %>
  <%= form_tag do %>
  <% if @contract.blank? %>
    <h3>面談ステータス変更ボタン(対象は最新の面談)</h3>
    <% if @approach.last_interview.blank? || @approach.last_interview.interview_status_type == 'finished' %>
      <%= submit_tag '　　面談作成　　', :name => 'create_interview' %> 
    <% end %>
    <% if @approach.last_interview %>
      <% if @approach.last_interview.interview_status_type == 'interview_waiting' %>
        <%= submit_tag '　　面談結果待ち　　', :name => 'result_wait', :onclick=>"return #{confirm_javascript_function("面談ステータスを面談結果待ちに変更します。よろしいですか？")}" %> 
        <% #面談ステータスを「面談結果待ち」にする %>
      <% elsif @approach.last_interview.interview_status_type == 'result_waiting' %>
        <%= submit_tag '　　面談ＯＫ　　', :name => 'interview_finish', :onclick=>"return #{confirm_javascript_function("面談結果をＯＫとして更新します。よろしいですか？")}" %> 
        <% #面談ステータスを「面談完了」にして面談作成画面へ %>
        <%= submit_tag '　　面談ＮＧ　　', :name => 'interview_reject', :onclick=>"return #{confirm_javascript_function("面談失敗とし、提案も失敗となります。よろしいですか？")}" %> 
        <%= submit_tag '　　調整要求有　　', :name => 'interview_adjustment' %> 
        <% #面談ステータスを「面談後調整中」にして提案編集画面へ %>
      <% elsif @approach.last_interview.interview_status_type == 'adjusting' %>
        <%= submit_tag '　　面談ＮＧ　　', :name => 'interview_reject', :onclick=>"return #{confirm_javascript_function("面談失敗とし、提案も失敗となります。よろしいですか？")}" %> 
        <%= submit_tag '　　再提案　　', :name => 'interview_retry' %> 
        <% #面談ステータスを「面談結果待ち」にする %>
        <%= submit_tag '　　調整失敗　　', :name => 'interview_adjustment_reject', :onclick=>"return #{confirm_javascript_function("調整失敗とし、提案も失敗となります。よろしいですか？")}" %>
      <% end %>
    <% end %>
  <p></p>
    <% end %>
  <% end %>
<% end %>


<% if !@interviews.blank? %>
<!-- 面談情報 -->
  <h2><%=getLongName('table_name','interviews')%>情報</h2>
  <%= render :partial => 'interview/list' %>
<% else %>
  <%= link_to (getLongName('table_name','interviews')+'の新規作成'), :controller => :interview, :action => 'new', :approach => @approach %>
<% end %>
<p></p>


<h2>スキルシート一覧</h2>

<% if !@attachment_files.blank? %>
  <%= render :partial => 'attachment_file/list' %>
<% end %>

<%= form_tag({:controller => 'attachment_file', :action => 'create', :parent_table => 'approaches', :parent_id => @approach, :back_to => request.env['REQUEST_URI']}, :multipart => true) do %>
  <div align=right>
  <table>
    <tr>
      <td rowspan=2>スキルシートのアップロード </td>
      <td><%= file_field_tag 'upfile', :size => 60 %></td>
    </tr>
    <tr>
      <td><%= submit_tag "アップロードする" %></td>
    </tr>
  </table>
  </div>
<% end %>


