<h1>全ての申請一覧</h1>

<%= form_tag :action => 'do_search' do %>
  <%= render :partial => 'form_search' %>  
<% end %>

<%= paginate(@base_applications) %>

<table class="list_table">
  <tr>
    <th style="width: 6%;">No</th>
    <th><%=getShortName('employees', 'employee_name')%></th> 
    <th align="center">申請区分</th> 
    <th><%=getShortName('holiday_applications', 'application_date')%></th> 
    <th>理由</th>
    <th>状態</th> 
    <th>アクション</th>
  </tr>

<% @base_applications.each_index do |idx| base_application = @base_applications[idx] %>
  <tr >
    <td align="center"><%=h params[:page]? ((params[:page].to_i-1) * SysConfig.get_per_page_count).to_i+idx+1 : idx+1 %></td>
    <td style="width: 20%;"><%=h base_application.user.employee.employee_name %></td>

    <% if base_application.application_type == 'holiday_app' %>
      <td align="center" style="width: 10%;"><%=h base_application.holiday_application.working_type_long_name %></td>
      <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
      <td><%=h base_application.holiday_application.reason %></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_long_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'holiday_application', :action => 'show', :id => base_application.holiday_application, :back_to => request.env['REQUEST_URI'] %>
        <%= link_to '変更', :controller => 'holiday_application', :action => 'edit', :id => base_application.holiday_application, :back_to => request.env['REQUEST_URI'] %>
      </td>

    <% elsif base_application.application_type == 'business_trip_app' %>
      <td align="center" style="width: 10%;">出張</td>
      <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
      <td><%=h base_application.business_trip_application.reason %></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_long_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'business_trip_application', :action => 'show', :id => base_application.business_trip_application, :back_to => request.env['REQUEST_URI'] %>
        <%= link_to '変更', :controller => 'business_trip_application', :action => 'edit', :id => base_application.business_trip_application, :back_to => request.env['REQUEST_URI'] %>
      </td>

    <% elsif base_application.application_type == 'other_app' %>
      <td align="center" style="width: 10%;"><%=h base_application.other_application.working_option_type_long_name %></td>
      <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
      <td><%=h base_application.other_application.reason %></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_long_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'other_application', :action => 'show', :id => base_application.other_application, :back_to => request.env['REQUEST_URI'] %>
        <%= link_to '変更', :controller => 'other_application', :action => 'edit', :id => base_application.other_application, :back_to => request.env['REQUEST_URI'] %>
      </td>

    <% elsif base_application.application_type == 'monthly_working_app' %>
      <td align="center" style="width: 10%;">作業日報</td>
      <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
      <td></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_long_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'monthly_working', :action => 'list', :id => base_application.monthly_working.base_month, :back_to => request.env['REQUEST_URI'] %>
      </td>

    <% elsif base_application.application_type == 'weekly_report_app' %>
      <td align="center" style="width: 10%;">週報</td>
      <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
      <td></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_long_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'weekly_report', :action => 'list', :id => base_application.weekly_report.base_month, :back_to => request.env['REQUEST_URI'] %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<br>

<%= paginate(@base_applications) %>

<br />

