<h1>却下コメント</h1>
<%= error_messages_for 'comment' %>

<%= form_tag :action => 'reject', :id => params[:id], :application_type => params[:application_type], :approval_status_type => params[:approval_status_type], :back_to => params[:back_to] do %>
  <table class="input_table">
    <tr>
      <th><%=getLongName('comments','content')%></th>
      <td><%= text_area 'comment', 'content', :size => '60x10'  %>
      </td>
    </tr>
  </table>

  <p><%= hidden_field 'comment', 'application_approval_id'  %></p>
  <p><%= hidden_field 'comment', 'lock_version'  %></p>
  <%= submit_tag "却下する" %>
<% end %>

<%= link_to '戻る', (params[:back_to] || {:controller => '/'}) %>

