<h1><%=getLongName('table_name','payment_per_months')%>一覧</h1>

<%= paginate(@payment_per_months) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('payment_per_months', 'id')%></th>
    <th><%=getShortName('payment_per_months', 'user_id')%></th>
    <th><%=getShortName('payment_per_months', 'cutoff_period')%></th>
    <th><%=getShortName('payment_per_months', 'cutoff_start_date')%></th>
    <th><%=getShortName('payment_per_months', 'cutoff_end_date')%></th>
    <th><%=getShortName('payment_per_months', 'expense_paid_date')%></th>
    <th><%=getShortName('payment_per_months', 'cutoff_status_type')%></th>
    <th><%=getShortName('payment_per_months', 'temporary_amount_total')%></th>
    <th><%=getShortName('payment_per_months', 'total_amount')%></th>
    <th>　</th>
  </tr>
  
<% for payment_per_month in @payment_per_months %>
  <tr>
    <td><%=h payment_per_month.id %></td>
    <td><%=h payment_per_month.user_id %></td>
    <td><%=h payment_per_month.cutoff_period %></td>
    <td><%=h payment_per_month.cutoff_start_date.to_date %></td>
    <td><%=h payment_per_month.cutoff_end_date.to_date %></td>
    <td><%=h payment_per_month.expense_paid_date %></td>
    <td><%=h payment_per_month.cutoff_status_type %></td>
    <td><%=h payment_per_month.temporary_amount_total %></td>
    <td><%=h payment_per_month.total_amount %></td>
    <td>
      <%= link_to '表示', :action => 'show', :id => payment_per_month %>, 
      <%= link_to '変更', :action => 'edit', :id => payment_per_month %>, 
      <%= link_to '削除', { :action => 'destroy', :id => payment_per_month }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@payment_per_months) %>

<br />

<%= link_to (getLongName('table_name','payment_per_months')+'の新規作成'), :action => 'new' %>
