<h1><%=getLongName('table_name','payment_per_months')%>新規作成</h1>

<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "登録" %>
<% end %>

<%= link_to '一覧に戻る', :action => 'list' %>
