<h1>勤務表</h1>

<p><%=h @target_user.employee.getFullName %></p>


<div class="pagenate">
<%= @base_month.last_month ? link_to('前の月', {:id => @base_month.last_month.id, :user_id => params[:user_id]}) : '前の月' %>
<b>[<%=h @base_month.start_date.to_date %> ～ <%=h @base_month.end_date.to_date %>]勤怠状況一覧</b>
<%= @base_month.next_month ? link_to('次の月', {:id => @base_month.next_month.id, :user_id => params[:user_id]}) : '次の月' %>
</div>

<% unless @monthly_working %>
  <%= form_tag :action => 'init_monthly_working', :id => @base_month, :user_id => @target_user.id, :back_to => request.env['REQUEST_URI'] do %>
<p>
    作業日報データが初期化されていません。最初に作業日報データ初期化処理を行ってください。<br/>
    <%= submit_tag '作業日報データ初期化', :confirm => '作業日報データ初期化します。よろしいですか?' %>
</p>
  <% end %>
<% else %>
<br>
<table border="0" style="text-align: right;">
  <tr>
    <th width="120">月所定労働日数：</th>
    <td width="120">
    <% if current_user.personnel_department? %>
      <%= form_tag :action => 'update', :id => @monthly_working, :back_to => request.env['REQUEST_URI'] do %>
        <%= error_messages_for 'monthly_working' %>
        <%= text_field_tag "monthly_working[labor_day_total]", @monthly_working.labor_day_total.to_i, :id => "monthly_working_labor_day_total", :size => 3 %>日
        <%= submit_tag "変更" %>
      <% end %>
    <% else %>
      <%= @monthly_working.labor_day_total %>日
    <% end %>
    </td>
    <th width="120">月所定労働時間：</th>
    <td width="80"><%=h @monthly_working.get_labor_working_hour_count %>時間</td>
  </tr>
  <tr>
    <th>月総労働日数：</th>
    <td><%=h @monthly_working.get_working_type_counts(DailyWorking.count_day_total_types) %>日</td>
    <th>月総労働時間：</th>
    <td><%=h @monthly_working.real_working_hour_format %></td>
  </tr>
  <% if @monthly_working.hold_flg == 0 %>
  <tr>
    <th>有休残日数：</th>
    <td><%=h @vacation.remain_total %>日</td>
    <th>代休残時間：</th>
    <td><%=h @vacation.compensatory_remain_total_format %></td>
  </tr>
  <tr>
    <th>有休今期迄：</th>
    <td><%=h @vacation.calced_cutoff_day_total_format %>日</td>
    <th>代休今月迄：</th>
    <td><%=h @vacation.cutoff_compensatory_hour_total_format %></td>
  </tr>
  <tr>
    <th>夏期休暇残日数：</th>
    <td><%=h @vacation.summer_vacation_remain_total(Date.today) %>日</td>
    <th>ライフプラン残日数：</th>
    <td><%=h @vacation.life_plan_remain_total%>日</td>
  </tr>
  <% else %>
  <tr>
    <th>有休残日数：</th>
    <td><%=h @monthly_working.remain_total %>日</td>
    <th>代休残時間：</th>
    <td><%=h calHourMinuteFormatJa(@monthly_working.compensatory_remain_total) %></td>
  </tr>
  <tr>
    <th>有休今期迄：</th>
    <td><%=h @monthly_working.cutoff_day_total %>日</td>
    <th>代休今月迄：</th>
    <td><%=h calHourMinuteFormatJa(@monthly_working.cutoff_compensatory_hour_total) %></td>
  </tr>
  <tr>
    <th>夏期休暇残日数：</th>
    <td><%=h @monthly_working.summer_vacation_remain_total %>日</td>
    <th>ライフプラン残日数：</th>
    <td><%=h @monthly_working.life_plan_remain_total%>日</td>
  </tr>
  <% end %>
</table>
<br/>

<% if @monthly_working.base_application %>
  <% @hide_edit = true %>
  <%= render :partial => 'base_application/application_mw', :locals => {:application => @monthly_working} %>
  <% if @monthly_working.base_application.approval_status_type != 'fixed' %>
    <%= link_to '勤務表報告の取消', { :action => 'cancel_monthly_working', :id => @monthly_working, :back_to => request.env['REQUEST_URI']}, :confirm => 'この勤務表報告を取り消します。よろしいですか?', :method => :post %>
  <% end %>
<% elsif @monthly_working.start_date <= '2011/04/21'.to_date %>
<% else %>
  <br/>
  <%= link_to '承認者に報告', { :action => 'send_monthly_working', :id => @monthly_working, :back_to => request.env['REQUEST_URI']}, :confirm => '承認者にこの勤務表を送ります。よろしいですか?', :method => :post %>
<% end %>

<table class="list_table">
  <tr >
    <th>曜日</th>
    <th>日付</th>
    <th>勤怠種別</th>
    <th colspan="2" style="width: 12%;">勤怠</th>
    <th>出張</th>
    <th>出社</th>
    <th>退社</th>
    <th>残業</th>
    <th>摘要</th>
    <th>稼動</th>
    <th>休憩</th>
  </tr>
  
<% for daily_working in @monthly_working.daily_workings %>
  <tr style="text-align: center;<%= daily_working.working_date_color %>"  >
    <td style="width: 5%;"><%=h getDayOfWeek(daily_working.working_date) %></td>
    <td style="width: 10%;">
      <%= link_to_popup_mode daily_working.working_date.to_date, :controller => 'daily_working', :action => 'edit', :id => daily_working, :back_to => request.env['REQUEST_URI'] %>
    </td>
    <td style="width: 6%;"><%=h daily_working.working_type_short_name %></td>
<%# >>>>>>>>>>>休暇申請 start... %>
    <% if holiday_application = @monthly_working.holiday_application_by_date(daily_working.working_date) %>
      <td style="width: 6%; border-style: solid none solid solid; background-color: <%= holiday_application.base_application.get_color_approval_status_type %>;"><%= link_to_popup_mode "#{holiday_application.base_application.approval_status_type_short_name}", :controller => 'holiday_application', :action => 'show', :id => holiday_application, :back_to => request.env['REQUEST_URI'] %></td>
    <% else %>
      <td style="width: 6%; border-style: solid none solid solid;"></td>
    <% end %>
<%# >>>>>>>>>>>休暇申請 end... %>

<%# >>>>>>>>>>>他申請 start... 遅刻、早退、直行、直帰 => lack %>

    <td style="width: 6%; border-style: solid solid solid none; background-color: <%= @monthly_working.get_color_approval_status_type_set_lack_app_by_date(daily_working.working_date) %>;">
    <% for other_application in @monthly_working.other_applications_by_date(daily_working.working_date) %>
    <% next unless other_application.lack_application? %>
      <%= link_to_popup_mode "#{other_application.working_option_type_short_name} #{other_application.base_application.approval_status_type_short_name}", :controller => 'other_application', :action => 'show', :id => other_application, :back_to => request.env['REQUEST_URI'] %>
    <% end %>
    <%# 遅刻可能な区分で、遅延申請が出ていない場合 %>
    <%= daily_working.delayed_cancel_flg == 1 ? '遅延' : '' %>
    </td>
<%# >>>>>>>>>>>他申請 end... %>

    <% if business_trip_application = @monthly_working.business_trip_application_by_date(daily_working.working_date) %>
      <td style="width: 6%; background-color: <%= business_trip_application.base_application.get_color_approval_status_type %>;">
        <%= link_to_popup_mode business_trip_application.base_application.approval_status_type_short_name, :controller => 'business_trip_application', :action => 'show', :id => business_trip_application, :back_to => request.env['REQUEST_URI'] %>
      </td>
    <% else %>
      <td style="width: 6%;"></td> 
    <% end %>
    <td style="width: 7%; color: <%=h daily_working.get_color_come_lately %>;"><%=h daily_working.in_time_format %></td>
    <td style="width: 7%; color: <%=h daily_working.get_color_out_time %>;"><%=h daily_working.out_time_format %></td>
    <% if other_application = @monthly_working.over_time_application_by_date(daily_working.working_date) %>
      <td style="width: 6%; background-color: <%= other_application.taxi_flg == 0 ? other_application.base_application.get_color_approval_status_type : '#3cb371'%>;">
        <%= link_to_popup_mode "#{other_application.base_application.approval_status_type_short_name}", :controller => 'other_application', :action => 'show', :id => other_application, :back_to => request.env['REQUEST_URI'] %>
      </td>
    <% else %>
      <td style="width: 6%;"/>
    <% end %>
    <td style="width: 24%;" ><div style="padding: 0;margin: 0;overflow: hidden;width: 100%; height: 1.1em;"><%=h daily_working.summary.to_s %></div></td>
    <td style="width: 7%;"><%=h daily_working.hour_total_format %></td>
    <td style="width: 7%;"><%=h daily_working.rest_hour_format %></td>
    
  </tr>
<% end %> <% 'end of for daily_working' %>
  
</table>
<br>

<table border="0" class="result_table" cellspacing="0">
  <tr style="background-color: #80ffff">
    <th width="50">　</th>
    <th width="50">休出</th>
    <th width="50">有休</th>
    <th width="50">半休</th>
    <th width="50">代休</th>
    <th width="50">夏期</th>
    <th width="50">慶弔</th>
    <th width="50">ライフプラン</th>
    <th width="50">欠勤</th>
    <th width="50">遅刻</th>
    <th width="50">早退</th>
    <th width="50">残業</th>
    <th width="50">出張</th>
    <th width="50">ﾀｸｼｰ</th>
  </tr>
  <tr>
    <th align='center'>合計</th>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['on_holiday_working']) %></td>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['vacation_dayoff']) %></td>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['only_AM_working','only_PM_working']) %></td>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['compensatory_dayoff']) %></td>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['summer_dayoff']) %></td>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['occasion_dayoff']) %></td>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['life_plan_dayoff']) %></td>
    <td align='center'><%=h @monthly_working.get_working_type_counts(['absence_dayoff']) %></td>
    <td align='center'><%=h @monthly_working.come_lately_count %></td>
    <td align='center'><%=h @monthly_working.leave_early_count %></td>
    <td align='center'><%=h @monthly_working.over_time_count %></td>
    <td align='center'><%=h @monthly_working.business_trip_count %></td>
    <td align='center'><%=h @monthly_working.taxi_count %></td>
  </tr>
</table>
<br/>

<% if false %>
<%= form_tag :action => 'clear_monthly_working', :id => @monthly_working, :back_to => request.env['REQUEST_URI'] do %>
<p>
  <%= submit_tag '作業日報データの再初期化', :confirm => '作業日報データ再初期化します。よろしいですか?' %>
</p>
<% end %>
<% end %>

<% end %><% "end of if monthly_working " %>

<br/>
