<h1>勤怠情報一覧</h1>
<%
  tabs = []
  title_map.each do |key,val|
    tabs << link_and_if(controller.action_name != key, val, :controller => :monthly_working, :action => key)
  end
%>
<%= raw tabs.join(" | ") %>
<br/>
<hr> 

<%= paginate(@users) %>

<% if working_time_sheet? %>
<%= form_tag :action => 'clear_monthly_working', :back_to => request.env['REQUEST_URI'] do %>
  <p>
    再初期化を行いたい作業月を選択して下さい
    </br>
    <%= select_tag 'reinit_year', options_for_select(@arr_year, @cur_year.to_i) %>年　
    <%= select_tag 'reinit_month', options_for_select(@arr_month, @cur_month.to_i) %>月　
    <%= submit_tag '作業日報データの再初期化', :confirm => '作業日報データ再初期化します。よろしいですか?' %>
  </p>
<% end %>
<% end %>

<table class="list_table">
  <caption style="font-size:14px"><b>
  <%= get_title %>
  </b></caption>
  <tr >
    <th align="center" style="width: 6%;">保険No.</th> 
    <th style="width: 15%;">氏名</th> 
    <% for base_month in @base_months %>
      <th align="center" style="width: 5%;"><%=h base_month.end_date.strftime("%Y/%m") %></th>
    <% end %>
    <% if !working_time_sheet? %>
      <th align="center" style="width: 5%;">合計</th>
    <% end %>
  </tr>

<% @users.each_index do |idx| user = @users[idx] %>
  <tr>
    <td align="center" style="width: 6%;" ><%=h user.employee.insurance_code.to_s %></td>
    <td style="width: 15%;"><%=h user.employee.employee_name.to_s %></td>
    <% total = 0 %>
    <% for base_month in @base_months %>
      <% monthly_working = MonthlyWorking.find(:first, :conditions => ["user_id = ? and base_month_id = ?", user.id, base_month.id]) %>
      <td align="center" style="width: 5%;">
      <% if monthly_working %>
        <% if total_working_hour? %>
          <% total += monthly_working.real_working_second_count %> 
          <%=h monthly_working.format_hour_minute(monthly_working.real_working_second_count) %>
        <% elsif total_negative_hour? %>
          <% total += monthly_working.total_negative_hour %> 
          <%=h monthly_working.format_hour_minute(monthly_working.total_negative_hour) %>
        <% elsif total_latearly_count? %>
          <% total += monthly_working.total_latearly_count %> 
          <%=h monthly_working.total_latearly_count %>回
        <% elsif total_vacation_count? %>
          <% monthly_working.count_working_type %>
          <% total += monthly_working.total_vacation_count %> 
          <%=h monthly_working.total_vacation_count %>日
        <% elsif working_time_sheet? %>
          <%= link_to '表示', :controller => :monthly_working, :action => :list, :id => base_month, :user_id => monthly_working.user_id, :back_to => request.env['REQUEST_URI'] %>
        <% end %>
      <% else %>
        <% if working_time_sheet? %>
          <%= link_to '初期化', { :action => 'init_monthly_working', :id => base_month, :user_id => user.id, :back_to => request.env['REQUEST_URI']}, :confirm => '作業月データを初期します。よろしいですか?', :method => :post %>
        <% end %>
      <% end %>
      </td>
    <% end %>
    
    <% if !working_time_sheet? %>
      <td align="center" style="width: 5%;">
        <% if total_working_hour? or total_negative_hour? %>
          <%=h calHourMinuteFormat(total) %>
        <% elsif total_latearly_count? %>
          <%= total %>回
        <% elsif total_vacation_count? %>
          <%= total == 0 ? 0 : total %>日
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>

</table>

<br>
<%= paginate(@users) %>


