<%= error_messages_for 'type' %>

<p><label for="type_id"><%= getLongName('types', 'id') %></label><br/>
<%= @type.id || 'none' %></p>

<!--[form:type]-->
<p><label for="type_type_section"><%=getLongName('types','type_section')%></label><br /><%= text_field 'type', 'type_section'  %></p>
<p><label for="type_type_key"><%=getLongName('types','type_key')%></label><br /><%= text_field 'type', 'type_key'  %></p>
<p><label for="type_long_name"><%=getLongName('types','long_name')%></label><br /><%= text_field 'type', 'long_name'  %></p>
<p><label for="type_short_name"><%=getLongName('types','short_name')%></label><br /><%= text_field 'type', 'short_name'  %></p>
<p><label for="type_other_name"><%=getLongName('types','other_name')%></label><br /><%= text_field 'type', 'other_name'  %></p>
<p><label for="type_type_description"><%=getLongName('types','type_description')%></label><br /><%= text_field 'type', 'type_description'  %></p>
<p><label for="type_type_description_text"><%=getLongName('types','type_description_text')%></label><br /><%= text_area 'type', 'type_description_text'  %></p>
<p><label for="type_display_order1"><%=getLongName('types','display_order1')%></label><br /><%= text_field 'type', 'display_order1'  %></p>
<p><label for="type_display_order2"><%=getLongName('types','display_order2')%></label><br /><%= text_field 'type', 'display_order2'  %></p>
<p><label for="type_logic_bind_type"><%=getLongName('types','logic_bind_type')%></label><br /><%= text_field 'type', 'logic_bind_type'  %></p>
<!--
<p><label for="type_created_at"><%=getLongName('types','created_at')%></label><br /><%= datetime_select 'type', 'created_at'  %></p>
<p><label for="type_updated_at"><%=getLongName('types','updated_at')%></label><br /><%= datetime_select 'type', 'updated_at'  %></p>
<p><label for="type_lock_version"><%=getLongName('types','lock_version')%></label><br /><%= text_field 'type', 'lock_version'  %></p>
<p><label for="type_created_user"><%=getLongName('types','created_user')%></label><br /><%= text_field 'type', 'created_user'  %></p>
<p><label for="type_updated_user"><%=getLongName('types','updated_user')%></label><br /><%= text_field 'type', 'updated_user'  %></p>
<p><label for="type_deleted"><%=getLongName('types','deleted')%></label><br /><%= text_field 'type', 'deleted'  %></p>
-->
<p><%= hidden_field 'type', 'lock_version'  %></p>
<!--[eoform:type]-->

