<h1><%=getLongName('table_name','types')%>一覧</h1>

<%= paginate(@types) %>

<table class="list_table">
  <tr>
  <% for column in Type.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('types', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for type in @types %>
  <tr>
  <% for column in Type.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h type.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => type %>, 
      <%= link_to '変更', :action => 'edit', :id => type %>, 
      <%= link_to '削除', { :action => 'destroy', :id => type }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@types) %>

<br />

<%= link_to (getLongName('table_name','types')+'の新規作成'), :action => 'new' %>
