<h1><%=getLongName('table_name','expense_applications')%>一覧</h1>
<%= link_to('謝礼申請一覧', :controller => :expense_application, :action => :fee_list, :payment_flg => '0') %>
<%= form_tag :action => 'do_search', :mode => params[:mode], :by_approver => params[:by_approver] do %>
  <%= render :partial => 'form_search' %>  
<% end %>

<%= paginate(@base_applications) %>

<table class="list_table">
  <tr>
    <th width="80">申請日</th>
    <th><%=getShortName('employees', 'employee_name')%></th>
    <th width="100">申請区分</th>
    <th width="100">受注No.</th>
    <th width="">目的</th>
    <th width="80">金額</th>
    <th>状態</th> 
    <th>アクション</th>
  </tr>
<% for base_application in @base_applications %>
  <tr>
    <td align="center"><%=base_application.expense_application.application_date.to_date%></td>
    <td style="width: 20%;"><%=h base_application.user.employee.employee_name %></td>
    <td align="left"><%=h base_application.expense_application.expense_app_type_long_name %>申請</td>
    <td align="left"><%=h base_application.expense_application.book_no %></td>
    <td align="left"><%=h base_application.expense_application.purpose %></td>
    <td align="right"><%=h money_format(base_application.expense_application.approximate_amount.to_i) %></td>
    <td><%=h base_application.approval_status_type_other_name %></td>
    <td><%= link_to('表示', :controller => :expense_application, :action => :show, :id => base_application.expense_application, :back_to => request.env['REQUEST_URI']) %>
    <%= !base_application.self_data?(current_user.id) || base_application.canceled? ? '' : link_to('編集', :controller => :expense_application, :action => :edit, :id => base_application.expense_application) %></td>
  </tr>
<% end %>
</table>

<br />
