<h1>社員経費情報一覧</h1>

<%= form_tag :action => 'do_accounting_search' do %>
<table border='0' cellpadding='0' width="100%" >
<tr>
  <td style="width: 35%;" align="right">期間：</td>
  <td style="width: 65%;" align="left">
    <%= date_field_tag 'date_from', session[:date_from] %>　～　<%= date_field_tag 'date_to', session[:date_to] %>
  </td>
<tr>
  <td  align="right">状態：</td>
  <td>
    <%= select_tag 'filter_type', options_for_select([[],['精算待','waiting'],['精算済','closed'],['支払済','paied']], session[:filter_type]) %>  
  </td>
</tr>
<tr>
  <td></td>
  </td>
  <td>
    <%= submit_tag " 検 索 ", :onclick => "return validateDate($('#date_from').val()) && validateDate($('#date_to').val());" %>
  </td>
</tr>

</table>

<p><input name="edit_type" type="hidden" value="<%= params[:edit_type] %>" /></p>
<% end %>

<%= paginate(@base_applications) %>
<%= form_tag({:action => :payment, :back_to => request.env['REQUEST_URI']}, :id => 'list_form') do %>
<table class="list_table">
  <tr>
    <th style="width: 6%;">保険No</th>
    <th><%=getShortName('employees', 'employee_name')%></th> 
    <th align="center">申請種類</th> 
    <th><%=getShortName('holiday_applications', 'application_date')%></th> 
    <th>目的/月度</th>
    <th>金額</th>
    <th>経理状態</th> 
    <th colspan=3>処理</th>
  </tr>
<% @base_applications.each do |base_application| %>
  <tr >
    <% if base_application.application_type != 'payment_per_month_app' or 
          (base_application.application_type == 'payment_per_month_app' and base_application.payment_per_month) %>
      <td align="center"><%=h base_application.user.employee.insurance_code %></td>
      <td style="width: 15%;"><%=h base_application.user.employee.employee_name %></td>
    <% else %>
      <td align="center"></td>
      <td style="width: 15%;"></td>
    <% end %>
    
    <% if base_application.application_type == 'payment_per_month_app' %>
      <% if base_application.payment_per_month %>
        <td align="center" style="width: 10%;"><%=h base_application.application_type_name %></td>
        <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
        <td><%=h base_application.payment_per_month.cutoff_period_format %></td>
        <td align="right" style="width: 8%;">
          <%=h money_format(base_application.payment_per_month.total_amount.to_i) %>
        </td>
        <td align="center" style="width: 10%;background-color: <%= base_application.payment_per_month.cutoff_status_type == 'closed' ? '#696969' : '#adff2f' %>;">
          <%=h base_application.payment_per_month.cutoff_status_type_name %>
        </td>
        <td align="center" style="width: 6%;">
          <%= link_to '表示', :controller => 'expense_detail', :action => 'list', :id => base_application.payment_per_month.base_month_id, :user_id => base_application.user_id, :back_to => request.env['REQUEST_URI'] %>
        </td>
        <% if base_application.payment_per_month.cutoff? %>
          <td colspan=2 align='center'><%=base_application.payment_per_month.expense_paid_date.to_date%></td>
        <% else %>
          <td align="right" style="border-right: #FFFFFF 0px none; "><%= date_field_tag "date_#{base_application.id}", nil, :size => 12, :formid => 'list_form' %></td><td align="left" style="border-left: #FFFFFF 0px none;"><%= submit_tag '払済', :name => "btn_date_#{base_application.id}" %></td>
        <% end %>
      <% end %>

    <% elsif base_application.application_type == 'payment_per_case_app' %>
      <td align="center" style="width: 10%;"><%=h base_application.application_type_name %></td>
      <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
      <td><%=h base_application.payment_per_case.payment_per_month.cutoff_period_format %></td>
      <td align="right" style="width: 8%;"><%=h money_format(base_application.payment_per_case.total_amount.to_i) %></td>
      <td align="center" style="width: 10%;background-color: <%= base_application.payment_per_case.cutoff_status_type == 'closed' ? '#696969' : '#adff2f' %>;">
        <%=h base_application.payment_per_case.cutoff_status_type_name %>
      </td>
      <td align="center" style="width: 6%;">
        <%= link_to '表示', :controller => 'expense_detail', :action => 'case_list', :id => base_application.payment_per_case.id, :user_id => base_application.user_id, :back_to => request.env['REQUEST_URI'] %>
      </td>
      <% if base_application.payment_per_case.cutoff? %>
        <td colspan=2 align='center'><%=base_application.payment_per_case.payment_date.to_date%></td>
      <% else %>
        <td align="right" style="border-right: #FFFFFF 0px none; "><%= date_field_tag "date_#{base_application.id}", nil, :size => 12, :formid => 'list_form' %></td><td align="left" style="border-left: #FFFFFF 0px none;"><%= submit_tag '払済', :name => "btn_date_#{base_application.id}" %></td>
      <% end %>

    <% elsif base_application.application_type == 'expense_app' %>
      <td align="center" style="width: 10%;"><%=h base_application.expense_application.expense_app_type_name%></td>
      <td align="center" style="width: 10%;"><%=h base_application.application_date.to_date %></td>
      <td><%=h base_application.expense_application.purpose %></td>
      <td align="right" style="width: 8%;"><%=h money_format(base_application.expense_application.approximate_amount.to_i)%></td>
      <% if base_application.expense_application.paymented? %>
        <td align="center" style="width: 10%;background-color: #696969;"><%=h '支払済' %></td>
        <td align="center" style="width: 6%;">
          <%= link_to '表示', :controller => 'expense_application', :action => 'show', :id => base_application.expense_application, :back_to => request.env['REQUEST_URI'] %>
        </td>
        <td colspan=2 align='center'><%=base_application.expense_application.payment_date.to_date%></td>
      <% else %>
        <td align="center" style="width: 10%;background-color: #adff2f;"><%=h '精算待' %></td>
        <td align="center" style="width: 6%;">
          <%= link_to '表示', :controller => 'expense_application', :action => 'show', :id => base_application.expense_application, :back_to => request.env['REQUEST_URI'] %>
        </td>
        <td align="right" style="border-right: #FFFFFF 0px none; "><%= date_field_tag "date_#{base_application.id}", nil, :size => 12, :formid => 'list_form' %></td><td align="left" style="border-left: #FFFFFF 0px none;"><%= submit_tag '払済', :name => "btn_date_#{base_application.id}" %></td>
      <% end %>

    <% end %>
  </tr>
<% end %>
</table>
<br/>
<% end # form_tag %>

