<h1>勤怠申請一覧</h1>

<%= form_tag :action => 'do_search', :mode => params[:mode], :by_approver => params[:by_approver] do %>
  <%= render :partial => 'form_search' %>  
<% end %>

<%= paginate(@base_applications) %>

<table class="list_table">
  <tr>
    <th style="width: 6%;">No</th>
    <th><%=getShortName('employees', 'employee_name')%></th> 
    <th align="center">申請区分</th> 
    <th style="width: 15%;">申請日</th> 
    <th>申請対象日</th>
    <th>目的</th>
    <th>状態</th> 
    <th>アクション</th>
  </tr>

<% @base_applications.each_index do |idx| base_application = @base_applications[idx] %>
    <% next if base_application.application_type == 'weekly_report_app' && !base_application.weekly_report %>

  <tr >
    <td align="center"><%=h params[:page]? ((params[:page].to_i-1) * SysConfig.get_per_page_count).to_i+idx+1 : idx+1 %></td>
    <td style="width: 15%;"><%=h base_application.user.employee.employee_name %></td>

    <% if base_application.application_type == 'holiday_app' %>
      <% holiday_application = base_application.holiday_application %>
      <td align="center" style="width: 10%;"><%=h holiday_application.working_type_long_name %></td>
      <td align="center"><%=h base_application.application_date %></td>
      <td align="center"><%=h holiday_application.start_date.to_date %><%= holiday_application.start_date != holiday_application.end_date ? " ～ #{holiday_application.end_date.to_date}" : "" %></td>
      <td align="left" style="width: 15%;"><div style="padding: 0;margin: 0;overflow: hidden;width: 100%; height: 1.1em;"><%=h holiday_application.reason %></div></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_other_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'holiday_application', :action => 'show', :id => holiday_application, :back_to => request.env['REQUEST_URI'] %>
        <% unless holiday_application.monthly_working_applicated? %>
          <%= !base_application.self_data?(current_user.id) || base_application.canceled? ? '' : link_to('編集', :controller => 'holiday_application', :action => 'edit', :id => holiday_application, :back_to => request.env['REQUEST_URI']) %>
          <%= raw ApplicationApproval.application_approver?(holiday_application, current_user.id) ? link_to_change_approval_status(ApplicationApproval.application_approval(holiday_application, current_user.id)).compact.join(" ") : '' %>
        <% end %>
      </td>

    <% elsif base_application.application_type == 'business_trip_app' %>
      <% business_trip_application = base_application.business_trip_application %>
      <td align="center" style="width: 10%;">出張</td>
      <td align="center"><%=h base_application.application_date %></td>
      <td align="center"><%=h business_trip_application.start_date.to_date %> ～ <%=h business_trip_application.end_date.to_date %></td>
      <td align="left" style="width: 15%;"><div style="padding: 0;margin: 0;overflow: hidden;width: 100%; height: 1.1em;"><%=h business_trip_application.reason %></div></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_other_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'business_trip_application', :action => 'show', :id => business_trip_application, :back_to => request.env['REQUEST_URI'] %>
        <% unless business_trip_application.monthly_working_applicated? %>
          <%= !base_application.self_data?(current_user.id) || base_application.canceled? ? '' : link_to('編集', :controller => 'business_trip_application', :action => 'edit', :id => business_trip_application, :back_to => request.env['REQUEST_URI']) %>
          <%= raw ApplicationApproval.application_approver?(business_trip_application, current_user.id) || business_trip_application.sales_person_id == current_user.id ? link_to_change_approval_status(ApplicationApproval.application_approval(business_trip_application, current_user.id)).compact.join(" ") : '' %>
        <% end %>
      </td>

    <% elsif base_application.application_type == 'other_app' %>
      <% other_application = base_application.other_application %>
      <td align="center" style="width: 10%;"><%=h other_application.working_option_type_long_name %></td>
      <td align="center"><%=h base_application.application_date %></td>
      <td align="center"><%=h other_application.target_date.to_date %></td>
      <td align="left" style="width: 15%;"><div style="padding: 0;margin: 0;overflow: hidden;width: 100%; height: 1.1em;"><%=h other_application.reason %></div></td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_other_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'other_application', :action => 'show', :id => other_application, :back_to => request.env['REQUEST_URI'] %>
        <% unless other_application.monthly_working_applicated? %>
          <%= !base_application.self_data?(current_user.id) || base_application.canceled? ? '' : link_to('編集', :controller => 'other_application', :action => 'edit', :id => other_application, :back_to => request.env['REQUEST_URI']) %>
          <%= raw ApplicationApproval.application_approver?(other_application, current_user.id) ? link_to_change_approval_status(ApplicationApproval.application_approval(other_application, current_user.id)).compact.join(" ") : '' %>
        <% end %>
      </td>

    <% elsif base_application.application_type == 'monthly_working_app' %>
      <% monthly_working = base_application.monthly_working %>
      <td align="center" style="width: 10%;">作業日報</td>
      <td align="center"><%=h base_application.application_date %></td>
      <td align="center"><%= monthly_working.start_date.to_date %> ～ <%= monthly_working.end_date.to_date %></td>
      <td align="left" style="width: 15%;"> </td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_other_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'monthly_working', :action => 'list', :id => base_application.monthly_working.base_month, :user_id => base_application.user_id, :back_to => request.env['REQUEST_URI'] %>
      </td>

    <% elsif base_application.application_type == 'weekly_report_app' %>
      <% weekly_report = base_application.weekly_report %>
      <td align="center" style="width: 10%;">週報</td>
      <td align="center"><%=h base_application.application_date %></td>
      <td align="center"><%= weekly_report.start_date.to_date %> ～ <%= weekly_report.end_date.to_date %></td>
      <td align="left" style="width: 15%;"> </td>
      <td align="center" style="width: 10%;"><%=h base_application.approval_status_type_other_name %></td>
      <td style="width: 15%;">
        <%= link_to '表示', :controller => 'weekly_report', :action => 'list', :id => base_application.weekly_report.base_month, :user_id => base_application.user_id, :back_to => request.env['REQUEST_URI'] %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<br />

<%= paginate(@base_applications) %>

<br />
