<h1><%=getLongName('table_name','analysis_templates')%>編集</h1>

<%= form_tag :action => 'update', :id => @analysis_template do %>
  <!--[form:analysis_template]-->
    <%= render :partial => 'form' %>
  <!--[eoform:analysis_template]-->

  <%= submit_tag '更新' %>
<% end %>

<%= link_or_back '戻る', :action => 'show', :id => @analysis_template %>
