<h1><%=getLongName('table_name','analysis_templates')%>一覧</h1>

<% if @analysis_template_pages %>
	<%= paginate(@analysis_templates) %>
<% end %>

<% if params[:mode] && params[:import_mail_id] %>
  <% if !params[:target_id] %>
    <%= back_to_link "解析を行わずに作成する", :controller => params[:mode], :action => 'new', :import_mail_id => params[:import_mail_id] %>
  <% end %>
<% end %>

<table class="list_table">
  <tr>
    <% if params[:mode] && params[:import_mail_id] %>
      <th></th>
    <% end %>
    <th><%=getShortName('analysis_templates', 'analysis_template_name') %></th>
    <th><%=getShortName('business_partners', 'business_partner_name') %></th>
    <th><%=getShortName('bp_pics', 'bp_pic_name') %></th>
    <th><%=getShortName('analysis_templates', 'analysis_template_type') %></th>
    <th><%=getShortName('analysis_templates', 'memo') %></th>
  </tr>
  
<% for analysis_template in @analysis_templates %>
  <tr>
    <% if params[:mode] && params[:import_mail_id] %>
      <% if params[:target_id] %>
        <td align=center><%= back_to_link "選択", :controller => params[:mode], :action => 'edit', :id => params[:target_id], :template_id => analysis_template, :import_mail_id => params[:import_mail_id] %></td>
      <% else %>
        <td align=center><%= back_to_link "選択", :controller => params[:mode], :action => 'new', :template_id => analysis_template, :import_mail_id => params[:import_mail_id] %></td>
      <% end %>
    <% end %>
    <td><%= back_to_link h(analysis_template.analysis_template_name), :action => "show", :id => analysis_template %></td>
    <td><%= h analysis_template.business_partner.blank? ? "" : analysis_template.business_partner.business_partner_name %></td>
    <td><%= h analysis_template.bp_pic.blank? ? "" : analysis_template.bp_pic.bp_pic_short_name %></td>
    <td><%= h analysis_template.analysis_template_type_name %></td>
    <td><%= simple_format h(analysis_template.memo) %></td>
  </tr>
<% end %>
</table>

<% if @analysis_template_pages %>
	<%= paginate(@analysis_templates) %>
<% end %>

<br />

<%= link_to ('照会用'+getLongName('table_name','analysis_templates')+'の新規作成'), :action => 'new', :mode => 'biz_offer' %> | 
<%= link_to ('所属用'+getLongName('table_name','analysis_templates')+'の新規作成'), :action => 'new', :mode => 'bp_member' %>
