<h1><%=getLongName('table_name','analysis_templates')%>新規作成</h1>

<%= form_tag :action => 'create', :mode => params[:mode] do %>


  <!--[form:analysis_template]-->
    <%= render :partial => 'form' %>
  <!--[eoform:analysis_template]-->
  
  <% if params[:mode] == 'biz_offer' %>
    <!--[form:analysis_template_item]-->
      <%= render :partial => 'analysis_template_item/form_biz_offer' %>
    <!--[eoform:analysis_template_item]-->
  <% elsif params[:mode] == 'bp_member' %>
    <!--[form:analysis_template_item]-->
      <%= render :partial => 'analysis_template_item/form_bp_member' %>
    <!--[eoform:analysis_template_item]-->
  <% end %>
  <%= submit_tag "登録" %>
<% end %>

<%= link_or_back '戻る', :action => 'list' %>
