<h1>
<% if @other_application.working_option_type == 'over_time_app' %>
  残業申請編集
<% else %>
  <%=getLongName('table_name','other_applications')%>編集
<% end %>
</h1>

<%= form_tag :action => 'update', :id => @other_application do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新', :onClick => "return validateTime($('#other_application_start_time').val()) && validateTime($('#other_application_end_time').val());" %>
<% end %>

<%= link_to '表示', :action => 'show', :id => @other_application %> |
<%= link_to '戻る', :controller => :base_application, :action => :working_list, :mode => 'all_working' %>
