<h1><%=getLongName('table_name','other_applications')%>一覧</h1>
<%= link_to '全て', :controller => :application_approval, :action => :working_app_by_user, :edit_type => 'working_app_by_user' %> | 
<%= link_to '休暇申請', :controller => :holiday_application, :action => :list %> | 
<%= link_to '出張申請', :controller => :business_trip_application, :action => :list %> | 
<%= link_to '他勤怠申請', :controller => :other_application, :action => :list %>
<br>    
<hr> 

<%= form_tag :action => 'do_search' do %>
  <%= render :partial => 'form_search' %>  
<% end %>

<%= paginate(@other_applications) %>


<table class="list_table">
  <tr>
    <th rowspan="2">No</th>
    <th rowspan="2"><%=getShortName('other_applications', 'working_option_type')%></th> 
    <th rowspan="2"><%=getShortName('other_applications', 'application_date')%></th>
    <th rowspan="2"><%=getShortName('other_applications', 'target_date')%></th>
    <th rowspan="2"><%=getShortName('other_applications', 'start_time')%></th> 
    <th rowspan="2"><%=getShortName('other_applications', 'end_time')%></th>  
    <th rowspan="2"><%=getShortName('other_applications', 'reason')%></th> 
    <th rowspan="2"><%=getShortName('other_applications', 'content')%></th> 
    <% if @approval_authorities.size > 0 %>
      <th colspan="<%= @approval_authorities.size %>">承認者</th>  
    <% end %>
    <th rowspan="2">アクション</th>
  </tr>
  <tr>
    <% for approval_authority in @approval_authorities %>
      <% user = User.find(approval_authority.approver_id) %>
      <th>
      <%=h user.employee.employee_short_name != nil ? user.employee.employee_short_name : user.employee.employee_name %>
      </th> 
    <% end %>
  </tr>
  
<% @other_applications.each_index do |idx| other_application = @other_applications[idx] %>
  <tr>
    <td align="center"><%=h (idx+1) %></td>
    <td align="center" style="width: 8%;"><%=h other_application.working_option_type_long_name %></td>
    <td align="center" style="width: 8%;"><%=h other_application.application_date.to_date %></td>
    <td align="center" style="width: 8%;"><%=h other_application.target_date.to_date %></td>
    <td align="center" style="width: 6%;"><%=h other_application.start_time %></td>
    <td align="center" style="width: 6%;"><%=h other_application.end_time %></td>
    <td><%=h other_application.reason %></td>
    <td><%=h other_application.content %></td>
    <% for approval_authority in @approval_authorities %>
      <% exist = false %>
        <% for application_approval in other_application.application_approvals %>  
        <% if approval_authority.approver_id == application_approval.approver_id %>
          <% exist = true %>
          <% break %>
        <% end %>
      <% end %>
      <% if exist == true %>
        <td align="center"><%=h application_approval.approval_status_type_long_name %></td>
      <% else %>
        <td align="center"> </td>
      <% end %>
    <% end %>
    
    <td>
      <%= link_to '表示', :action => 'show', :id => other_application, :back_to => request.env['REQUEST_URI'] %>, 
      <%= link_to '変更', :action => 'edit', :id => other_application, :back_to => request.env['REQUEST_URI'] %>, 
      <%= link_to '削除', { :action => 'destroy', :id => other_application }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>

</table>
<br>
<%= paginate(@other_applications) %>

<br />

<% if false %>
<%= link_to (getLongName('table_name','other_applications')+'の新規作成'), :action => 'new', :back_to => request.env['REQUEST_URI'] %>
<% end %>
