<h1><%=getLongName('table_name','other_applications')%>一覧</h1>

<%= paginate(@other_applications) %>

<table class="list_table">
  <tr>
    <th>No</th>
    <th><%=getShortName('employees', 'employee_name')%></th> 
    <th><%=getShortName('other_applications', 'working_option_type')%></th> 
    <th><%=getShortName('other_applications', 'target_date')%></th> 
    <th><%=getShortName('other_applications', 'reason')%></th> 
    <th><%=getShortName('other_applications', 'content')%></th> 
    <th><%=getShortName('other_applications', 'approval_status_type')%></th> 
    <th>アクション</th>
  </tr>

<% @other_applications.each_index do |idx| other_application = @other_applications[idx] %>
  <tr>
    <td align="center"><%=h (idx+1) %></td>
    <td><%=h other_application.user.employee.employee_name %></td>
    <td><%=h other_application.working_option_type_long_name %></td>
    <td align="center"><%=h other_application.target_date.to_date %></td>
    <td><%=h other_application.reason %></td>
    <td><%=h other_application.content %></td>
    <td align="center"><%=h other_application.approval_status_type_long_name %></td>
    <td>
      <%= link_to '表示', :action => 'show', :id => other_application %>, 
<%# TODO: approval_status_typeをbase_applicationに移動する %>
      <% if other_application.approval_status_type == 'entry' %> 
        <%= link_to '承認', { :action => 'approve_other_app', :id => other_application }, :confirm => 'この申請を承認します。よろしいですか?', :method => :post %>
        <%= link_to '却下', { :action => 'reject_other_app', :id => other_application }, :confirm => 'この申請を却下します。よろしいですか?', :method => :post %>
      <% elsif other_application.approval_status_type == 'approved' %> 
        <%= link_to '申請中', { :action => 'entry_other_app', :id => other_application }, :confirm => 'この申請が申請中になります。よろしいですか?', :method => :post %>
        <%= link_to '却下', { :action => 'reject_other_app', :id => other_application }, :confirm => 'この申請を却下します。よろしいですか?', :method => :post %>
      <% elsif other_application.approval_status_type == 'reject' %> 
        <%= link_to '申請中', { :action => 'entry_other_app', :id => other_application }, :confirm => 'この申請が申請中になります。よろしいですか?', :method => :post %>
        <%= link_to '承認', { :action => 'approve_other_app', :id => other_application }, :confirm => 'この申請を承認します。よろしいですか?', :method => :post %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
<br>
<%= paginate(@other_applications) %>

<br />

<%= link_to (getLongName('table_name','other_applications')+'の新規作成'), :action => 'new' %>
