<h1>
<% if @other_application.working_option_type == 'over_time_app' %>
  残業申請新規作成
<% else %>
  <%=getLongName('table_name','other_applications')%>新規作成
<% end %>
</h1>

<%= form_tag :action => 'create', :mode => params[:mode] do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "登録", :onClick => "return validateDate($('#other_application_target_date').val()) && validateTime($('#other_application_start_time').val()) && validateTime($('#other_application_end_time'));" %>
<% end %>

<% unless params[:mode] == 'popup_new' %>
<%= link_to '戻る', :controller => :base_application, :action => :working_list, :mode => 'all_working' %>
<% end %>
