<h1><%=getLongName('table_name','sys_configs')%>一覧</h1>

<%= paginate(@sys_configs) %>

<table class="list_table">
  <tr>
  <% for column in SysConfig.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('sys_configs', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for sys_config in @sys_configs %>
  <tr>
  <% for column in SysConfig.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h sys_config.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => sys_config %>, 
      <%= link_to '変更', :action => 'edit', :id => sys_config %>, 
      <%= link_to '削除', { :action => 'destroy', :id => sys_config }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@sys_configs) %>

<br />

<%= link_to (getLongName('table_name','sys_configs')+'の新規作成'), :action => 'new' %>
