<h1><%=getLongName('table_name','configurations')%>一覧</h1>

<%= paginate(@configurations) %>

<table class="list_table">
  <tr>
  <% for column in SysConfig.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('configurations', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for configuration in @configurations %>
  <tr>
  <% for column in SysConfig.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h configuration.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => configuration %>, 
      <%= link_to '変更', :action => 'edit', :id => configuration %>, 
      <%= link_to '削除', { :action => 'destroy', :id => configuration }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@configurations) %>

<br />

<%= link_to (getLongName('table_name','configurations')+'の新規作成'), :action => 'new' %>
