<%= form_for(@delivery_mail) do |f| %>
<%= back_to_field_tag %>
<%= f.hidden_field :lock_version %>
  <% if @delivery_mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_mail.errors.count, "error") %> prohibited this delivery_mail from being saved:</h2>

      <ul>
      <% @delivery_mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="show_table">
  <tr>
    <th><%= f.label :subject, getLongName('delivery_mails', 'subject') %></th>
    <td><%= f.text_field :subject, :onFocus => "xtarget = this;" %></td>
  </tr>
  <tr>
    <th><%= f.label :content, getLongName('delivery_mails', 'content') %></th>
    <td><a href='javascript:insertAtCursor(xtarget, "%%pb_pic_name%%");'>担当者名</a>　<a href='javascript:insertAtCursor(xtarget, "%%business_partner_name%%");'>取引先会社名</a><br/>
        <%= f.text_area :content, :style => "width:90%" , :onFocus => "xtarget = this;" %></td>
  </tr>
  <tr>
    <th><%= f.label :mail_from_name, getLongName('delivery_mails', 'mail_from_name') %></th>
    <td><%=h @delivery_mail.mail_from_name %></td>
    <%= hidden_field_tag 'mail_from_name', @delivery_mail.mail_from_name %>
  </tr>
  <tr>
    <th><%= f.label :mail_from, getLongName('delivery_mails', 'mail_from') %></th>
    <td><%=h @delivery_mail.mail_from %></td>
    <%= hidden_field_tag 'mail_from', @delivery_mail.mail_from %>
  </tr>
  <tr>
    <th><%= f.label :mail_cc, getLongName('delivery_mails', 'mail_cc') %></th>
    <td><%= f.text_field :mail_cc %></td>
  </tr>
  <tr>
    <th><%= f.label :mail_bcc, getLongName('delivery_mails', 'mail_bcc') %></th>
    <td><%= f.text_field :mail_bcc %></td>
  </tr>
  <tr>
    <% options = @select_options %>
    <th><%= f.label :planned_setting_at, getLongName('delivery_mails', 'planned_setting_at') %></th>
    <td><%= edit? ? :planned_setting_at : date_field('delivery_mail', 'planned_setting_at') %><%= select_tag "planned_setting_at_time", options_for_select(@select_options) %></td>
  </tr>
</table>
  <div class="actions">
    <%= hidden_field_tag 'bp_pic_group_id', @delivery_mail.bp_pic_group_id %>
    <%= f.submit %>
  </div>
<% end %>
