<h1><%= getLongName('table_name','delivery_mails')%> 一覧</h1>

  <%= paginate(@delivery_mails) %>

<table class="list_table">
  <tr>
    <th>ステータス</th>
    <th><%= getLongName('delivery_mails', 'subject') %></th>
    <th><%= getLongName('delivery_mails', 'content') %></th>
    <th><%= getLongName('delivery_mails', 'mail_from_name') %></th>
    <th><%= getLongName('delivery_mails', 'mail_from') %></th>
    <th><%= getLongName('delivery_mails', 'mail_cc') %></th>
    <th><%= getLongName('delivery_mails', 'mail_bcc') %></th>
    <th><%= getLongName('delivery_mails', 'planned_setting_at') %></th>
    <th><%= getLongName('delivery_mails', 'send_end_at') %></th>
    <th>予約取り消し</th>
  </tr>

<% @delivery_mails.each do |delivery_mail| %>
  <tr <%= "bgcolor = #999999" unless delivery_mail.mail_status_type == 'unsend' %> id="tr_<%= delivery_mail.id %>">
    <td>
      <%= delivery_mail.mail_status_type_name %>
    </td>
    <td><%= back_to_link delivery_mail.subject, {:action => :show, :id => delivery_mail.id } %></td>
    <td><%= delivery_mail.content %></td>
    <td><%= delivery_mail.mail_from_name %></td>
    <td><%= delivery_mail.mail_from %></td>
    <td><%= delivery_mail.mail_cc %></td>
    <td><%= delivery_mail.mail_bcc %></td>
    <td><%= _time(delivery_mail.planned_setting_at) %></td>
    <td><%= delivery_mail.send_end_at %></td>
    <td>
      <% if delivery_mail.mail_status_type == 'unsend' %>
        <%= back_to_link 'キャンセル', { :action => :cancel, :id => delivery_mail.id, :authenticity_token => form_authenticity_token }, :method => :put %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
  <%= paginate(@delivery_mails) %>

<br />

<%= back_to_link getLongName('table_name','delivery_mails') + ' の新規作成', {:controller => :delivery_mails , :action => :new, :id => params[:id] }, :method => :get %> |
<%= link_or_back '戻る', :controller => :bp_pic_groups %>
