<table class="list_table">
  <tr>
    <th><%=getShortName('human_resources', 'human_resource_name') %></th>
    <th><%=getShortName('human_resources', 'age') %></th>
    <th><%=getShortName('human_resources', 'sex_type') %></th>
    <th><%=getShortName('human_resources', 'skill_tag') %></th>
    <th><%=getShortName('human_resources', 'human_resource_status_type') %></th>
    <th>下流取引先</th>
    <th>下流<%=getShortName('bp_pics', 'bp_pic_name') %></th>
    <th><%=getShortName('bp_members', 'employment_type') %></th>
    <th><%=getShortName('bp_members', 'payment_min') %></th>
    <th>添付ファイル</th>
  </tr>
  
<% for bp_member in bp_members %>
  <tr>
    <td><%=back_to_link h(bp_member.human_resource.human_resource_name.blank? ? bp_member.human_resource.initial : bp_member.human_resource.human_resource_name), :controller => :bp_member, :action => :show, :id => bp_member %></td>
    <td><%=h bp_member.human_resource.age %></td>
    <td><% if bp_member.human_resource.sex_type != "" %><%=h bp_member.human_resource.sex_type_name %><% end %></td>
    <td><%=h bp_member.human_resource.skill_tag %></td>
    <td><%=h bp_member.human_resource.human_resource_status_type_short_name %></td>
    <td><%=h bp_member.business_partner.business_partner_code_name %></td>
    <td><%=h bp_member.bp_pic.blank? ? "" : bp_member.bp_pic.bp_pic_name %></td>
    <td><%=h bp_member.employment_type_name %></td>
    <td align=right><%=h((bp_member.payment_min.blank? || bp_member.payment_min == 0) ? "" : "#{bp_member.payment_min_view}万円") %></td>
    <td align=center><%=h bp_member.attachment? ? "○" : "" %></td>
  </tr>
<% end %>
</table>
