<table class="show_table">
<tr>
  <th>下流<%= getLongName('business_partners', 'sales_code') %></th><td><%=h @bp_member.business_partner.sales_code %></td>
</tr>
<tr>
  <th>下流<%= getLongName('business_partners', 'business_partner_name') %></th><td><%=h @bp_member.business_partner.business_partner_short_name %></td>
</tr>
<tr>
  <th>下流<%= getLongName('bp_pics', 'bp_pic_name') %></th><td><%=h @bp_member.bp_pic.blank? ? "" : @bp_member.bp_pic.bp_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'employment_type') %></th><td><%=h @bp_member.employment_type_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'reprint_flg') %></th>
  <td><%=h (@bp_member.reprint_flg == 1 ? "可" : "不可" ) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'race_condition') %></th><td><%=h @bp_member.race_condition %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'payment_memo') %></th><td><%=h @bp_member.payment_memo %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'payment_min') %></th><td><%=h @bp_member.payment_min %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'time_adjust_term') %></th><td><%=h @bp_member.time_adjust_term %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'memo') %></th><td><%=simple_format h(@bp_member.memo) %></td>
</tr>
</table>
