<h1><%=getLongName('table_name','bp_members')%>新規作成</h1>

<%= form_tag :action => 'create', :human_resource_id => @human_resource do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "登録" %>
<% end %>

<% if params[:import_mail_id] && params[:template_id] %>
  <%= link_or_back '解析テンプレート選択に戻る', :controller => 'analysis_template', :action => 'list' %>
<% else %>
  <%= link_or_back '戻る', :action => 'list' %>

<% end %>
