<h2><%=getLongName('table_name','users')%>一覧</h1>

<%= paginate @users %>

<table class="list_table">
  <tr>
    <th>Login</th>
    <th>Nickname</th>
    <th>Access level type</th>
    <th>Per page</th>
    <th>Sign in count</th>
    <th>Current sign in at</th>
    <th>Last sign in at</th>
    <th>Current sign in ip</th>
    <th>Last sign in ip</th>
    <th>Locked at</th>
    <th>Employee</th>
  </tr>

<% @users.each do |user| %>
  <tr>
	  <td><%= back_to_link user.login, :action => :show , :id => user %></td>
    <td><%= user.nickname %></td>
    <td><%= user.access_level_type %></td>
    <td><%= user.per_page %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= user.last_sign_in_ip %></td>
    <td><%= user.locked_at %></td>
    <td><%= link_to (user.employee ? 'Y' : ''), :controller => :account, :action => :show, :id => user %></td>
  </tr>
<% end %>
</table>

<%= paginate @users %>

<br />

<%= back_to_link (getLongName('table_name','users')+'の新規作成'), :action => :new %>

