<%= error_messages_for 'business_partner' %>

<!--[form:business_partner]-->
<table class="show_table">
<tr>
<th><label for="business_partner_business_partner_code"><%=getLongName('business_partners','business_partner_code')%>(任意英数3桁)</label></th><td><%= text_field 'business_partner', 'business_partner_code', :size => 10  %></td>
</tr>
<tr>
<th><label for="business_partner_sales_management_code"><%=getLongName('business_partners','sales_management_code')%></label></th><td><%= text_field 'business_partner', 'sales_management_code', :size => 10  %></td>
</tr>
<tr>
<th><label for="business_partner_business_partner_name"><%=getLongName('business_partners','business_partner_name')%></label></th><td><%= text_field 'business_partner', 'business_partner_name', :size => 50  %></td>
</tr>
<tr>
<th><label for="business_partner_business_partner_short_name"><%=getLongName('business_partners','business_partner_short_name')%></label></th><td><%= text_field 'business_partner', 'business_partner_short_name', :size => 50  %></td>
</tr>
<tr>
<th><label for="business_partner_business_partner_name_kana"><%=getLongName('business_partners','business_partner_name_kana')%>(株式会社は不要)</label></th><td><%= text_field 'business_partner', 'business_partner_name_kana', :size => 50  %></td>
</tr>
<tr>
<th><label for="business_partner_business_partner_name_en"><%=getLongName('business_partners','business_partner_name_en')%></label></th><td><%= text_field 'business_partner', 'business_partner_name_en', :size => 50  %></td>
</tr>
<tr>
<th><label for="business_partner_sales_status_type"><%=getLongName('business_partners','sales_status_type')%></label></th><td><%= select 'business_partner', 'sales_status_type', $TYPE_CONDITIONS['sales_status_type'] %></td>
</tr>
<tr>
<th><label for="business_partner_ceo_name"><%=getLongName('business_partners','ceo_name')%></label></th><td><%= text_field 'business_partner', 'ceo_name'  %></td>
</tr>
<tr>
<th><label for="business_partner_url"><%=getLongName('business_partners','url')%></label></th><td><%= text_field 'business_partner', 'url', :size => 50  %></td>
</tr>
<tr>
<th><label for="business_partner_zip"><%=getLongName('business_partners','zip')%></label></th><td><%= text_field 'business_partner', 'zip', :size => 12  %></td>
</tr>
<tr>
<th><label for="business_partner_address1"><%=getLongName('business_partners','address1')%>(都道府県)</label></th><td><%= select 'business_partner', 'address1', User.get_prefs  %></td>
</tr>
<tr>
<th><label for="business_partner_address2"><%=getLongName('business_partners','address2')%></label></th><td><%= text_field 'business_partner', 'address2'  %></td>
</tr>
<tr>
<th><label for="business_partner_tel"><%=getLongName('business_partners','tel')%></label></th><td><%= text_field 'business_partner', 'tel'  %></td>
</tr>
<tr>
<th><label for="business_partner_fax"><%=getLongName('business_partners','fax')%></label></th><td><%= text_field 'business_partner', 'fax'  %></td>
</tr>
<tr>
<th><label for="business_partner_email"><%=getLongName('business_partners','email')%></label></th><td><%= text_field 'business_partner', 'email'  %></td>
</tr>
<tr>
<th><label for="business_partner_category"><%=getLongName('business_partners','category')%></label></th><td><%= text_field 'business_partner', 'category'  %></td>
</tr>
<tr>
<th><label for="business_partner_self_flg"><%=getLongName('business_partners','self_flg')%></label></th><td><%= check_box 'business_partner', 'self_flg'  %></td>
</tr>
<tr>
<th><label for="business_partner_eu_flg"><%=getLongName('business_partners','eu_flg')%></label></th><td><%= check_box 'business_partner', 'eu_flg'  %></td>
</tr>
<tr>
<th><label for="business_partner_upper_flg"><%=getLongName('business_partners','upper_flg')%></label></th><td><%= check_box 'business_partner', 'upper_flg'  %></td>
</tr>
<tr>
<th><label for="business_partner_down_flg"><%=getLongName('business_partners','down_flg')%></label></th><td><%= check_box 'business_partner', 'down_flg'  %></td>
</tr>
<tr>
<th><label for="business_partner_memo"><%=getLongName('business_partners','memo')%></label></th><td><%= resizable_area 'business_partner', 'memo'  %></td>
</tr>
</table>
<!--[eoform:business_partner]-->

<%= hidden_field 'business_partner', 'lock_version' %>
<%= back_to_field_tag %>

