<h1><%=getLongName('table_name','business_partners')%>新規作成</h1>

<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form_new' %>
  <%= submit_tag "登録" %>
<% end %>
  <%= link_or_back '戻る', :action => 'list' %>
