<h1><%= @business_partner.business_partner_code_name %>詳細</h1>

<table class="show_table">
<tr>
  <th><%= getLongName('business_partners', 'business_partner_code') %></th><td><%=h @business_partner.business_partner_code %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'sales_management_code') %></th><td><%=h @business_partner.sales_management_code %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'business_partner_short_name') %></th><td><%=h @business_partner.business_partner_short_name %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'business_partner_name_kana') %></th><td><%=h @business_partner.business_partner_name_kana %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'business_partner_name_en') %></th><td><%=h @business_partner.business_partner_name_en %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'sales_status_type') %></th><td><%=h @business_partner.sales_status_type_name %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'ceo_name') %></th><td><%=h @business_partner.ceo_name %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'url') %></th><td><%=h @business_partner.url %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'zip') %></th><td><%=h @business_partner.zip %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'address1') %></th><td><%=h @business_partner.address1 %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'address2') %></th><td><%=h @business_partner.address2 %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'tel') %></th><td><%=h @business_partner.tel %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'fax') %></th><td><%=h @business_partner.fax %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'email') %></th><td><%=h @business_partner.email %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'category') %></th><td><%=h @business_partner.category %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'self_flg') %></th><td><%=h @business_partner.self_flg %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'eu_flg') %></th><td><%=h @business_partner.eu_flg %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'upper_flg') %></th><td><%=h @business_partner.upper_flg %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'down_flg') %></th><td><%=h @business_partner.down_flg %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'memo') %></th><td><%=simple_format h(@business_partner.memo) %></td>
</tr>
<tr>
  <th><%= getLongName('business_partners', 'tag_text') %></th><td><%=h @business_partner.tag_text %></td>
</tr>

</table>
<%= back_to_link '編集', :action => 'edit', :id => @business_partner %> |
<%= link_or_back '戻る', :action => 'list' %>

  <p></p>
  <h2><%=getLongName('table_name','bp_pics')%>一覧</h2>
<% if !@bp_pics.blank? %>
  <%= render :partial => 'bp_pic/list' %>
<% end %>
<%= back_to_link (getLongName('table_name','bp_pics')+'を追加'), :controller => :bp_pic, :action => 'new', :business_partner_id => @business_partner %>

<% if !@businesses.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','businesses')%>一覧</h2>
  <%= render :partial => 'business/list', :locals => {:businesses => @businesses} %>
<% end %>

<% if !@biz_offers.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','biz_offers')%>一覧</h2>
  <%= render :partial => 'biz_offer/list', :locals => {:biz_offers => @biz_offers} %>
<% end %>

<% if !@bp_members.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','bp_members')%>一覧</h2>
  <%= render :partial => 'bp_member/list', :locals => {:bp_members => @bp_members} %>
<% end %>

