<%= error_messages_for 'route_expense_detail' %>

<p><%=h @user.employee.getFullName %></p>
<table class="input_table">
<% if false %>
  <tr>
    <th><%=getLongName('route_expense_details','organization_name')%></th>
    <td><%= text_field 'route_expense_detail', 'organization_name'  %>
    </td>
  </tr>
<% end %>
  <tr>
    <th><%=getLongName('route_expense_details','station_from')%></th>
    <td><%= text_field 'route_expense_detail', 'station_from'  %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('route_expense_details','station_to')%></th>
    <td><%= text_field 'route_expense_detail', 'station_to'  %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('route_expense_details','monthly_amount')%></th>
    <td><%= text_field 'route_expense_detail', 'monthly_amount'  %> 円
    </td>
  </tr>

  <tr>
    <th>経路メモ</th>
    <td><%= text_area 'route_expense_detail', 'memo', :size => '60x10'  %>
    </td>
  </tr>
</table>

<%= hidden_field 'user', 'id'  %>
<%= hidden_field 'route_expense_detail', 'route_expense_id'  %>
<input id="template_amount" name="template_amount" type="hidden" value="<%=h @route_expense_detail.monthly_amount %>" />
<%= hidden_field 'route_expense_detail', 'lock_version'  %>

