<h1><%=getLongName('table_name','route_expenses')%>一覧</h1>

<p><%=h @user.employee.getFullName %></p>
<table class="list_table">
  <tr >
    <th>No</th>
    <th><%=getLongName('route_expense_details','station_from')%></th> 
    <th><%=getLongName('route_expense_details','station_to')%></th> 
    <th>経路メモ</th> 
    <th><%=getLongName('route_expense_details','monthly_amount')%></th> 
    <th>処理</th>
  </tr>
  
<% @route_expense_details.each_index do |idx| route_expense_detail = @route_expense_details[idx] %>
  <tr>
    <td align="center"><%=h (idx+1) %></td>
    <td ><%=h route_expense_detail.station_from %></td>
    <td ><%=h route_expense_detail.station_to %></td>
    <td ><%=simple_format h(route_expense_detail.memo) %></td>
    <td align='right'><%=h route_expense_detail.monthly_amount.to_i %>円</td>
    <td>
      <%= link_to '表示' ,:controller => 'route_expense_detail', :action => 'show', :id => route_expense_detail %>, 
      <%= link_to '変更' ,:controller => 'route_expense_detail', :action => 'edit', :id => route_expense_detail %>, 
      <%= link_to '削除', {:controller => 'route_expense_detail', :action => 'destroy', :id => route_expense_detail }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
  <tr style="background-color: #99DCDC">
    <td colspan='4' align='center'>合計</td>
    <td align='right'><%= @user.route_expense ? @user.route_expense.total_amount.to_i : 0 %>円</td>
    <td align='center'> </td>
  </tr>
</table>
<br />

| 
<%= link_to '通勤交通費の新規作成', :controller => 'route_expense_detail', :action => 'new', :id => @user %> | 
<%= link_to "社員情報一覧", :controller => 'account', :action => 'list'  %> |
<%= link_to "社員情報", :controller => 'account', :action => 'show', :id => @user  %> |
