<h1><%=getLongName('table_name','route_expense_details')%>表示</h1>
<p><%=h @user.employee.getFullName %></p>
<table class="show_table">
<% if false %>
<tr>
  <th><%=getLongName('route_expense_details','organization_name')%></th>
  <td><%=h @route_expense_detail.organization_name %></td>
</tr>
<tr>
  <th><%=getLongName('route_expense_details','line_name')%></th>
  <td><%=h @route_expense_detail.line_name %></td>
</tr>
<% end %>
<tr>
  <th><%=getLongName('route_expense_details','station_from')%></th>
  <td><%=h @route_expense_detail.station_from %></td>
</tr>
<tr>
  <th><%=getLongName('route_expense_details','station_to')%></th>
  <td><%=h @route_expense_detail.station_to %></td>
</tr>
<tr>
  <th><%=getLongName('route_expense_details','monthly_amount')%></th>
  <td><%=h @route_expense_detail.monthly_amount.to_i %></td>
</tr>
<tr>
  <th><%=getLongName('route_expense_details','memo')%></th>
  <td><%= simple_format @route_expense_detail.memo %></td>
</tr>

</table>
<br/>
<%= link_to '編集', :action => 'edit', :id => @route_expense_detail, :back_to => params[:back_to] %> |
<%= link_to '一覧', (params[:back_to] || {:action => 'list', :id => @route_expense_detail.route_expense.user}) %>
