<%= error_messages_for 'business' %>

<!--[form:business]-->
<table class="show_table">
<tr>
<th><label for="eubp_name">EU取引先</label></th><td><%= text_field_tag 'eubp_name', @business.eubp.blank? ? "" : @business.eubp.business_partner_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
  <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'business_partner', :action => 'list', :popup =>1, :flg => 'eu' %>');return false;" />
  <input type=button value='クリア' onClick="clearEuBp();return false;" />
  <%= hidden_field 'business', 'eubp_id' %></td>
</tr>
<tr>
<th><label for="eubp_pic_name">EU取引先担当</label></th><td><%= text_field_tag 'eubp_pic_name', @business.eubp_pic.blank? ? "" : @business.eubp_pic.bp_pic_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
  <input type=button value='...' onClick="openEuBpPicList();return false;" />
  <input type=button value='クリア' onClick="clearEuBpPic();return false;" />
  <%= hidden_field 'business', 'eubp_pic_id' %></td>
</tr>
<tr>
<th><label for="business_issue_datetime"><%=getLongName('businesses','issue_datetime')%></label></th><td><%= date_field 'business', 'issue_datetime' %>
<%= select_tag 'issue_datetime_hour', options_for_select((0..23).to_a.map{|x| sprintf("%0.2d", x)}, sprintf("%0.2d", @issue_datetime_hour.to_i)) %> : 
<%= select_tag 'issue_datetime_minute', options_for_select((0..5).to_a.map{|x| sprintf("%0.2d", x * 10)}, sprintf("%0.2d", @issue_datetime_min.to_i)) %>
</td>
</tr>
<tr>
<th><label for="business_due_date"><%=getLongName('businesses','due_date')%></label></th><td><%= date_field 'business', 'due_date'  %></td>
</tr>
<tr>
<th><label for="business_term_type"><%=getLongName('businesses','term_type')%></label></th><td><%= select 'business', 'term_type', $TYPE_CONDITIONS['term_type']  %></td>
</tr>
<tr>
<th><label for="business_business_title"><%=getLongName('businesses','business_title')%></label></th><td><%= text_field 'business', 'business_title'  %></td>
</tr>
<tr>
<th><label for="business_business_point"><%=getLongName('businesses','business_point')%></label></th><td><%= resizable_area 'business', 'business_point'  %></td>
</tr>
<tr>
<th><label for="business_business_description"><%=getLongName('businesses','business_description')%></label></th><td><%= resizable_area 'business', 'business_description'  %></td>
</tr>
<tr>
<th><label for="business_member_change_flg"><%=getLongName('businesses','member_change_flg')%></label></th><td><%= check_box 'business', 'member_change_flg'  %></td>
</tr>
<tr>
<th><label for="business_place"><%=getLongName('businesses','place')%></label></th><td><%= text_field 'business', 'place'  %></td>
</tr>
<tr>
<th><label for="business_period"><%=getLongName('businesses','period')%></label></th><td><%= text_field 'business', 'period'  %></td>
</tr>
<tr>
<th><label for="business_phase"><%=getLongName('businesses','phase')%></label></th><td><%= text_field 'business', 'phase'  %></td>
</tr>
<tr>
<th><label for="business_need_count"><%=getLongName('businesses','need_count')%></label></th><td><%= text_field 'business', 'need_count'  %></td>
</tr>
<tr>
<th><label for="business_skill_must"><%=getLongName('businesses','skill_must')%></label></th><td><%= resizable_area 'business', 'skill_must'  %></td>
</tr>
<tr>
<th><label for="business_skill_want"><%=getLongName('businesses','skill_want')%></label></th><td><%= resizable_area 'business', 'skill_want'  %></td>
</tr>
<tr>
<th><label for="business_business_hours"><%=getLongName('businesses','business_hours')%></label></th><td><%= text_field 'business', 'business_hours'  %></td>
</tr>
<tr>
<th><label for="business_assumed_hour"><%=getLongName('businesses','assumed_hour')%></label></th><td><%= text_field 'business', 'assumed_hour'  %></td>
</tr>
<tr>
<th><label for="business_career_years"><%=getLongName('businesses','career_years')%></label></th><td><%= text_field 'business', 'career_years'  %></td>
</tr>
<tr>
<th><label for="business_age_limit"><%=getLongName('businesses','age_limit')%></label></th><td><%= text_field 'business', 'age_limit'  %></td>
</tr>
<tr>
<th><label for="business_nationality_limit"><%=getLongName('businesses','nationality_limit')%></label></th><td><%= text_field 'business', 'nationality_limit'  %></td>
</tr>
<tr>
<th><label for="business_sex_limit"><%=getLongName('businesses','sex_limit')%></label></th><td><%= text_field 'business', 'sex_limit'  %></td>
</tr>
<tr>
<th><label for="business_communication"><%=getLongName('businesses','communication')%></label></th><td><%= text_field 'business', 'communication'  %></td>
</tr>
<tr>
<th><label for="business_memo"><%=getLongName('businesses','memo')%></label></th><td><%= resizable_area 'business', 'memo'  %></td>
</tr>
</table>

<!--[eoform:business]-->
<%= hidden_field 'business', 'lock_version' %>
<%= back_to_field_tag %>

<script type="text/javascript">
<!--
function openEuBpPicList() {
    disp_wide('<%=url_for :controller => 'bp_pic', :action => 'list', :popup =>1 %>' + '&id=' + document.getElementById("business_eubp_id").value + '&mode=eu')
}

document.setEuBp = function(bp) {
    document.getElementById("business_eubp_id").value = bp.id;
    document.getElementById("eubp_name").value = bp.business_partner_name;
    document.getElementById("business_eubp_pic_id").value = "";
    document.getElementById("eubp_pic_name").value = "";
}

function clearEuBp(){
    document.getElementById("business_eubp_id").value = "";
    document.getElementById("eubp_name").value = "";
    document.getElementById("business_eubp_pic_id").value = "";
    document.getElementById("eubp_pic_name").value = "";
}

document.setEuBpPic = function(bp_pic){
    document.getElementById("business_eubp_pic_id").value = bp_pic.id;
    document.getElementById("eubp_pic_name").value = bp_pic.bp_pic_name;
}

function clearEuBpPic(){
    document.getElementById("business_eubp_pic_id").value = "";
    document.getElementById("eubp_pic_name").value = "";
}


// -->
</script>
