<table class="show_table">
<tr>
  <th>EU<%= getLongName('business_partners', 'sales_code') %></th><td><%=h @business.eubp.blank? ? "" : @business.eubp.sales_code %></td>
</tr>
<tr>
  <th>EU<%= getLongName('business_partners', 'business_partner_name') %></th><td><%=h @business.eubp.blank? ? "" : @business.eubp.business_partner_name %></td>
</tr>
<tr>
  <th>EU<%= getLongName('bp_pics', 'bp_pic_name') %></th><td><%=h @business.eubp_pic.blank? ? "" : @business.eubp_pic.bp_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'business_status_type') %></th><td><%=h @business.business_status_type %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'issue_datetime') %></th><td><%=h _time_long(@business.issue_datetime) %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'due_date') %></th><td><%=h @business.due_date %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'term_type') %></th><td><%=h @business.term_type %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'business_title') %></th><td><%=h @business.business_title %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'business_point') %></th><td><%=simple_format h(@business.business_point) %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'business_description') %></th><td><%=simple_format h(@business.business_description) %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'member_change_flg') %></th>
  <td><%=h (@business.member_change_flg == 1 ? "可" : "不可" ) %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'place') %></th><td><%=h @business.place %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'period') %></th><td><%=h @business.period %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'phase') %></th><td><%=h @business.phase %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'skill_must') %></th><td><%=simple_format h(@business.skill_must) %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'skill_want') %></th><td><%=simple_format h(@business.skill_want) %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'business_hours') %></th><td><%=h @business.business_hours %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'assumed_hour') %></th><td><%=h @business.assumed_hour %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'career_years') %></th><td><%=h @business.career_years %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'age_limit') %></th><td><%=h @business.age_limit %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'nationality_limit') %></th><td><%=h @business.nationality_limit %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'sex_limit') %></th><td><%=h @business.sex_limit %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'communication') %></th><td><%=h @business.communication %></td>
</tr>
<tr>
  <th><%= getLongName('businesses', 'memo') %></th><td><%=simple_format h(@business.memo) %></td>
</tr>
</table>
