<h1><%=getLongName('table_name','businesses')%>一覧</h1>

<% form_tag do %>
<table>
  <tr>
    <td style="text-align: right">案件名:</td>
    <td><%= text_field_tag 'business_title', session[:business_search] && session[:business_search][:business_title] %></td>
    <td style="text-align: right">勤務場所:</td>
    <td><%= text_field_tag 'place', session[:business_search] && session[:business_search][:place] %></td>
  </tr>
  <tr>
    <td style="text-align: right">期間:</td>
    <td><%= text_field_tag 'period', session[:business_search] && session[:business_search][:period] %></td>
    <td style="text-align: right">フェーズ:</td>
    <td><%= text_field_tag 'phase', session[:business_search] && session[:business_search][:phase] %></td>
  </tr>
  <tr>
    <td style="text-align: right">募集人数:</td>
    <td><%= text_field_tag 'need_count', session[:business_search] && session[:business_search][:need_count] %></td>
    <td style="text-align: right">スキル必須:</td>
    <td><%= text_field_tag 'skill_must', session[:business_search] && session[:business_search][:skill_must] %></td>
    <td style="text-align: right">スキル尚可:</td>
    <td><%= text_field_tag 'skill_want', session[:business_search] && session[:business_search][:skill_want] %></td>
  </tr>
  <tr>
    <td style="text-align: right">年齢制限:</td>
    <td><%= text_field_tag 'age_limit', session[:business_search] && session[:business_search][:age_limit] %></td>
    <td style="text-align: right">案件ステータス:</td>
    <td><%= select_tag 'business_status_type', options_for_select([[]] + $TYPE_CONDITIONS['business_status_type'], session[:business_search][:business_status_type]) %></td>
  </tr>
</table>
<p><%= submit_tag '　　検索　　', :name => 'search_button' %> <%= submit_tag '　　クリア　　', :name => 'clear_button' %></p>
<br />
<% end %>



<%= paginate(@businesses) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('businesses', 'business_status_type') %></th>
    <th><%=getShortName('businesses', 'issue_datetime') %></th>
    <th><%=getShortName('businesses', 'business_title') %></th>
    <th><%=getShortName('businesses', 'place') %></th>
    <th><%=getShortName('businesses', 'period') %></th>
    <th><%=getShortName('businesses', 'phase') %></th>
    <th><%=getShortName('businesses', 'need_count') %></th>
    <th><%=getShortName('businesses', 'skill_must') %></th>
    <th><%=getShortName('businesses', 'skill_want') %></th>
    <th><%=getShortName('businesses', 'age_limit') %></th>
  </tr>
  
<% for business in @businesses %>
  <tr>
    <td><%=h business.business_status_type_name %></td>
    <td><%=h business.issue_datetime %></td>
<% if popup? %>
    <td><%= link_to h(business.business_title), '#', :onClick => "setBusiness(#{business.id},'#{business.business_title}', '#{business.business_status_type_name}', '#{(business.eubp.blank? ? "" : business.eubp.business_partner_name)}', '#{(business.eubp_pic.blank? ? '' : business.eubp_pic.bp_pic_name)}');return false;" %></td>
<% else %>
    <td><%= back_to_link h(business.business_title), :action => 'show', :id => business %></td>
<% end %>
    <td><%=h business.place %></td>
    <td><%=h business.period %></td>
    <td><%=h business.phase %></td>
    <td><%=h business.need_count %></td>
    <td><%=h business.skill_must %></td>
    <td><%=h business.skill_want %></td>
    <td><%=h business.age_limit %></td>
  </tr>
<% end %>
</table>

<%= paginate(@businesses) %>

<br />

<% if !popup? %>
<%= link_to (getLongName('table_name','businesses')+'の新規作成'), :action => 'new' %>
<% end %>
<% if popup? %>
<script type="text/javascript">
<!--
function setBusiness(business_id, business_title, business_status_type_name, eubp_name, eubp_pic_name) {
  if(window.opener.document.setBusiness){
    var business = new Object();
    business.business_id = business_id;
    business.business_title = business_title;
    business.business_status_type_name = business_status_type_name;
    business.eubp_name = eubp_name;
    business.eubp_pic_name = eubp_pic_name;
    window.opener.document.setBusiness(business);
  }
  window.close();
}
// -->
</script>
<% end # if popup? %>
