<style type="text/css">
<!--
table.list_table { width: auto;}
.list_table tr td {
  text-align: center;
}
table.list_table tr th {
  background-color: #80ffff;
}
* html #th_buy_date { width: 100px;}
* html .input_buy_date {width: 80px; ime-mode: inactive;}
* html .input_book_no{ime-mode: inactive;}
* html .input_account_item {width: 50px; ime-mode: inactive;}
* html .input_content{ime-mode: active;}
* html .input_amount{ime-mode: inactive;}
-->
</style>
<script type="text/javascript">
<!--
<% @expense_details.size.times do |i| %>
  var ucal<%=i%> = new JKL.Calendar("ucalDisplay<%=i%>","","uexpense_detail<%=i%>[buy_date]");
  var uflgCal<%=i%> = true;
<% end %>
<% 10.times do |i| %>
  var cal<%=i%> = new JKL.Calendar("calDisplay<%=i%>","","expense_detail<%=i%>[buy_date]");
  var flgCal<%=i%> = true;
<% end %>

function clear_row(index){
  $("#expense_detail" + index + "[buy_date]").value = "";
  $("#expense_detail" + index + "[book_no]").value = "";
  $("#expense_detail" + index + "[account_item]").value = "";
  $("#expense_detail" + index + "[content]").value = "";
  $("#expense_detail" + index + "[amount]").value = "";
}
//-->
</script>

<%= error_messages_for 'expense_detail' %>

<!--[form:expense_detail]-->
<table class="list_table" style="margin-top: 1em;">
<tr>
  <th id="th_buy_date"><%=getLongName('expense_details','buy_date')%>(*)</th>
  <th id="th_book_no"><%=getLongName('expense_details','book_no')%>(*)</th>
  <th id="th_account_item"><%=getLongName('expense_details','account_item')%>(*)</th>
  <th id="th_content"><%=getLongName('expense_details','content')%>(*)</th>
  <th id="th_amount"><%=getLongName('expense_details','amount')%>(*)</th>
  <% if current_user.employee.credit_card_flg == 1 %>
    <th id="th_card">カード</th>
  <% end %>
  <th id="th_ope">操作</th>

<%if false %>
  <th width="100" style="background-color: #80ffff"><label for="expense_detail_buy_date"><%=getLongName('expense_details','buy_date')%>(*)</label></th>
  <th width="60" style="background-color: #80ffff"><label for="expense_detail_book_no"><%=getLongName('expense_details','book_no')%>(*)</label></th>
  <th width="110" style="background-color: #80ffff"><label for="expense_detail_account_item"><%=getLongName('expense_details','account_item')%>(*)</label></th>
  <th width="200" style="background-color: #80ffff"><label for="expense_detail_content"><%=getLongName('expense_details','content')%>(*)</label></th>
  <th width="80" style="background-color: #80ffff"><label for="expense_detail_amount"><%=getLongName('expense_details','amount')%>(*)</label></th>
  <% if current_user.employee.credit_card_flg == 1 %>
    <th width="80" style="background-color: #80ffff"><label for="expense_detail_credit_card_flg">カード</label></th>
  <% end %>
  <th width="60" style="background-color: #80ffff"><label for="expense_detail_amount">操作</label></th>
<% end %>
</tr>
<% expense_type = $TYPE_CONDITIONS['expense_type'].dup
   expense_type.delete_if{|x| ['fee_expense','temporary_expense'].include?(x[1])} %>
<% expense_type.unshift([[]]) %>
<%= hidden_field_tag 'update_month', params[:id] %>
<%= hidden_field_tag 'update_expense_detail_count', @expense_details.size %>

<% @expense_details.each_index do |i| expense_detail = @expense_details[i] %>
<% next if expense_detail.temporary_flg == 1 %>
<%= hidden_field_tag "uexpense_detail#{i}[id]", expense_detail.id %>
  <tr style="background-color: #DCDCDC">
    <td style="text-align: left;" >
      <%= text_field_tag "uexpense_detail#{i}[buy_date]", (expense_detail.buy_date.to_date if expense_detail.buy_date != nil), :size => '12', :onClick => "ucal#{i}.write();", :onChange => "ucal#{i}.getFormValue(); ucal#{i}.hide();", :onblur => "if (uflgCal#{i}) {ucal#{i}.hide();}", :class => "input_buy_date" %>
      </br>
      <div id="ucalDisplay<%=i%>" onmouseover="uflgCal<%=i%> = false;" onmouseout="uflgCal<%=i%> = true;" ></div>
    </td>
    <td><%= text_field_tag "uexpense_detail#{i}[book_no]", expense_detail.book_no, :size => '10', :class => "input_book_no" %></td>
    <td><%= text_field_tag "uexpense_detail#{i}[account_item]", expense_detail.account_item, :size => '8', :class => "input_account_item" %><input type="button" value=".." onclick="disp('<%=url_for :action => 'titles', :popup => 1, :tag_prefix => "expense_detail#{i}"%>');"></td>
    <td><%= text_field_tag "uexpense_detail#{i}[content]", expense_detail.content, :size => '35', :class => "input_content" %></td>
    <td><%= currency_field_tag "uexpense_detail#{i}[amount]", expense_detail.amount.to_i, :size => '8', :class => "input_amount" %></td>
    <% if current_user.employee.credit_card_flg == 1 %>
      <td align="center"><%= check_box_tag "uexpense_detail#{i}[credit_card_flg]", 1, expense_detail.credit_card_flg == 1 %><%= hidden_field_tag "uexpense_detail#{i}[credit_card_flg]", 0 %></td>
    <% end %>
    <td><%= submit_tag '削除', :confirm => "この行のデータを削除します。新規で入力された内容はクリアされます。よろしいですか?", :name => "uexpense_detail_delete_#{i}" %></td>
  </tr>
<%= hidden_field_tag "uexpense_detail#{i}[lock_version]", expense_detail.lock_version %>
<% end %>

<% @new_expense_details.each_index do |i| expense_detail = @new_expense_details[i] %>
  <tr>
    <td style="text-align: left;" >
      <%= text_field_tag "expense_detail#{i}[buy_date]", (expense_detail.buy_date && expense_detail.buy_date.to_date), :size => '12', :onClick => "cal#{i}.write();", :onChange => "cal#{i}.getFormValue(); cal#{i}.hide();", :onblur => "if (flgCal#{i}) {cal#{i}.hide();}", :class => "input_buy_date" %>
      </br>
      <div id="calDisplay<%=i%>" onmouseover="flgCal<%=i%> = false;" onmouseout="flgCal<%=i%> = true;" ></div>
    </td>
    <td><%= text_field_tag "expense_detail#{i}[book_no]", expense_detail.book_no, :size => '10', :class => "input_book_no" %></td>
    <td><%= text_field_tag "expense_detail#{i}[account_item]", expense_detail.account_item, :size => '8', :class => "input_account_item" %><input type="button" value=".." onclick="disp('<%=url_for :action => 'titles', :popup => 1, :tag_prefix => "expense_detail#{i}"%>');"></td>
    <td><%= text_field_tag "expense_detail#{i}[content]", expense_detail.content, :size => '35', :class => "input_content" %></td>
    <td><%= currency_field_tag "expense_detail#{i}[amount]", (expense_detail.amount && expense_detail.amount.to_i), :size => '8', :class => "input_amount" %></td>
    <% if current_user.employee.credit_card_flg == 1 %>
      <td align="center"><%= check_box_tag "expense_detail#{i}[credit_card_flg]", 1, expense_detail.credit_card_flg == 1 %></td>
    <% end %>
    <td><input type='button' value='クリア' onClick="clear_row(<%=i%>)" /></td>
  </tr>
<% end %>
</table>
<!--[eoform:expense_detail]-->


