<h1><%=getLongName('table_name','expense_details')%>一覧</h1>

<table class="list_table">
  <tr>
    <th width="25"></th>
    <th width="25">id</th>
    <th width="25">uid</th>
    <th width="80">日付</th>
    <th width="65">受注No.</th>
    <th width="65">科目No.</th>
    <th width="400">内容</th>
    <th width="65">金額</th>
  </tr>

<% total = 0 %>
<% for expense_detail in @expense_details %>
<% total += expense_detail.amount %>
  <tr>
    <td align="center"><%= check_box_tag 'rowCheck', expense_detail.id, :onclick => "checkExpense_detail('#{url_for(:id => expense_detail)}');" %></td>
    <td align="center"><%= link_to "#{expense_detail.id}", :action => 'edit', :id => expense_detail %></td>
    <td align="center"><%=h expense_detail.user_id %></td>
    <td align="center"><%= link_to "#{expense_detail.buy_date.to_date}", :action => 'edit', :id => expense_detail %></td>
    <td align="center"><%=h expense_detail.book_no %></td>
    <td align="center"><%=h expense_detail.account_item %></td>
    <td><%=h expense_detail.content %></td>
    <td align="right"><%=h expense_detail.amount.to_i %></td>
  </tr>
<% end %>
  <tr style="background-color:#DCDCDC">
    <td align="center" colspan='7'>合計</td>
    <td align="right"><%=h total.to_i %></td>
  </tr>
</table>

<br />

<%= link_to (getLongName('table_name','expense_details')+'の新規作成'), :action => 'new' %>
