<h1><%= params[:user_id] && "#{@target_user.employee.employee_name}の"%><%=getLongName('table_name','expense_details')%>一覧</h1>
<div class="pagenate">
<%= @base_month.last_month ? link_to('前の月', {:action => :list, :id => @base_month.last_month.id, :user_id => params[:user_id]}) : '前の月' %>
<%= @base_month.next_month ? link_to('次の月', {:action => :list, :id => @base_month.next_month.id, :user_id => params[:user_id]}) : '次の月' %>
<%- url = url_for(:controller => :monthly_working, :action => :list, :popup => 1, :id => @base_month.id, :user_id => params[:user_id]) -%>
<%= link_to('勤務表', "#", :onClick => "disp_wide('#{url}');return false;") %>
</div>

<%-
   links = []
   links << link_and_if(!(controller.action_name == 'all_list'), '全部', :action => :all_list, :id => @base_month.id, :user_id => params[:user_id])
   links << link_and_if(!(controller.action_name == 'list'), '通常', :action => :list, :id => @base_month.id, :user_id => params[:user_id])
   if @payment_per_month.user.employee.credit_card_flg == 1
     links << link_and_if(!(controller.action_name == 'card_list'), '会社カード', :action => :card_list, :id => @base_month.id, :user_id => params[:user_id])
   end
   @payment_per_month.payment_per_cases.each do |payment_per_case|
     links << link_and_if(!(controller.action_name == 'case_list' && params[:id].to_i == payment_per_case.id), "都度(#{payment_per_case.expense_paid_date.strftime('%Y/%m/%d')})", :action => :case_list, :id => payment_per_case.id, :user_id => params[:user_id])
   end
-%>
<%= raw links.join(" | ") %>
<br><br>
<% if (@payment_per_month.self_data?(current_user.id) || current_user.accounting?) && (@payment_per_month.cutoff_status_type == 'open') %>
<%= link_to (getLongName('table_name','expense_details')+'の入力画面'), {:action => 'new', :id => @base_month.id, :user_id => params[:user_id]} %>
<br />
<% end %>

<%= form_tag :action => :payment, :id => @base_month.id, :user_id => params[:user_id], :back_to => request.env['REQUEST_URI'] do %>
<%= render :partial => 'table' %>
<br />
<div style="width: 100%">
<% if controller.action_name == 'case_list' %>
  <% if @payment_per_case.cutoff_status_type != 'open' %>
    <%= link_to 'EXCELダウンロード', :action => :excel_download, :mode => 'case', :id => @payment_per_case %><br/><br/>
  <% end %>
<% elsif controller.action_name == 'card_list' %>
  <% if @payment_per_month.cutoff_status_type != 'open' %>
    <%= link_to 'EXCELダウンロード', :action => :excel_download, :mode => 'card', :id => @payment_per_month %><br/><br/>
  <% end %>
<% elsif controller.action_name == 'list' %>
  <%- if @payment_per_month.cutoff_status_type == 'open' -%>
    <% if @payment_per_month.self_data?(current_user.id) || current_user.accounting? %>
      <%= submit_tag '都度経費精算確定', :name => 'per_case', :confirm => 'チェックした明細に対して、都度経費精算確定します。よろしいですか？' %>
      <%= submit_tag '月締経費精算確定', :name => 'cutoff', :confirm => '月締経費精算確定します。よろしいですか？' %>
      <br/>
    <%- end -%>
  <%- else -%>
    <%= link_to 'EXCELダウンロード', :action => :excel_download, :mode => 'month', :id => @payment_per_month %><br/><br/>
    <strong>月締経費精算確定済</strong><br/>
  <%- end -%>
<% end # if 'list' %>
<% end # form%>

  <% #@hide_edit = true %>
  <% if @payment_per_case && @payment_per_case.base_application %>
    <br/>
    <%= link_to('取消', {:controller => :base_application, :action => 'cancel', :id => @payment_per_case.base_application.id, :back_to => url_for(:id => @base_month.id, :action => :list, :user_id => params[:user_id])}, {:confirm => "この申請をキャンセルします。よろしいですか？", :method => :post}) if @payment_per_case.base_application.can_cancel? && current_user.accounting? %>
    <% if current_user.accounting? %>
      <%= form_tag({:action => 'cutoff_case', :id => @payment_per_case, :back_to => request.env['REQUEST_URI']}, :id => 'form2') do %>
      <% if @payment_per_case.cutoff? %>
          状態: [精算済] <%= submit_tag('精算済を解除', {:name => 'release', :confirm => "この申請の申請済みを解除します。よろしいですか?"}) %>
        <% else %>
          状態: [未精算] 支払日: <%= date_field_tag 'paid_date', nil, :formid => 'form2' %> <%= submit_tag('精算済にする', {:confirm => "この申請を支払い済みにします。よろしいですか?", :onClick => "return validateDate($('#paid_date').val())"}) %>
        <% end %>
      <% end %>
    <% end %>
  <% elsif @payment_per_month.base_application %>
    <br/>
    <%= link_to('取消', {:controller => :base_application, :action => 'cancel', :id => @payment_per_month.base_application.id, :back_to => request.env['REQUEST_URI']}, {:confirm => "この申請をキャンセルします。よろしいですか？", :method => :post}) if @payment_per_month.base_application.can_cancel? && current_user.accounting? %>
    <% if current_user.accounting? %>
      <%= form_tag({:action => 'cutoff_month', :id => @payment_per_month, :back_to => request.env['REQUEST_URI']}, :id => 'form2') do %>
      <% if @payment_per_month.cutoff? %>
          状態: [精算済] <%= submit_tag('精算済を解除', {:name => 'release', :confirm => "この申請の申請済みを解除します。よろしいですか?"}) %>
        <% else %>
          状態: [未精算] 支払日: <%= date_field_tag 'paid_date', nil, :formid => 'form2' %> <%= submit_tag('精算済にする', {:confirm => "この申請を支払い済みにします。よろしいですか?", :onClick => "return validateDate($('#paid_date').val())"}) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<br />
<br />
<br />


