<script>
var submit_flg = false;
</script>
<h1><%=getLongName('table_name','expense_details')%>新規作成</h1>

<p>
<%- url = url_for(:controller => :monthly_working, :action => :list, :popup => 1, :id => @base_month.id, :user_id => params[:user_id]) -%>
<%= link_to('勤務表', "#", :onClick => "disp_wide('#{url}');return false;") %>
</p>

<% # form_tag({:action => 'create', :id => params[:id], :user_id => params[:user_id]}, :onSubmit => "disableSubmit(this);") do %>
<%= form_tag({:action => 'create', :id => params[:id], :user_id => params[:user_id]}, :onSubmit => "if (submit_flg) return false; submit_flg = true;") do %>
  <%= submit_tag "登録", :name => "entry" %>
  <%= render :partial => 'form' %>
  <br/>
  <%= submit_tag "登録" %>
<% end %>

<%= link_to '一覧に戻る', :action => 'list', :id => params[:id], :user_id => params[:user_id] %>

