<h1><%=getLongName('table_name','project_members')%>一覧</h1>

<%= paginate(@project_members) %>

<table class="list_table">
  <tr>
    <th>名前</th>
    <th></th>
  </tr>
  
<% for project_member in @project_members %>
  <tr>
    <td><%=h project_member.user.employee.employee_name %></td>
    <td>
      <%= link_to '削除', { :action => 'destroy', :id => project_member, :back_to => request.env['REQUEST_URI'] }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@project_members) %>

<br />
<br />
<% form_tag :action => 'add_member', :id => @project, :back_to => params[:back_to] do %>
  <%= select 'project_member', 'user_id', @pic_select_items %>
  <%= submit_tag "プロジェクトに追加" %>
<% end %>

<%if params[:back_to] %>
<p><%= link_to '戻る', params[:back_to] %></p>
<% end %>
