<h1>週間報告一覧</h1>
<p><%=h @target_user.employee.getFullName %></p>


<div class="pagenate">
<%= @base_month.last_month ? link_to('前の月', {:id => @base_month.last_month.id, :user_id => params[:user_id]}) : '前の月' %>
<b>[<%=h @base_month.start_date.to_date %> ～ <%=h @base_month.end_date.to_date %>]週間報告一覧</b>
<%= @base_month.next_month ? link_to('次の月', {:id => @base_month.next_month.id, :user_id => params[:user_id]}) : '次の月' %>
</div>

<% if @weekly_reports.empty? %>
  <strong>週報が見つかりませんでした。先に作業日報を作成してください。</strong><br>
<% else %>
  <strong><a name="0">各週勤怠一覧</a></strong><br>
<% end %>

<% @weekly_reports.each_index do |idx| weekly_report = @weekly_reports[idx] %>
  <a href="#<%=h idx+1 %>"><%=h weekly_report.start_date.to_date %> ～ <%=h weekly_report.end_date.to_date %></a>
  <br>
<% end %>

<% @weekly_reports.each_index do |idx| weekly_report = @weekly_reports[idx] %>
<br>
<hr>
<h2><a name="<%=h idx+1 %>"><%=h weekly_report.start_date.to_date %> ～ <%=h weekly_report.end_date.to_date %></a>作業 
<% if weekly_report.want_application? %>
  <%= link_to '承認者に報告', { :action => 'send_weekly_report', :id => weekly_report, :back_to => request.env['REQUEST_URI']}, :confirm => '承認者にこの週報報告を送ります。よろしいですか?', :method => :post %>
<% end %>
</h2>

<table class="list_table">
  <tr >
    <th>曜日</th>
    <th>日付</th>
    <th>勤怠種別</th>
    <th>出張</th>
    <th>出社</th>
    <th>退社</th>
    <th>残業</th>
    <th>摘要</th>
    <th>稼動</th>
  </tr>
  
  <% daily_workings = weekly_report.get_daily_workings %>
  <% for daily_working in daily_workings %>
    <tr style="background-color: <%= daily_working.working_date_color %>;"  >
      <td align="center" style="width: 5%;"><%=h getDayOfWeek(daily_working.working_date.to_date) %></td>
      <td align="center" style="width: 10%;"><%=h daily_working.working_date.to_date %></td>
      <td align="center" style="width: 6%;"><%=h daily_working.working_type_short_name %></td>
      <% business_trip_application = daily_working.get_business_trip_application %>
      <td align="center" style="width: 6%;"><%= business_trip_application && link_to(business_trip_application.base_application.approval_status_type_short_name, :controller => 'business_trip_application', :action => 'show', :id => business_trip_application, :back_to => request.env['REQUEST_URI']) %></td>
      <td align="center" style="width: 7%; color: <%=h daily_working.get_color_come_lately %>;"><%=h daily_working.in_time_format %></td>
      <td align="center" style="width: 7%; color: <%=h daily_working.get_color_out_time %>;"><%=h daily_working.out_time_format %></td>
      <% links = [] %>
      <% daily_working.get_other_applications.each do |other_application| %>
        <% next if other_application.working_option_type != "over_time_app" %>
        <% links << link_to("#{other_application.working_option_type_short_name} #{other_application.base_application.approval_status_type_short_name}", :controller => 'other_application', :action => 'show', :id => other_application, :back_to => request.env['REQUEST_URI']) %>
      <% end %>
      <td align="center" style="width: 6%;"><%= raw links.join("<br/>") %></td>
      <td style="width: 30%;" ><div style="padding: 0;margin: 0;overflow: hidden;width: 100%; height: 1.1em;"><%=h daily_working.summary %></div></td>
      <td align="center" style="width: 7%;"><%=h daily_working.hour_total_format %></td>
    </tr>
  
  <% end %>
</table>
<br>

<% unless weekly_report.empty_contents? %>
  <table class="list_table" style="margin-top: 0;">
  <caption style="font-size:14px"><b>週間報告</b></caption>
    <tr>
      <th style="width: 20%;" align='center'><%=getLongName('weekly_reports','content')%></th><td><%= simple_format h(weekly_report.content) %></td>
    </tr>
  </table>
  <% if weekly_report.base_application.blank? || weekly_report.base_application.can_edit? %>
    <%= link_to '週間報告の編集', :action => 'edit', :id => weekly_report.id, :back_to => request.env['REQUEST_URI'] %>
  <% end %>
<% else %>
  <% if weekly_report.self_data?(current_user.id) %>
    <%= link_to '週間報告の作成', :action => 'edit', :id => weekly_report.id, :back_to => request.env['REQUEST_URI'] %>
  <% end %>
  <br>
<% end %>
<br>

<% if weekly_report.base_application %>
<% application = weekly_report %>
<%= render(:partial => 'base_application/approval', :locals => {:application => application}) %>
<%
  links = []
  base_application = application.base_application 
  if base_application.self_data?(current_user.id)
    links << link_to('取消', {:controller => :base_application, :action => 'cancel', :id => base_application.id, :back_to => request.env['REQUEST_URI']}, {:confirm => "この申請をキャンセルします。よろしいですか？", :method => :post}) if base_application.can_cancel?
    links << link_to('再申請', {:controller => :base_application, :action => 'retry', :id => base_application.id, :redirect_id => application.id, :redirect_controller => controller.controller_name ,:back_to => request.env['REQUEST_URI']}, {:confirm => "再申請します。よろしいですか？", :method => :post}) if base_application.can_retry? 
  end 
  if base_application.application_approver?(current_user.id) 
    links << link_to_change_approval_status(ApplicationApproval.application_approval(application, current_user.id)) 
  end
%>
<%= raw links.compact.join(" | ") %>

<% end %>
<br/>

<% unless weekly_report.empty_contents? %>
<table class="list_table" style="margin-top: 0;" >
<caption style="font-size:14px"><b>コメント</b></caption>
  <tr >
    <th style="width: 6%;" align='center'>No</th>
    <th style="width: 20%;" align='center'>記入者</th>
    <th style="width: 65%;" align='center'>コメント</th>
    <th align='center'>アクション</th>
  </tr>
  <% weekly_report.comments.each_index do |idx| comment = weekly_report.comments[idx] %>
  <tr>
    <td align='center'><%=h idx + 1 %></td>
    <td><%=h comment.user.employee.employee_name %></td>
    <td><%= simple_format h(comment.content) %></td>
    <td>
      <% if comment.user_id == current_user.id then %>
        <%= link_to('編集', :controller => 'comment', :action => 'edit', :id => comment, :parent_id => weekly_report.id, :back_to => request.env['REQUEST_URI']) %>
      <% end %>
    </td>
  </tr>
  
  <% end %><%# end each_index %>
</table>
<br/>
<%= link_to('コメントの新規作成', :controller => 'comment', :action => 'new', :parent_id => weekly_report.id, :back_to => request.env['REQUEST_URI']) %>
<br/>
<br/>
<% end %><%# end unless empty? %>

<% if false %>
<% links = [] %>
<% unless weekly_report.empty_contents? %>
  <% links << link_to('コメントの新規作成', :controller => 'comment', :action => 'new', :parent_id => weekly_report.id, :back_to => request.env['REQUEST_URI']) %>
<% end %>
<% if ApplicationApproval.application_approver?(weekly_report, current_user.id) %>
  <% links << link_to_change_approval_status(ApplicationApproval.application_approval(weekly_report, current_user.id)) %>
<% end %>
<% links << "<a href='#0'>トップへ</a>" %>
<%= raw links.compact.join(" | ") %>
<br/>
<% if weekly_report.base_application %>
<table class="list_table">
<caption style="font-size:14px"><b>承認状態</b></caption>
  <tr>
    <th align="center">承認者</th> 
    <th align="center">状態</th> 
  </tr>
  <% for application_approval in weekly_report.base_application.application_approvals %>
    <% approver = application_approval.approver %>
    <tr> 
      <td><%=h approver.employee.employee_name %></td> 
      <td align="center" style="width: 12%;"><%=h application_approval.approval_status_type_long_name %></td>
    </tr>
  <% end %>
</table>
<% end %><%# end of weekly_report.base_application %>
<% if false %>
  <% if @application_approval.approval_status_type == 'entry' %> 
    <%= link_to '承認', { :controller => 'application_approval', :action => 'approve_weekly_report', :id => @application_approval, :back_to => request.env['REQUEST_URI'] }, :confirm => 'この週間報告を承認します。よろしいですか?', :method => :post %> | 
    <%= link_to '却下', { :controller => 'application_approval', :action => 'reject_weekly_report', :id => @application_approval, :back_to => request.env['REQUEST_URI'] }, :confirm => 'この週間報告を却下します。よろしいですか?', :method => :post %> | 
  <% elsif @application_approval.approval_status_type == 'approved' or @application_approval.approval_status_type == 'reject' %>   
    <%= link_to '解除', { :controller => 'application_approval', :action => 'entry_weekly_report', :id => @application_approval, :back_to => request.env['REQUEST_URI'] }, :confirm => 'この週間報告を解除します。よろしいですか?', :method => :post %> | 
  <% end %>
<% end %>
<% end # if false %>

<a href='#0'>トップへ</a>

<% end %><%# end of @weekly_reports.each_index %>
<br>

