<h1><%=getLongName('table_name','projects')%>一覧</h1>

<%= paginate(@projects) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('projects', 'id') %></th>
    <th><%=getShortName('projects', 'business_partner_id') %></th>
    <th><%=getShortName('projects', 'project_name') %></th>
    <th><%=getShortName('projects', 'project_code_name') %></th>
    <th><%=getShortName('projects', 'project_start_date') %></th>
    <th><%=getShortName('projects', 'project_end_date') %></th>
    <th><%=getShortName('projects', 'order_amount') %></th>
    <th><%=getShortName('projects', 'subcontract_cost') %></th>
    <th><%=getShortName('projects', 'project_type') %></th>
    <th><%=getShortName('projects', 'project_status_type') %></th>
    <th></th>
  </tr>
  
<% for project in @projects %>
  <tr>
    <td><%=h project.id %></td>
    <td><%= link_to h(project.business_partner.business_partner_short_name), :controller => :business_partner, :action => :show, :id => project.business_partner %></td>
    <td><%= link_to h(project.project_name), :action => 'show', :id => project %></td>
    <td><%=h project.project_code_name %></td>
    <td><%=h project.project_start_date %></td>
    <td><%=h project.project_end_date %></td>
    <td><%=h project.order_amount.to_i / 10000 %>万</td>
    <td><%=h project.subcontract_cost.to_i / 10000 %>万</td>
    <td><%=h project.project_type_name %></td>
    <td><%=h project.project_status_type_name %></td>
    <td>
      <%= link_to '削除', { :action => 'destroy', :id => project }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@projects) %>

<br />

<%= link_to (getLongName('table_name','projects')+'の新規作成'), :action => 'new' %>
