<h1>プロジェクトの明細入力</h1>

<%= form_tag :id => params[:id], :base_month => params[:base_month], :user => params[:user], :back_to => params[:back_to] do %>
  <%= error_messages_for 'personal_sale' %>

  <p><label for="personal_sale_id"><%= getLongName('personal_sales', 'id') %></label><br/>
  <%= @personal_sale.id || 'none' %></p>

  <!--[form:personal_sale]-->
  <p><label for="personal_sale_planed_sales_amount"><%=getLongName('personal_sales','planed_sales_amount')%></label><br /><%= text_field 'personal_sale', 'planed_sales_amount'  %></p>

  <p><label for="personal_sale_sales_amount"><%=getLongName('personal_sales','sales_amount')%></label><br /><%= text_field 'personal_sale', 'sales_amount'  %></p>

  <p><label for="personal_sale_memo"><%=getLongName('personal_sales','memo')%></label><br /><%= text_area 'personal_sale', 'memo', :size => '45x3'  %></p>

  <!--[eoform:personal_sale]-->

  <%= hidden_field 'personal_sale', 'lock_version'  %>
  <%= submit_tag "登録" %>
<% end %>

<%= link_to '戻る', (params[:back_to] || {:action => 'list'}) %>
