<h1><%= @project.project_name %></h1>

<table class="show_table">
<tr>
  <th><%= getLongName('projects', 'business_partner_id') %></th><td><%=h @project.business_partner.business_partner_name %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'project_short_name') %></th><td><%=h @project.project_short_name %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'project_name_kana') %></th><td><%=h @project.project_name_kana %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'project_code_name') %></th><td><%=h @project.project_code_name %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'project_start_date') %></th><td><%=h @project.project_start_date %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'project_end_date') %></th><td><%=h @project.project_end_date %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'order_amount') %></th><td><%=h @project.order_amount %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'subcontract_cost') %></th><td><%=h @project.subcontract_cost %></td>
</tr>
<tr>
  <th><%= getLongName('projects', 'project_type') %></th><td><%=h @project.project_type_name %></td>
</tr>
<tr>
  <td colspan=2 style="min-height: 3em;"><%=simple_format h(@project.memo) %></td>
</tr>
</table>

<p>
<%= link_to '編集', :action => 'edit', :id => @project %> |
<%= link_to '一覧', :action => 'list' %>
</p>

<h2>予算配分</h2>
<table class="list_table" style="margin-top: 1em;">
  <tr>
    <th><%= @project.project_start_date.to_date.year%>年</th>
    <% @project.base_months.each do |base_month| %>
      <th><%= base_month.end_date.to_date.month %>月</th>
    <% end %>
    <th>合計</th>
  </tr>
<% month_sum = Hash.new%>
<% total_sum = 0 %>
<% for member in @project.members %>
  <% member_sum = 0 %>
  <tr>
    <td><%=h member.employee.employee_short_name %></td>
    <% @project.base_months.each do |base_month| %>
      <td><%= link_to (@map[member.id][base_month.id] || '未' ), :action => :set_detail, :id => @project, :base_month => base_month, :user => member, :back_to => request.env['REQUEST_URI'] %></td>
    <% end %>
    <td><%=@sum_member[member.id].to_i%></td>
  </tr>
<% end %>
  <td>合計</td>
  <% @project.base_months.each do |base_month| %>
    <td><%=h @sum_month[base_month.id].to_i %></td>
  <% end %>
  <td><%=h @sum_total.to_i %></td>
</table>

<p><%= link_to 'プロジェクトメンバー', :controller => :project_member, :action => :list, :id => @project, :back_to => request.env['REQUEST_URI'] %></p>
