<h1>売り上げ集計</h1>

<p><%=@min_date%> ～ <%=@max_date%>の集計</p>

<h2>月別売り上げ集計</h2>

<table class="list_table" style="width:auto; margin: 1em 0 2em 0;">
  <tr>
    <th>月度</th>
    <th>売上予定</th>
    <th>売上実績</th>
  </tr>
<% for month in @base_months %>
  <tr>
    <td><%=h month.end_date.strftime('%Y/%m') %></td>
    <% if sum = @sum_by_months.find{|x| x.id == month.id} %>
      <td align=right><%=h sum.planed_sales_amount.to_i / 10000 %></td>
      <td align=right><%=h sum.sales_amount.to_i / 10000 %></td>
    <% else %>
      <td></td><td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<h2>個人別売り上げ予定集計</h2>

<table class="list_table" style="margin: 1em 0 2em 0;">
  <tr>
    <th><%=@base_months[0].end_date.year%></th>
    <% @base_months.each do |base_month| %>
      <th width=42><%=base_month.end_date.month%></th>
    <% end %>
  </tr>
<% @plan_map.each do |key, val| %>
  <tr>
    <td><%=h User.find(key).employee.employee_name %></td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=h (val[base_month.id] && (val[base_month.id].to_i / 10000)) %></td>
    <% end %>
  </tr>
<% end %>
  <tr>
    <td>合計</td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=@plan_month_total[base_month.id].to_i / 10000 %></td>
    <% end %>
  </tr>
</table>

<h2>個人別売り上げ実績集計</h2>

<table class="list_table" style="margin: 1em 0 2em 0;">
  <tr>
    <th><%=@base_months[0].end_date.year%></th>
    <% @base_months.each do |base_month| %>
      <th width=42><%=base_month.end_date.month%></th>
    <% end %>
  </tr>
<% @map.each do |key, val| %>
  <tr>
    <td><%=h User.find(key).employee.employee_name %></td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=h (val[base_month.id] && (val[base_month.id].to_i / 10000)) %></td>
    <% end %>
  </tr>
<% end %>
  <tr>
    <td>合計</td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=@month_total[base_month.id].to_i / 10000 %></td>
    <% end %>
  </tr>
</table>

<h2>プロジェクト別売り上げ予定集計</h2>

<table class="list_table" style="margin: 1em 0 2em 0;">
  <tr>
    <th><%=@base_months[0].end_date.year%></th>
    <% @base_months.each do |base_month| %>
      <th width=42><%=base_month.end_date.month%></th>
    <% end %>
  </tr>
<% @project_plan_map.each do |key, val| %>
  <tr>
    <td><%=h Project.find(key).project_name %></td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=h (val[base_month.id] && (val[base_month.id].to_i / 10000)) %></td>
    <% end %>
  </tr>
<% end %>
  <tr>
    <td>合計</td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=@plan_month_total[base_month.id].to_i / 10000 %></td>
    <% end %>
  </tr>
</table>

<h2>プロジェクト別売り上げ実績集計</h2>

<table class="list_table" style="margin: 1em 0 2em 0;">
  <tr>
    <th><%=@base_months[0].end_date.year%></th>
    <% @base_months.each do |base_month| %>
      <th width=42><%=base_month.end_date.month%></th>
    <% end %>
  </tr>
<% @project_map.each do |key, val| %>
  <tr>
    <td><%=h Project.find(key).project_name %></td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=h (val[base_month.id] && (val[base_month.id].to_i / 10000)) %></td>
    <% end %>
  </tr>
<% end %>
  <tr>
    <td>合計</td>
    <% @base_months.each do |base_month| %>
      <td align=right><%=@month_total[base_month.id].to_i / 10000 %></td>
    <% end %>
  </tr>
</table>
