<h1><%=getLongName('table_name','users')%>一覧</h1>

<%= paginate(@users) %>

<table class="list_table">
  <tr>
    <th>ログインId</th> 
    <th>部署</th> 
    <th><%=getLongName('employees','insurance_code')%></th> 
    <th>氏名</th>
  </tr>
  
<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.employee.department.department_name %></td>
    <td><%=h user.employee.insurance_code %></td>
    <% if popup? %>
      <% if params[:mode] == 'contact' %>
        <td><%= link_to h(user.employee.employee_name), '#', :onClick => "setContactUser(#{user.id},'#{user.employee.employee_name}');return false;" %></td>
      <% elsif params[:mode] == 'sales' %>
        <td><%= link_to h(user.employee.employee_name), '#', :onClick => "setSalesUser(#{user.id},'#{user.employee.employee_name}');return false;" %></td>
      <% elsif params[:mode] == 'approach' %>
        <td><%= link_to h(user.employee.employee_name), '#', :onClick => "setApproachUser(#{user.id},'#{user.employee.employee_name}');return false;" %></td>
      <% elsif params[:mode] == 'interview' %>
        <td><%= link_to h(user.employee.employee_name), '#', :onClick => "setInterviewUser(#{user.id},'#{user.employee.employee_name}');return false;" %></td>
      <% elsif params[:mode] == 'contract' %>
        <td><%= link_to h(user.employee.employee_name), '#', :onClick => "setContractUser(#{user.id},'#{user.employee.employee_name}');return false;" %></td>
      <% end %>
    <% else %>
      <td><%= user.employee.employee_name %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate(@users) %>

<br />

<% if popup? %>
<script type="text/javascript">
<!--
function setContactUser(user_id, employee_name) {
  if(window.opener.document.setContactUser){
    var user = new Object();
    user.contact_pic_id = user_id;
    user.contact_pic_name = employee_name;
    window.opener.document.setContactUser(user);
  }
  window.close();
}

function setSalesUser(user_id, employee_name) {
  if(window.opener.document.setSalesUser){
    var user = new Object();
    user.sales_pic_id = user_id;
    user.sales_pic_name = employee_name;
    window.opener.document.setSalesUser(user);
  }
  window.close();
}

function setApproachUser(user_id, employee_name) {
  if(window.opener.document.setApproachUser){
    var user = new Object();
    user.approach_pic_id = user_id;
    user.approach_pic_name = employee_name;
    window.opener.document.setApproachUser(user);
  }
  window.close();
}

function setInterviewUser(user_id, employee_name) {
  if(window.opener.document.setInterviewUser){
    var user = new Object();
    user.interview_pic_id = user_id;
    user.interview_pic_name = employee_name;
    window.opener.document.setInterviewUser(user);
  }
  window.close();
}

function setContractUser(user_id, employee_name) {
  if(window.opener.document.setContractUser){
    var user = new Object();
    user.contract_pic_id = user_id;
    user.contract_pic_name = employee_name;
    window.opener.document.setContractUser(user);
  }
  window.close();
}

// -->
</script>
<% end # if popup? %>
