<h1><%=getLongName('table_name','personal_sales')%>一覧</h1>

<%= paginates(@personal_sales) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('personal_sales', 'id') %></th>

    <th><%=getShortName('personal_sales', 'planed_sales_amount') %></th>

    <th><%=getShortName('personal_sales', 'sales_amount') %></th>

    <th><%=getShortName('personal_sales', 'memo') %></th>

    <th><%=getShortName('personal_sales', 'created_at') %></th>

    <th><%=getShortName('personal_sales', 'updated_at') %></th>

    <th><%=getShortName('personal_sales', 'lock_version') %></th>

    <th><%=getShortName('personal_sales', 'created_user') %></th>

    <th><%=getShortName('personal_sales', 'updated_user') %></th>

    <th><%=getShortName('personal_sales', 'deleted') %></th>

    <th></th>
  </tr>
  
<% for personal_sale in @personal_sales %>
  <tr>
    <td><%=h personal_sale.id %></td>

    <td><%=h personal_sale.planed_sales_amount %></td>

    <td><%=h personal_sale.sales_amount %></td>

    <td><%=h personal_sale.memo %></td>

    <td><%=h personal_sale.created_at %></td>

    <td><%=h personal_sale.updated_at %></td>

    <td><%=h personal_sale.lock_version %></td>

    <td><%=h personal_sale.created_user %></td>

    <td><%=h personal_sale.updated_user %></td>

    <td><%=h personal_sale.deleted %></td>

    <td>
      <%= link_to '表示', :action => 'show', :id => personal_sale %>, 
      <%= link_to '変更', :action => 'edit', :id => personal_sale %>, 
      <%= link_to '削除', { :action => 'destroy', :id => personal_sale }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginates(@personal_sales) %>

<br />

<%= link_to (getLongName('table_name','personal_sales')+'の新規作成'), :action => 'new' %>
