<%= error_messages_for 'biz_offer' %>


<h2>案件</h2>
<!--[form:business]-->
  <%= render :partial => 'business/form' %>
<!--[eoform:business]-->


<h2>照会</h2>
<!--[form:biz_offer]-->
  <%= hidden_field 'biz_offer', 'business_id', :value => @business.id %>

<table class="show_table">
<tr>
<th><label for="business_partner_name">上流取引先</label></th><td><%= text_field_tag 'business_partner_name', @biz_offer.business_partner.blank? ? "" : @biz_offer.business_partner.business_partner_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'business_partner', :action => 'list', :popup =>1, :flg => 'upper' %>');return false;" />
    <input type=button value='クリア' onClick="clearBp();return false;" />
    <%= hidden_field 'biz_offer', 'business_partner_id' %></td>
</tr>
<tr>
<th><label for="bp_pic_name">上流取引先担当</label></th><td><%= text_field_tag 'bp_pic_name', @biz_offer.bp_pic.blank? ? "" : @biz_offer.bp_pic.bp_pic_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="openBpPicList();return false;" />
    <input type=button value='クリア' onClick="clearBpPic();return false;" />
    <%= hidden_field 'biz_offer', 'bp_pic_id' %></td>
</tr>
<tr>
<th><label for="biz_offer_biz_offered_at"><%=getLongName('biz_offers','biz_offered_at')%></label></th><td><%= date_field 'biz_offer', 'biz_offered_at' %>
<%= select_tag 'biz_offered_at_hour', options_for_select((0..23).to_a.map{|x| sprintf("%0.2d", x)}, sprintf("%0.2d", @biz_offered_at_hour.to_i)) %> : 
<%= select_tag 'biz_offered_at_minute', options_for_select((0..5).to_a.map{|x| sprintf("%0.2d", x * 10)}, sprintf("%0.2d", @biz_offered_at_min.to_i)) %>
</td>
</tr>
<tr>
<th><label for="biz_offer_due_date"><%=getLongName('biz_offers','due_date')%></label></th><td><%= date_field 'biz_offer', 'due_date'  %></td>
</tr>
<tr>
<th><label for="biz_offer_reprint_flg"><%=getLongName('biz_offers','reprint_flg')%></label></th><td><%= check_box 'biz_offer', 'reprint_flg'  %></td>
</tr>
<tr>
<th><label for="biz_offer_winning_rate"><%=getLongName('biz_offers','winning_rate')%></label></th><td><%= text_field 'biz_offer', 'winning_rate'  %></td>
</tr>
<tr>
<th><label for="biz_offer_sales_route"><%=getLongName('biz_offers','sales_route')%></label></th><td><%= text_field 'biz_offer', 'sales_route'  %></td>
</tr>
<tr>
<th><label for="biz_offer_contact_pic_name">窓口担当</label></th><td><%= text_field_tag 'contact_pic_name', @biz_offer.contact_pic.blank? ? "" : @biz_offer.contact_pic.employee.employee_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'employee', :action => 'list', :popup =>1, :mode => 'Contact' %>');return false;" />
    <input type=button value='クリア' onClick="clearContactUser();return false;" />
    <%= hidden_field 'biz_offer', 'contact_pic_id' %></td>
</tr>
<tr>
<th><label for="biz_offer_sales_pic_name">営業担当</label></th><td><%= text_field_tag 'sales_pic_name', @biz_offer.sales_pic.blank? ? "" : @biz_offer.sales_pic.employee.employee_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'employee', :action => 'list', :popup =>1, :mode => 'Sales' %>');return false;" />
    <input type=button value='クリア' onClick="clearSalesUser();return false;" />
    <%= hidden_field 'biz_offer', 'sales_pic_id' %></td>
</tr>
<tr>
<th><label for="biz_offer_payment_text"><%=getLongName('biz_offers','payment_text')%></label></th><td><%= resizable_area 'biz_offer', 'payment_text'  %></td>
</tr>
<tr>
<th><label for="biz_offer_payment_max"><%=getLongName('biz_offers','payment_max')%></label></th><td><%= text_field 'biz_offer', 'payment_max_view', :size => 6 %>万円</td>
</tr>
<tr>
<th><label for="biz_offer_time_adjust_text"><%=getLongName('biz_offers','time_adjust_text')%></label></th><td><%= text_field 'biz_offer', 'time_adjust_text'  %></td>
</tr>
<tr>
<th><label for="biz_offer_skill_consideration_flg"><%=getLongName('biz_offers','skill_consideration_flg')%></label></th><td><%= check_box 'biz_offer', 'skill_consideration_flg'  %></td>
</tr>
<tr>
<th><label for="biz_offer_interview_times_memo"><%=getLongName('biz_offers','interview_times_memo')%></label></th><td><%= resizable_area 'biz_offer', 'interview_times_memo'  %></td>
</tr>
<tr>
<th><label for="biz_offer_interview_times"><%=getLongName('biz_offers','interview_times')%></label></th><td><%= text_field 'biz_offer', 'interview_times'  %></td>
</tr>
<tr>
<th><label for="biz_offer_sales_route_limit"><%=getLongName('biz_offers','sales_route_limit')%></label></th><td><%= text_field 'biz_offer', 'sales_route_limit'  %></td>
</tr>
<tr>
<th><label for="biz_offer_application_format"><%=getLongName('biz_offers','application_format')%></label></th><td><%= resizable_area 'biz_offer', 'application_format'  %></td>
</tr>
<tr>
<th><label for="biz_offer_memo"><%=getLongName('biz_offers','memo')%></label></th><td><%= resizable_area 'biz_offer', 'memo'  %></td>
</tr>
</table>

<!--[eoform:biz_offer]-->
<%= hidden_field 'biz_offer', 'lock_version' %>
<%= hidden_field 'biz_offer', 'import_mail_id' %>

<%= back_to_field_tag %>

<script type="text/javascript">
<!--
function openBpPicList() {
    disp_wide('<%=url_for :controller => 'bp_pic', :action => 'list', :popup =>1 %>' + '/' + document.getElementById("biz_offer_business_partner_id").value)
}

document.setBp = function(bp) {
    document.getElementById("biz_offer_business_partner_id").value = bp.id;
    document.getElementById("business_partner_name").value = bp.business_partner_name;
    document.getElementById("biz_offer_bp_pic_id").value = "";
    document.getElementById("bp_pic_name").value = "";
}

function clearBp(){
    document.getElementById("biz_offer_business_partner_id").value = "";
    document.getElementById("business_partner_name").value = "";
    document.getElementById("biz_offer_bp_pic_id").value = "";
    document.getElementById("bp_pic_name").value = "";
}

document.setBpPic = function(bp_pic){
    document.getElementById("biz_offer_bp_pic_id").value = bp_pic.id;
    document.getElementById("bp_pic_name").value = bp_pic.bp_pic_name;
}

function clearBpPic(){
    document.getElementById("biz_offer_bp_pic_id").value = "";
    document.getElementById("bp_pic_name").value = "";
}

document.setContactUser = function(user){
    document.getElementById("biz_offer_contact_pic_id").value = user.pic_id;
    document.getElementById("contact_pic_name").value = user.pic_name;
}

function clearContactUser(){
    document.getElementById("biz_offer_contact_pic_id").value = "";
    document.getElementById("contact_pic_name").value = "";
}

document.setSalesUser = function(user){
    document.getElementById("biz_offer_sales_pic_id").value = user.pic_id;
    document.getElementById("sales_pic_name").value = user.pic_name;
}

function clearSalesUser(){
    document.getElementById("biz_offer_sales_pic_id").value = "";
    document.getElementById("sales_pic_name").value = "";
}

// -->
</script>
