<table class="show_table">
<tr>
  <th>上流<%= getLongName('business_partners', 'sales_code') %></th><td><%=h @biz_offer.business_partner.sales_code %></td>
</tr>
<tr>
  <th>上流<%= getLongName('business_partners', 'business_partner_name') %></th><td><%=h @biz_offer.business_partner.business_partner_name %></td>
</tr>
<tr>
  <th>上流<%= getLongName('bp_pics', 'bp_pic_name') %></th><td><%=h @biz_offer.bp_pic.blank? ? "" : @biz_offer.bp_pic.bp_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'biz_offer_status_type') %></th><td><%=h @biz_offer.biz_offer_status_type %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'biz_offered_at') %></th><td><%=h _time_long(@biz_offer.biz_offered_at) %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'due_date') %></th><td><%=h @biz_offer.due_date %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'reprint_flg') %></th>
  <td><%=h (@biz_offer.reprint_flg == 1 ? "可" : "不可" ) %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'winning_rate') %></th><td><%=h @biz_offer.winning_rate %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'sales_route') %></th><td><%=h @biz_offer.sales_route %></td>
</tr>
<tr>
  <th>窓口担当者名</th><td><%=h @biz_offer.contact_employee_name %></td>
</tr>
<tr>
  <th>営業担当者名</th><td><%=h @biz_offer.sales_employee_name %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'payment_text') %></th><td><%=simple_format h(@biz_offer.payment_text) %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'payment_max') %></th><td><%=h((@biz_offer.payment_max.blank? || @biz_offer.payment_max == 0) ? "" : "#{@biz_offer.payment_max_view}万円") %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'time_adjust_text') %></th><td><%=h @biz_offer.time_adjust_text %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'skill_consideration_flg') %></th>
  <td><%=h (@biz_offer.skill_consideration_flg == 1 ? "有" : "無" ) %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'interview_times_memo') %></th><td><%=simple_format h(@biz_offer.interview_times_memo) %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'interview_times') %></th><td><%=h @biz_offer.interview_times %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'sales_route_limit') %></th><td><%=h @biz_offer.sales_route_limit %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'application_format') %></th><td><%=simple_format h(@biz_offer.application_format) %></td>
</tr>
<tr>
  <th><%= getLongName('biz_offers', 'memo') %></th><td><%=simple_format h(@biz_offer.memo) %></td>
</tr>
</table>
