<h1><%=getLongName('table_name','biz_offers')%>編集</h1>

<%= form_tag :action => 'update', :id => @biz_offer, :business_id => @business do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<%= link_or_back '戻る', :action => 'list' %>
