<h1><%=getLongName('table_name','biz_offers')%>一覧</h1>

<%= paginate(@biz_offers) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('businesses', 'business_title') %></th>
    <th><%=getShortName('businesses', 'issue_datetime') %></th>
    <th><%=getShortName('businesses', 'skill_tag') %></th>
    <th>EU取引先</th>
    <th>EU<%=getShortName('bp_pics', 'bp_pic_name') %></th>
    <th><%=getShortName('businesses', 'business_status_type') %></th>
    <th><%=getShortName('biz_offers', 'biz_offer_status_type') %></th>
    <th><%=getShortName('biz_offers', 'payment_text') %></th>
  </tr>
  
<% for biz_offer in @biz_offers %>
  <tr>
    <td><%=back_to_link h(biz_offer.business.business_title), :action => :show, :id => biz_offer %></td>
    <td><%=h _time(biz_offer.business.issue_datetime) %></td>
    <td><%=h biz_offer.business.skill_tag %></td>
    <td><%=h biz_offer.business.eubp.blank? ? "" : biz_offer.business.eubp.business_partner_code_name %></td>
    <td><%=h biz_offer.business.eubp_pic.blank? ? "" : biz_offer.business.eubp_pic.bp_pic_name %></td>
    <td><%=h biz_offer.business.business_status_type %></td>
    <td><%=h biz_offer.biz_offer_status_type_name %></td>
    <td><%=h biz_offer.payment_text %></td>
  </tr>
<% end %>
</table>

<%= paginate(@biz_offers) %>

<br />

<%= link_to (getLongName('table_name','biz_offers')+'の新規作成'), :action => 'new' %>
