<h1><%= @business.business_title %> (照会取引先：<%= @biz_offer.business_partner.business_partner_code_name %>)詳細</h1>

<h2><%=getLongName('table_name','businesses')%>情報</h2>
<%= render :partial => 'business/show' %>
<%= back_to_link '照会に追加', :action => 'new', :business_id => @business %>
<p></p>

<h2><%=getLongName('table_name','biz_offers')%>情報</h2>
<%= render :partial => 'biz_offer/show' %>
<%= back_to_link '編集', :action => 'edit', :id => @biz_offer %> |
<% if !@biz_offer.import_mail_id.blank? %>
  <%= back_to_link '解析テンプレートで再解析を行う', {:controller => 'analysis_template', :action => 'list', :mode => 'biz_offer', :target_id => @biz_offer.id, :import_mail_id => @biz_offer.import_mail_id}, :popup => ['new_window', 'height=800,width=900', 'scrollbars=yes'], :confirm => '解析された項目は上書きされますがよろしいですか？' %> | 
<% end %>
<%= link_or_back '戻る', :action => 'list' %>
<p></p>

<h2><%=getLongName('table_name','approaches')%>一覧</h2>
<% if !@approaches.blank? %>
<%= render :partial => 'approach/list' %>
<% end %>
<%= link_to (getLongName('table_name','approaches')+'の新規作成'), :controller => :approach, :action => 'new', :biz_offer_id => @biz_offer %>

<%= render :partial => 'business_partner/form_remark' %>
