<%= error_messages_for 'analysis_template_item' %>

<p><label for="analysis_template_item_analysis_template_item_name"><%=getLongName('analysis_template_items','analysis_template_item_name')%></label><br /><%= text_field 'analysis_template_item', 'analysis_template_item_name'  %></p>

<p><label for="analysis_template_item_pattern"><%=getLongName('analysis_template_items','pattern')%></label><br /><%= text_field 'analysis_template_item', 'pattern'  %></p>

<p><label for="analysis_template_item_ignore_flg"><%=getLongName('analysis_template_items','ignore_flg')%></label><br /><%= check_box 'analysis_template_item', 'ignore_flg'  %></p>

<p><label for="analysis_template_item_target_table_name"><%=getLongName('analysis_template_items','target_table_name')%></label><br /><%= text_field 'analysis_template_item', 'target_table_name'  %></p>

<p><label for="analysis_template_item_target_column_name"><%=getLongName('analysis_template_items','target_column_name')%></label><br /><%= text_field 'analysis_template_item', 'target_column_name'  %></p>

<p><label for="analysis_template_item_before_set_code"><%=getLongName('analysis_template_items','before_set_code')%></label><br /><%= resizable_area 'analysis_template_item', 'before_set_code'  %></p>

<p><label for="analysis_template_item_after_set_code"><%=getLongName('analysis_template_items','after_set_code')%></label><br /><%= resizable_area 'analysis_template_item', 'after_set_code'  %></p>

<p><label for="analysis_template_item_memo"><%=getLongName('analysis_template_items','memo')%></label><br /><%= resizable_area 'analysis_template_item', 'memo'  %></p>

<%= hidden_field 'analysis_template_item', 'analysis_template_id', :value => params[:analysis_template] %>
