<table class="list_table">
  <tr>
    <th><%=getShortName('analysis_template_items', 'analysis_template_item_name') %></th>
    <th><%=getShortName('analysis_template_items', 'pattern') %></th>
    <th><%=getShortName('analysis_template_items', 'ignore_flg') %></th>
    <th><%=getShortName('analysis_template_items', 'target_table_name') %></th>
    <th><%=getShortName('analysis_template_items', 'target_column_name') %></th>
    <th><%=getShortName('analysis_template_items', 'memo') %></th>
    <th></th>
  </tr>
  
<% for analysis_template_item in @analysis_template_items %>
  <tr>
    <td><%=h analysis_template_item.analysis_template_item_name %></td>
    <td><%=h analysis_template_item.pattern %></td>
    <td><%=h analysis_template_item.ignore_flg %></td>
    <td><%=h analysis_template_item.target_table_name %></td>
    <td><%=h analysis_template_item.target_column_name %></td>
    <td><%= simple_format h(analysis_template_item.memo) %></td>
    <td>
      <%= back_to_link '編集', :controller => 'analysis_template_item', :action => 'edit', :id => analysis_template_item %>
      <%= back_to_link '削除', {:controller => 'analysis_template_item', :action => :destroy, :id => analysis_template_item, :authenticity_token => form_authenticity_token}, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

