<h1><%=getLongName('table_name','business_trip_applications')%>一覧</h1>
<%= link_to '全て', :controller => :application_approval, :action => :working_app_by_user, :edit_type => 'working_app_by_user' %> | 
<%= link_to '休暇申請', :controller => :holiday_application, :action => :list %> | 
<%= link_to '出張申請', :controller => :business_trip_application, :action => :list %> | 
<%= link_to '他勤怠申請', :controller => :other_application, :action => :list %>
<br>   
<hr> 

<%= form_tag :action => 'do_search' do %>
  <%= render :partial => 'form_search' %>  
<% end %>

<%= paginate(@business_trip_applications) %>


<table class="list_table">
  <tr>
    <th rowspan="2">No</th>
    <th rowspan="2"><%=getShortName('business_trip_applications', 'application_date')%></th> 
    <th rowspan="2"><%=getShortName('business_trip_applications', 'start_date')%></th> 
    <th rowspan="2"><%=getShortName('business_trip_applications', 'end_date')%></th> 
    <th rowspan="2"><%=getShortName('business_trip_applications', 'day_total')%></th> 
    <% if false  %>
    <th rowspan="2"><%=getShortName('business_trip_applications', 'reason')%></th> 
    <% end %>
    <th rowspan="2"><%=getShortName('business_trip_applications', 'content')%></th> 
    <% if false  %>
    <th rowspan="2"><%=getShortName('business_trip_applications', 'location')%></th> 
    <% end %>
    <th rowspan="2"><%=getShortName('business_trip_applications', 'client')%></th> 
    <% if false  %>
    <th rowspan="2"><%=getShortName('business_trip_applications', 'book_no')%></th> 
    <% end %>
    <% if @approval_authorities.size > 0 %>
      <th colspan="<%= @approval_authorities.size %>">承認者</th>  
    <% end %>
    <th rowspan="2">アクション</th>
  </tr>
  <tr>
    <% for approval_authority in @approval_authorities %>
      <% user = User.find(approval_authority.approver_id) %>
      <th><%=h user.employee.employee_short_name != nil ? user.employee.employee_short_name : user.employee.employee_name %>
      </th> 
    <% end %>
  </tr>

<% @business_trip_applications.each_index do |idx| business_trip_application = @business_trip_applications[idx] %>
  <tr>
    <td align="center"><%=h (idx+1) %></td>
    <td align="center" style="width: 8%;"><%=h business_trip_application.application_date.to_date %></td>
    <td align="center" style="width: 8%;"><%=h business_trip_application.start_date.to_date %></td>
    <td align="center" style="width: 8%;"><%=h business_trip_application.end_date.to_date %></td>
    <td align="center" style="width: 6%;"><%=h business_trip_application.day_total.to_i %></td>
    <% if false  %>
    <td><%=h business_trip_application.reason %></td>
    <% end %>
    <td><%=h business_trip_application.content %></td>
    <% if false  %>
    <td><%=h business_trip_application.location %></td>
    <% end %>
    <td><%=h business_trip_application.client %></td>
    <% if false  %>
    <td><%=h business_trip_application.book_no %></td>
    <% end %>
    <% for approval_authority in @approval_authorities %>
      <% exist = false %>
        <% for application_approval in business_trip_application.application_approvals %>
        <% if approval_authority.approver_id == application_approval.approver_id %>
          <% exist = true %>
          <% break %>
        <% end %>
      <% end %>
      <% if exist == true %>
        <td align="center"><%=h application_approval.approval_status_type_long_name %></td>
      <% else %>
        <td align="center"> </td>
      <% end %>
    <% end %>
      
    <td>
      <%= link_to '表示', :action => 'show', :id => business_trip_application, :back_to => request.env['REQUEST_URI'] %>, 
      <%= link_to '変更', :action => 'edit', :id => business_trip_application, :back_to => request.env['REQUEST_URI'] %>, 
      <%= link_to '削除', { :action => 'destroy', :id => business_trip_application }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>

</table>
<br>

<%= paginate(@business_trip_applications) %>

<br />


<%= link_to (getLongName('table_name','business_trip_applications')+'の新規作成のテスト'), :action => 'new', :back_to => request.env['REQUEST_URI'] %>

