<h1>出張申請承認一覧</h1>
<%= link_to '全て', :controller => :application_approval, :action => :working_app %></li> | 
<%= link_to '休暇申請承認', :controller => :holiday_application, :action => :list_by_approver %></li> | 
<%= link_to '出張申請承認', :controller => :business_trip_application, :action => :list_by_approver %></li> | 
<%= link_to '他勤怠申請承認', :controller => :other_application, :action => :list_by_approver %></li> | 
<% if false %>
<%= link_to '勤怠承認', :controller => :monthly_working, :action => :list_by_approver %></li> | 
<%= link_to '週報承認', :controller => :weekly_report, :action => :list_by_approver %></li>
<% end %>
<br>   
<hr> 

<%= paginate(@business_trip_applications) %>

<table class="list_table">
  <tr>
    <th style="width: 6%;">No</th>
    <th style="width: 9%;"><%=getShortName('employees', 'insurance_code')%></th> 
    <th><%=getShortName('employees', 'employee_name')%></th> 
    <th th style="width: 9%;"><%=getShortName('business_trip_applications', 'application_date')%></th> 
    <th th style="width: 9%;"><%=getShortName('business_trip_applications', 'start_date')%></th> 
    <th th style="width: 9%;"><%=getShortName('business_trip_applications', 'end_date')%></th> 
    <th th style="width: 20%;"><%=getShortName('business_trip_applications', 'content')%></th> 
    
    <th>状態</th> 
    
    
    <% if false %>
    <% for approval_authority in @approval_authorities %>
      <% user = User.find(approval_authority.approver_id) %>
      <th><%=h user.employee.employee_name %></th> 
    <% end %>
    <% end %>
    <th>アクション</th>
  </tr>

<% @business_trip_applications.each_index do |idx| business_trip_application = @business_trip_applications[idx] %>
  <tr>
    <td align="center"><%=h (idx+1) %></td>
    <td><%=h business_trip_application.user.employee.insurance_code %></td>
    <td><%=h business_trip_application.user.employee.employee_name %></td>
    <td align="center"><%=h business_trip_application.application_date.to_date if business_trip_application.application_date != nil %></td>
    <td align="center"><%=h business_trip_application.start_date.to_date if business_trip_application.start_date != nil %></td>
    <td align="center"><%=h business_trip_application.end_date.to_date if business_trip_application.end_date != nil %></td>
    <td><%=h business_trip_application.content %></td>
    <% if false %>
    <% application_approvals = ApplicationApproval.find(:all, :conditions => ["user_id = ? and business_trip_application_id = ?", business_trip_application.user_id, business_trip_application.id]) %>    
    <% for application_approval in application_approvals %>
      <td align="center"><%=h application_approval.approval_status_type_long_name %></td>
    <% end %>
    <% end %>
    
    <% application_approval = ApplicationApproval.find(:first, :conditions => ["user_id = ? and business_trip_application_id = ? and approver_id = ?", business_trip_application.user_id, business_trip_application.id, current_user.id]) %>
    <td align="center"><%=h application_approval.approval_status_type_long_name %></td>
    
    <td>
      <%= link_to '表示', :action => 'show', :id => business_trip_application, :back_to => request.env['REQUEST_URI'] %>
      
      <% if application_approval.approval_status_type == 'entry' %> 
        <%= link_to '承認', { :controller => 'application_approval', :action => 'approve_business_trip_app', :id => application_approval }, :confirm => 'この申請を承認します。よろしいですか?', :method => :post %>
        <%= link_to '却下', { :controller => 'application_approval',:action => 'reject_business_trip_app', :id => application_approval }, :confirm => 'この申請を却下します。よろしいですか?', :method => :post %>
      <% elsif application_approval.approval_status_type == 'approved' %> 
        <%= link_to '申請中', { :controller => 'application_approval', :action => 'entry_business_trip_app', :id => application_approval }, :confirm => 'この申請が申請中になります。よろしいですか?', :method => :post %>
      <% elsif application_approval.approval_status_type == 'reject' %> 
        <%= link_to '申請中', { :controller => 'application_approval', :action => 'entry_business_trip_app', :id => application_approval }, :confirm => 'この申請が申請中になります。よろしいですか?', :method => :post %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<br>
<%= paginate(@business_trip_applications) %>


