<h1><%= @bp_pic_group.bp_pic_group_name %> 詳細</h1>

  <%= link_to "明細追加", :controller => :bp_pic_groups, :action => :new_details, :id => @bp_pic_group.id, :delivery_mail_id => @delivery_mail_id %>
  <%= form_tag(url_for(:controller => :delivery_mails, :action => :add_details), :method => :post) do %>
    <table class="show_table">
      <tr>
        <% if @called_by_delivery_mail_create %>
          <th></th>
        <% end %>
        <th><%= getLongName('business_partners', 'business_partner_name') %></th>
        <th><%= getLongName('bp_pics', 'bp_pic_name') %></th>
        <th>削除</th>
      </tr>
      <% @bp_pic_group.bp_pic_group_details.each do |detail| %>
        <% if (not detail.bp_pic.nil?) and (not detail.bp_pic.business_partner.nil?) %>
          <tr>
            <% if @called_by_delivery_mail_create %>
              <td><%= check_box_tag 'bp_pic_ids[]', detail.bp_pic_id, true %></td>
            <% end %>
            <td><%= link_to detail.bp_pic.business_partner.business_partner_name, :controller => :business_partner, :action => :show, :id => detail.bp_pic.business_partner_id %></td>
            <td><%= link_to detail.bp_pic.bp_pic_name, :controller => :bp_pic, :action => :show, :id => detail.bp_pic_id %></td>
            <td><%= link_to '削除', {:controller => :bp_pic_groups, :action => :bp_pic_delete, :id => detail.bp_pic_id, :bp_pic_group_id => params[:id]}, :method => :get %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <% if @called_by_delivery_mail_create %>
      <%= hidden_field_tag 'delivery_mail_id', @delivery_mail_id %>
      <%= submit_tag "メール作成" %>
    <% end %>
  <% end %>

<%= back_to_link '編集', edit_bp_pic_group_path(@bp_pic_group) %> |
<%= link_to '削除', @bp_pic_group, method: :delete, data: { confirm: '削除します。よろしいですか?' } %> |
<%= link_or_back '戻る', bp_pic_groups_path %>