<script type="text/javascript">
<!--
  var cal = new JKL.Calendar("calDisplay","","employee_history[start_date]");
  var cal2 = new JKL.Calendar("calDisplay2","","employee_history[end_date]");
  
  var flgCal = true;
  var flgCal2 = true;
  
//-->
</script>


<%= error_messages_for 'employee_history' %>

<!--[form:employee_history]-->
<p>
<label for="employee_history_start_date"><%=getLongName('employee_histories','start_date')%></label><br />
<input type="text" id="employee_history_start_date" name="employee_history[start_date]" value="<%=h @employee_history.start_date.to_date if @employee_history.start_date != nil %>" size="15" onClick="cal.write();" onChange="cal.getFormValue(); cal.hide();" onblur="if (flgCal) {cal.hide();}">
<div id="calDisplay" onmouseover="flgCal = false;" onmouseout="flgCal = true;" ></div>
</p>

<label for="employee_history_end_date"><%=getLongName('employee_histories','end_date')%></label><br />
<input type="text" id="employee_history_end_date" name="employee_history[end_date]" value="<%=h @employee_history.end_date.to_date if @employee_history.end_date != nil %>" size="15" onClick="cal2.write();" onChange="cal2.getFormValue(); cal2.hide();" onblur="if (flgCal2) {cal2.hide();}">
<div id="calDisplay2" onmouseover="flgCal2 = false;" onmouseout="flgCal2 = true;" ></div>


<p><label for="employee_history_summary"><%=getLongName('employee_histories','summary')%></label><br /><%= text_field 'employee_history', 'summary'  %></p>
<p><label for="employee_history_content"><%=getLongName('employee_histories','content')%></label><br /><%= text_area 'employee_history', 'content', :size => '60x10'  %></p>
<p><label for="employee_history_position"><%=getLongName('employee_histories','position')%></label><br /><%= text_field 'employee_history', 'position'  %></p>
<p><label for="employee_history_technique"><%=getLongName('employee_histories','technique')%></label><br /><%= text_area 'employee_history', 'technique', :size => '60x10'  %></p>


<p><%= hidden_field 'employee_history', 'user_id'  %></p>
<p><%= hidden_field 'employee_history', 'lock_version'  %></p>
<!--[eoform:employee_history]-->

