<h1><%=getLongName('table_name','employee_histories')%>新規作成</h1>
<p>社員名: <%=h @employee.employee_name %></p>

<%= form_tag ({:action => 'create'} , {:multipart => true}) do %>

  <%= render :partial => 'form' %>
  <%= submit_tag "登録" %>
<% end %>

<%= link_to '一覧に戻る', :action => 'list', :employee_id => @employee %>
