<h1><%=getLongName('table_name','employee_histories')%>表示</h1>
<p>社員名: <%=h @employee.employee_name %></p>
<table class="show_table">
<tr>
  <th><%=getLongName('employee_histories','start_date')%></th>
  <td><%=h @employee_history.start_date.to_date if @employee_history.start_date != nil %></td>
</tr>
<tr>
  <th><%=getLongName('employee_histories','end_date')%></th>
  <td><%=h @employee_history.end_date.to_date if @employee_history.end_date != nil %></td>
</tr>
<tr>
  <th><%=getLongName('employee_histories','summary')%></th>
  <td><%=h @employee_history.summary %></td>
</tr>
<tr>
  <th><%=getLongName('employee_histories','content')%></th>
  <td><%= simple_format @employee_history.content %></td>
</tr>
<tr>
  <th><%=getLongName('employee_histories','position')%></th>
  <td><%=h @employee_history.position %></td>
</tr>
<tr>
  <th><%=getLongName('employee_histories','technique')%></th>
  <td><%= simple_format @employee_history.technique %></td>
</tr>

</table>
<br/>
<%= link_to '編集', :action => 'edit', :id => @employee_history, :employee_id => @employee %> |
<%= link_to '一覧', :action => 'list', :employee_id => @employee %>
