<h1><%=getLongName('table_name','names')%>一覧</h1>

<%= paginate(@names) %>

<table class="list_table">
  <tr>
  <% for column in Name.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('names', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for name in @names %>
  <tr>
  <% for column in Name.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h name.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => name %>, 
      <%= link_to '変更', :action => 'edit', :id => name %>, 
      <%= link_to '削除', { :action => 'destroy', :id => name }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@names) %>

<br />

<%= link_to (getLongName('table_name','names')+'の新規作成'), :action => 'new' %>
