<p><b>社員検索</b></p>
<table border='0' cellpadding='0'>
  <tr>
    <td font size=12px align="right">年齢：</td>
    <td width="240px">
      <input type="text" id="age_from" name="age_from" size="5" value="<%= params[:age_from] ? params[:age_from] : '' %>" />　歳　～　
      <input type="text" id="age_to" name="age_to" size="5" value="<%= params[:age_to] ? params[:age_to] : '' %>" />　歳
    </td>
    <td font size=12px align="right">勤務年数：</td>
    <td colspan="2">
      <input type="text" id="working_year_from" name="working_year_from" size="5" value="<%= params[:working_year_from] ? params[:working_year_from] : '' %>" />　～　
      <input type="text" id="working_year_to" name="working_year_to" size="5" value="<%= params[:working_year_to] ? params[:working_year_to] : '' %>" />
    </td>
  </tr>
  <tr>
    <td font size=12px align="right">部署：</td>
    <td><%= select_tag 'employee[department_id]', options_for_select(@departments.collect{|x| [x.department_name, x.id]}.unshift([]), params[:employee] ? params[:employee][:department_id] : '') %></td>
    <td font size=12px align="right">退社日：</td>
    <td>
<%= date_field_tag 'date_from' %>
　～　</td>
    <td>
    <%= date_field_tag 'date_to' %>
</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><div id="calDisplay" onmouseover="flgCal = false;" onmouseout="flgCal = true;"></div></td>
    <td><div id="cal2Display" onmouseover="flgCal2 = false;" onmouseout="flgCal2 = true;" ></div></td>
  </tr>
  <tr>
    <td font size=12px align="right">住所：</td>
    <td>
      <input type="text" id="address" name="address" size="30" value="<%= params[:address] ? params[:address] : '' %>" />
    </td>
    <td font size=12px align="right">性別：</td>
    <td colspan="2">
      <% x = params[:employee] ? params[:employee][:sex_type] : "2" %>
      <%= radio_button("employee", "sex_type", "all", :checked => true) %>すべて
      <%= radio_button("employee", "sex_type", "man") %>男性
      <%= radio_button("employee", "sex_type", "woman") %>女性
    </td>
  </tr>
  <tr>
    <td colspan="5" font size=12px align="right">
      <%= submit_tag " 検 索 ", :onclick => "return validateDate($('date_from').val()) && validateDate($('date_to').val());" %>
    </td>
  </tr>
</table>
    
<p><input name="edit_type" type="hidden" value="<%= params[:edit_type] %>" /></p>

