<h1>社員情報の編集</h1>

<%-
  opt = Hash.new
  opt[:action] = 'update_password'
  opt[:id] = @user.id
  opt[:back_to] = request.env['REQUEST_URI']
  opt[:only_path] = false
  opt[:protocol] = 'https://' if ENV['HTTPS_ENABLED']
  form_for :user, :url => opt do |@f| 
-%>

<table class="input_table">
  <caption style="font-size:14px"><b>ログイン情報</b></caption>

  <tr>
    <th>社員氏名</th>
    <td><%=h current_user.employee.employee_name %></td>
  </tr>
  <tr>
    <th><%=_("User|Crypted password")%>(*)</th>
    <td><%= @f.password_field :password %></td>
  </tr>
  <tr>
    <th><%=_("Confirm Password")%>(*)</th>
    <td><%= @f.password_field :password_confirmation %></td>
  </tr>

</table>


  <%= submit_tag "変更" %>
  
<% end -%> 

