<h1><%=_("Input youre email address.")%></h1>
<%= form_tag do -%>
<p><label for="login"><%=_("User|Email")%></label><br/>
<%= text_field_tag 'login', nil, :size => 40 %></p>

<p><%= submit_tag _('Send mail') %></p>

<% end -%>
