<h1>社員勤務表・週報一覧</h1>
<%= form_tag do %>
　<%= check_box_tag 'all_display_checkbox', '1', @all_display %>全て
  <%= submit_tag '表示', :name => 'display_button' %>
<% end %>
<%= paginate(@employees) %>

<table class="list_table">
  <tr>
    <th>No</th>
    <th>部署</th>
    <th><%=getLongName('employees','insurance_code')%></th> 
    <th><%=getLongName('employees','employee_name')%></th> 
    <th>勤務表</th>
    <th>週報</th>
  </tr>

<% @employees.each_index do |idx| employee = @employees[idx] %>
  <tr>
    <td align="center"><%=h params[:page]? ((params[:page].to_i-1) * 50).to_i+idx+1 : idx+1 %></td>
    <td><%=h employee.department.department_shortname %></td>
    <td><%=h employee.insurance_code %></td>
    <td><%=h employee.employee_name %></td>
    <td><%=link_to '勤務表', :controller => :monthly_working, :action => :list, :user_id => employee.user_id %></td>
    <td><%=link_to '週報', :controller => :weekly_report, :action => :list, :user_id => employee.user_id %></td>
  </tr>
<% end %>
</table>
<br />

<%= paginate(@employees) %>

