<script type="text/javascript">
<!--
  var cal = new JKL.Calendar("calDisplay","","route_expense[active_date]");
  var cal2 = new JKL.Calendar("calDisplay2","","route_expense[inactive_date]");
  
  var flgCal = true;
  var flgCal2 = true;
  
//-->
</script>

<%= error_messages_for 'route_expense' %>
<!--[form:route_expense]-->

<p>
<label for="route_expense_active_date"><%=getLongName('route_expenses','active_date')%></label><br />
<input type="text" id="route_expense_active_date" name="route_expense[active_date]" value="<%=h @route_expense.active_date.to_date if @route_expense.active_date != nil %>" size="15" onClick="cal.write();" onChange="cal.getFormValue(); cal.hide();" onblur="if (flgCal) {cal.hide();}">
<div id="calDisplay" onmouseover="flgCal = false;" onmouseout="flgCal = true;" ></div>
</p>

<label for="route_expense_inactive_date"><%=getLongName('route_expenses','inactive_date')%></label><br />
<input type="text" id="route_expense_inactive_date" name="route_expense[inactive_date]" value="<%=h @route_expense.inactive_date.to_date if @route_expense.inactive_date != nil %>" size="15" onClick="cal2.write();" onChange="cal2.getFormValue(); cal2.hide();" onblur="if (flgCal2) {cal2.hide();}">
<div id="calDisplay2" onmouseover="flgCal2 = false;" onmouseout="flgCal2 = true;" ></div>

  
<!--<p><label for="route_expense_total_amount"><%=getLongName('route_expenses','total_amount')%></label><br /><%= text_field 'route_expense', 'total_amount'  %></p>-->
<p><label for="route_expense_memo"><%=getLongName('route_expenses','memo')%></label><br /><%= text_area 'route_expense', 'memo', :size => '60x10'  %></p>
<%- if controller.action_name.match(/edit.*/) -%>
<p><label for="route_expense_active_flg"><%=getLongName('route_expenses','active_flg')%></label><br /><%= check_box 'route_expense', 'active_flg' %></p>
<%- end -%>

<p><%= hidden_field 'route_expense', 'user_id'  %></p>
<p><%= hidden_field 'route_expense', 'lock_version'  %></p>
<!--[eoform:route_expense]-->

