<h1><%=getLongName('table_name','route_expenses')%>一覧</h1>

<%= paginate(@route_expenses) %>

<table class="list_table">
  <tr>
  <% for column in RouteExpense.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('route_expenses', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for route_expense in @route_expenses %>
  <tr>
  <% for column in RouteExpense.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h route_expense.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => route_expense %>, 
      <%= link_to '変更', :action => 'edit', :id => route_expense %>, 
      <%= link_to '削除', { :action => 'destroy', :id => route_expense }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<br/>
<%= paginate(@route_expenses) %>

<br />

<%= link_to (getLongName('table_name','route_expenses')+'の新規作成'), :action => 'new' %>
