<h1><%=getLongName('table_name','route_expenses')%>表示</h1>
<!-- if use active_flg to employees then have to user employee = Employee.find(:first, :conditions => ["user_id = ? and active_flg = ?", @route_expense.user_id, 1]) -->
<p>社員名: <%=h @route_expense.user.employee.employee_name %></p>
<table class="show_table">
<tr>
  <th><%=getLongName('route_expenses','active_date')%></th>
  <td><%=h @route_expense.active_date.to_date if @route_expense.active_date != nil %></td>
</tr>
<tr>
  <th><%=getLongName('route_expenses','inactive_date')%></th>
  <td><%=h @route_expense.inactive_date.to_date if @route_expense.inactive_date != nil %></td>
</tr>
<tr>
  <th><%=getLongName('route_expenses','total_amount')%></th>
  <td><%=h @route_expense.total_amount.to_i %></td>
</tr>
<tr>
  <th><%=getLongName('route_expenses','memo')%></th>
  <td><%= simple_format @route_expense.memo %></td>
</tr>
<tr>
  <th><%=getLongName('route_expenses','active_flg')%></th>
  <td><%=h (@route_expense.active_flg == 1) ? "○" : "×" %></td>
</tr>

</table>
<br/>
<%= link_to '編集', :action => 'edit', :id => @route_expense %>
<!--<%= link_to '一覧', :action => 'list' %>-->

<h2><%=getLongName('table_name','route_expense_details')%>一覧</h2>
<table class="list_table">
  <tr >
    <th>No</th>
    <th><%=getLongName('route_expense_details','organization_name')%></th> 
    <th><%=getLongName('route_expense_details','station_from')%></th> 
    <th><%=getLongName('route_expense_details','station_to')%></th> 
    <th><%=getLongName('route_expense_details','monthly_amount')%></th> 
    <th> </th>
  </tr>
  
<% @route_expense_details.each_index do |idx| route_expense_detail = @route_expense_details[idx] %>
  <tr>
    <td align="center"><%=h (idx+1) %></td>
    <td ><%=h route_expense_detail.organization_name %></td>
    <td ><%=h route_expense_detail.station_from %></td>
    <td ><%=h route_expense_detail.station_to %></td>
    <td align="center"><%=h route_expense_detail.monthly_amount.to_i %></td>
    <td>
      <%= link_to '表示' ,:controller => 'route_expense_detail', :action => 'show', :id => route_expense_detail %>, 
      <%= link_to '変更' ,:controller => 'route_expense_detail', :action => 'edit', :id => route_expense_detail %>, 
      <%= link_to '削除', {:controller => 'route_expense_detail', :action => 'destroy', :id => route_expense_detail }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>
<br />

<%= link_to (getLongName('table_name','route_expense_details')+'の新規作成'), :controller => 'route_expense_detail', :action => 'new', :route_expense_id => @route_expense %> | 
<%= link_to "社員情報一覧に戻る", :controller => 'account', :action => 'list'  %>


