<script type="text/javascript">
<!--
function ctlForms()
{
  var working_type = $("#holiday_application_working_type");
  var startDate = $("#holiday_application_start_date");
  var endDate = $("#holiday_application_end_date");

  switch(working_type.value) {
    case "on_holiday_working":
    case "only_PM_working":
    case "only_AM_working":
    case "compensatory_dayoff":
      endDate.value = "";
      endDate.readOnly = true;
      endDate.style.backgroundColor = 'silver';
      break;
    default:
      endDate.value = startDate.value;
      endDate.readOnly = false;
      endDate.style.backgroundColor = 'white';
      break;
  }
  return true;
}
//-->
</script>

<%= error_messages_for 'holiday_application' %>

<% working_types = $TYPE_CONDITIONS['working_type'].dup
   working_types.delete_if{|x| HolidayApplication.hide_select_types.include?(x[1])} %>

<table class="input_table">
  <tr>
    <th><%='申請区分'%></th>
    <td>
<% if params[:working_type] %>
      <%= hidden_field_tag 'working_type', params[:working_type] %>

      <%= hidden_field 'holiday_application', 'working_type' %><%= @holiday_application.working_type_name %>
<% else %>
      <%= edit? ? @holiday_application.working_type_name : select('holiday_application', 'working_type', working_types, {}, :onChange => "return ctlForms();") %>
<% end %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('holiday_applications','application_date')%></th>
    <td>
      <%=h @holiday_application.application_date.to_date if @holiday_application.application_date != nil %>
    </td>
  </tr>
  <tr>
    <th><%=start_date_name%></th>
    <td>
      <%= edit? ? @holiday_application.start_date : date_field('holiday_application', 'start_date') %>
    </td>
  </tr>
  <% unless HolidayApplication.one_day_application.include?(params[:working_type]) %>
  <tr>
    <th><%=getLongName('holiday_applications','end_date')%></th>
    <td>
      <%= edit? ? @holiday_application.end_date : date_field('holiday_application', 'end_date') %>
    </td>
  </tr>
  <% end %>
  <% if @holiday_application.working_type == 'on_holiday_working' %>
  <tr>
    <th><%=getLongName('holiday_applications','start_time')%></th>
    <td>
      <%= text_field 'holiday_application', 'start_time', :value => @holiday_application.start_time_format %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('holiday_applications','end_time')%></th>
    <td>
      <%= text_field 'holiday_application', 'end_time', :value => @holiday_application.end_time_format %>
    </td>
  </tr>
  <% end %>
    <tr>
      <th><%=getLongName('holiday_applications','reason')%></th>
      <td><%= text_field 'holiday_application', 'reason', :size => '60'  %></td>
    </tr>
  <tr>
    <th><%=getLongName('holiday_applications','content')%></th>
    <td><%= text_area 'holiday_application', 'content', :size => '60x10'  %></td>
  </tr>
  <% if @holiday_application.working_type == 'on_holiday_working' %>
  <tr>
    <th>タクシー利用</th>
    <td><%= check_box 'holiday_application', 'taxi_flg' %></td>
  </tr>
  <% end %>
</table>

<p><%= hidden_field 'holiday_application', 'application_date'  %></p>
<p><%= hidden_field 'holiday_application', 'lock_version'  %></p>
<p><input name="back_to" type="hidden" value="<%= params[:back_to] %>" /></p>
<p><input name="back_to_edit_dw" type="hidden" value="<%= params[:back_to_edit_dw] %>" /></p>

<p><input name="dw_id" type="hidden" value="<%= params[:dw_id] %>" /></p>



