<% if @holiday_application.working_type == 'on_holiday_working' %>
<h1>休日出勤申請編集</h1>
<% else %>
<h1><%=getLongName('table_name','holiday_applications')%>編集</h1>
<% end %>

<%= form_tag :action => 'update', :id => @holiday_application do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<%= link_to '表示', :action => 'show', :id => @holiday_application %> |
<%= link_to '戻る', :controller => :base_application, :action => :working_list, :mode => 'all_working' %>
