<h1>休暇申請承認一覧</h1>
<%= link_to '全て', :controller => :application_approval, :action => :list_by_approver %></li> | 
<%= link_to '休暇申請承認', :controller => :holiday_application, :action => :list_by_approver %></li> | 
<%= link_to '出張申請承認', :controller => :business_trip_application, :action => :list_by_approver %></li> | 
<%= link_to '他勤怠申請承認', :controller => :other_application, :action => :list_by_approver %></li> | 
<% if false %>
<%= link_to '勤怠承認', :controller => :monthly_working, :action => :list_by_approver %></li> | 
<%= link_to '週報承認', :controller => :weekly_report, :action => :list_by_approver %></li>
<% end %>
<br>   
<hr> 
<%= paginate(@holiday_applications) %>


<table class="list_table">
  <tr>
    <th style="width: 6%;">No</th>
    <th style="width: 9%;"><%=getShortName('employees', 'insurance_code')%></th> 
    <th><%=getShortName('employees', 'employee_name')%></th> 
    <th><%=getShortName('holiday_applications', 'working_type')%></th> 
    <th><%=getShortName('holiday_applications', 'start_date')%></th> 
    <th><%=getShortName('holiday_applications', 'end_date')%></th> 
    <th><%=getShortName('holiday_applications', 'reason')%></th> 
    <th>状態</th> 
    <th>アクション</th>
  </tr>

<% @holiday_applications.each_index do |idx| holiday_application = @holiday_applications[idx] %>
  <tr>
    <td align="center"><%=h (idx+1) %></td>
    <td><%=h holiday_application.user.employee.insurance_code %></td>
    <td><%=h holiday_application.user.employee.employee_name %></td>
    <td><%=h holiday_application.working_type_long_name %></td>
    <td align="center"><%=h holiday_application.start_date.to_date %></td>
    <td align="center"><%=h holiday_application.end_date.to_date %></td>
    <td><%=h holiday_application.reason %></td>
    
    <% application_approval = ApplicationApproval.find(:first, :conditions => ["user_id = ? and holiday_application_id = ? and approver_id = ?", holiday_application.user_id, holiday_application.id, current_user.id]) %>
    <td align="center"><%=h application_approval.approval_status_type_long_name %></td>
    
    <td>
      <%= link_to '表示', :action => 'show', :id => holiday_application, :back_to => request.env['REQUEST_URI'] %>
      
      <% if application_approval.approval_status_type == 'entry' %> 
        <%= link_to '承認', { :controller => 'application_approval', :action => 'approve_holiday_app', :id => application_approval }, :confirm => 'この申請を承認します。よろしいですか?', :method => :post %>
        <%= link_to '却下', { :controller => 'application_approval', :action => 'reject_holiday_app', :id => application_approval }, :confirm => 'この申請を却下します。よろしいですか?', :method => :post %>
      <% elsif application_approval.approval_status_type == 'approved' %> 
        <%= link_to '申請中', { :controller => 'application_approval', :action => 'entry_holiday_app', :id => application_approval }, :confirm => 'この申請が申請中になります。よろしいですか?', :method => :post %>
      <% elsif application_approval.approval_status_type == 'reject' %> 
        <%= link_to '申請中', { :controller => 'application_approval', :action => 'entry_holiday_app', :id => application_approval }, :confirm => 'この申請が申請中になります。よろしいですか?', :method => :post %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
<br>

<%= paginate(@holiday_applications) %>

<br />

