<h1><%= @business_partner.blank? ? getLongName('table_name','bp_pics') : "#{@business_partner.business_partner_name}担当" %>一覧</h1>

<%= paginate(@bp_pics) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('bp_pics', 'bp_pic_name') %></th>
    <th><%=getShortName('bp_pics', 'bp_pic_name_kana') %></th>
    <th><%=getShortName('bp_pics', 'depertment') %></th>
    <th><%=getShortName('bp_pics', 'position') %></th>
    <th><%=getShortName('bp_pics', 'tel_direct') %></th>
    <th><%=getShortName('bp_pics', 'tel_mobile') %></th>
    <th><%=getShortName('bp_pics', 'email1') %></th>
    <th><%=getShortName('bp_pics', 'email2') %></th>
  </tr>
  
<% for bp_pic in @bp_pics %>
  <tr>
<% if popup? %>
  <% if params[:mode]=='eu' %>
    <td><%=link_to h(bp_pic.bp_pic_name), '#', :onClick => "setEuBpPic(#{bp_pic.id},'#{bp_pic.bp_pic_name}');return false;" %></td>
  <% else %>
    <td><%=link_to h(bp_pic.bp_pic_name), '#', :onClick => "setBpPic(#{bp_pic.id},'#{bp_pic.bp_pic_name}');return false;" %></td>
  <% end %>
<% else %>
    <td><%=h bp_pic.bp_pic_name %></td>
<% end %>
    <td><%=h bp_pic.bp_pic_name_kana %></td>
    <td><%=h bp_pic.depertment %></td>
    <td><%=h bp_pic.position %></td>
    <td><%=h bp_pic.tel_direct %></td>
    <td><%=h bp_pic.tel_mobile %></td>
    <td><%=h bp_pic.email1 %></td>
    <td><%=h bp_pic.email2 %></td>
  </tr>
<% end %>
</table>

<%= paginate(@bp_pics) %>

<br />

<%= back_to_link (getLongName('table_name','bp_pics')+'を追加'), :action => 'new', :business_partner_id => @business_partner %>
<% if popup? %>
<script type="text/javascript">
<!--
function setBpPic(bp_pic_id, bp_pic_name) {
  if(window.opener.document.setBpPic){
    var bp_pic = new Object();
    bp_pic.id = bp_pic_id;
    bp_pic.bp_pic_name = bp_pic_name;
    window.opener.document.setBpPic(bp_pic);
  }
  window.close();
}
function setEuBpPic(bp_pic_id, bp_pic_name) {
  if(window.opener.document.setEuBpPic){
    var bp_pic = new Object();
    bp_pic.id = bp_pic_id;
    bp_pic.bp_pic_name = bp_pic_name;
    window.opener.document.setEuBpPic(bp_pic);
  }
  window.close();
}
// -->
</script>
<% end # if popup? %>
