<script type="text/javascript">
<!--
function ctlForms()
{
  var working_type = $("#daily_working_working_type");
  var inTime = $("#daily_working_in_time");
  var outTime = $("#daily_working_out_time");
  var restHour = $("#daily_working_rest_hour");

  switch(working_type.value) {
    case "all_day_working":
    case "on_holiday_working":
      inTime.value = "<%=SysConfig.get_regular_in_time_regular.value1%>";
      outTime.value = "<%=SysConfig.get_regular_out_time_regular.value1%>";
      restHour.value = "<%=SysConfig.get_rest_hour_regular.value1%>";
      break;
    case "only_PM_working":
      inTime.value = "<%=SysConfig.get_regular_in_time_pm.value1%>";
      outTime.value = "<%=SysConfig.get_regular_out_time_regular.value1%>";
      restHour.value = "<%=SysConfig.get_rest_hour_half.value1%>";
      break;
    case "only_AM_working":
      inTime.value = "<%=SysConfig.get_regular_in_time_regular.value1%>";
      outTime.value = "<%=SysConfig.get_regular_out_time_early_am.value1%>";
      restHour.value = "<%=SysConfig.get_rest_hour_half.value1%>";
      break;
  }

  switch(working_type.value) {
    case "all_day_working":
    case "on_holiday_working":
    case "only_PM_working":
    case "only_AM_working":
      inTime.readOnly = false;
      outTime.readOnly = false;
      restHour.readOnly = false;
      inTime.style.backgroundColor = 'white';
      outTime.style.backgroundColor = 'white';
      restHour.style.backgroundColor = 'white';
      break;
    case "vacation_dayoff":
    case "compensatory_dayoff":
    case "absence_dayoff":
    case "summer_dayoff":
    case "occasion_dayoff":
    case "life_plan_dayoff":
    case "suspension1_dayoff":
    case "suspension2_dayoff":
      inTime.value = "";
      outTime.value = "";
      restHour.value = "";
      inTime.readOnly = true;
      outTime.readOnly = true;
      restHour.readOnly = true;
      inTime.style.backgroundColor = 'silver';
      outTime.style.backgroundColor = 'silver';
      restHour.style.backgroundColor = 'silver';
      break;
  }
  return true;
}
//-->
</script>

<%= error_messages_for 'daily_working' %>

<table class="input_table">
  <tr>
    <th><%=getLongName('daily_workings','working_date')%></th>
    <td><%=h @daily_working.working_date.to_date %></td>
  </tr>
  <tr>
    <th><%=getLongName('daily_workings','working_type')%></th>
    <td>
    <%= select 'daily_working', 'working_type', $TYPE_CONDITIONS['working_type'], {}, :onChange => "return ctlForms();" %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('daily_workings','in_time')%></th>
    <td>
      <% ro = false #TODO: (!current_user.power_user? and @daily_working.delayed_canceled?) or @daily_working.regular_working? %>
      <%= text_field 'daily_working', 'in_time', :value => @daily_working.in_time_format, :readOnly => ro  %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('daily_workings','out_time')%></th>
    <td>
      <%= text_field 'daily_working', 'out_time', :value => @daily_working.out_time_format, :readOnly => !@daily_working.regular_working? %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('daily_workings','rest_hour')%></th>
    <td>
      <%= text_field 'daily_working', 'rest_hour', :value => @daily_working.rest_hour_format, :readOnly => !@daily_working.regular_working? %>
    </td>
  </tr>
  <tr>
    <th><%=getLongName('daily_workings','summary')%></th>
    <td><%= text_area 'daily_working', 'summary', :size => '60x10', :value => @daily_working.summary  %></td>
  </tr>
  <% if false %>
  <tr>
    <th>遅延証明設定</th>
    <td>
      <%= check_box 'daily_working', 'delayed_cancel_flg' %>
    </td>
  </tr>
  <% end %>
</table>

<%= hidden_field 'daily_working', 'application_date'  %>
<%= hidden_field 'daily_working', 'working_date'  %>
<%= hidden_field 'daily_working', 'lock_version'  %>

