<h1><%=getLongName('table_name','daily_workings')%>一覧</h1>

<%= paginate(@daily_workings) %>

<table class="list_table">
  <tr>
  <% for column in DailyWorking.columns %>
    <% if system_column?(column.name) then next end %>
    <th><%=getShortName('daily_workings', column.name)%></th>
  <% end %>
    <th></th>
  </tr>
  
<% for daily_working in @daily_workings %>
  <tr>
  <% for column in DailyWorking.columns %>
    <% if system_column?(column.name) then next end %>
    <td><%=h daily_working.send(column.name) %></td>
  <% end %>
    <td>
      <%= link_to '表示', :action => 'show', :id => daily_working %>, 
      <%= link_to '変更', :action => 'edit', :id => daily_working %>, 
      <%= link_to '削除', { :action => 'destroy', :id => daily_working }, :confirm => 'この情報を削除します。よろしいですか?', :method => :post %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@daily_workings) %>

<br />

<%= link_to (getLongName('table_name','daily_workings')+'の新規作成'), :action => 'new' %>
