<h1><%=getLongName('table_name','import_mails')%>一覧</h1>

<% form_tag do %>
<table>
    <tr>
      <td><%= radio_button_tag "order", "count", session[:import_mail_order][:order] == "count" %></td><td>メール件数</td>
      <td><%= radio_button_tag "order", "fifty", session[:import_mail_order][:order] == "fifty" %></td><td>五十音</td>
      <td><%= radio_button_tag "order", "time", session[:import_mail_order][:order] == "time" %></td><td>最終メール受信時刻</td></td>
    </tr>
</table>
<p><%= submit_tag '　　並び替え　　', :name => 'search_button' %></p>
<br />
<% end %>

<%= paginate(@import_mails) %>

<table class="list_table">
  <tr>
    <th>送信者</th>
    <th><%=getShortName('business_partners', 'business_partner_name') %></th>
    <th><%=getShortName('bp_pics', 'bp_pic_name') %></th>
    <th>メール件数</th>
    <th>最終メール<br>受信時刻</th>
  </tr>
  
<% for import_mail in @import_mails %>
  <tr>
    <td><%=h import_mail.mail_from %></td>
    <td>
      <% if import_mail.bizp_id %>
        <%= back_to_link h(import_mail.get_bizp(import_mail.bizp_id).business_partner_short_name), :controller => :business_partner, :action => :show, :id => import_mail.bizp_id %>
      <% else %>
        -
      <% end %>
    </td>
    <td>
      <% if import_mail.bpic_id %>
        <%= back_to_link h(import_mail.get_bpic(import_mail.bpic_id).bp_pic_short_name), :controller => :bp_pic, :action => :show, :id => import_mail.bpic_id %>
      <% else %>
        -
      <% end %>
    </td>
    <td><%=h import_mail.count %></td>
    <td><%=h import_mail.recv_at %></td>
  </tr>
<% end %>
</table>

<%= paginate(@import_mails) %>

<br />

<%= link_to (getLongName('table_name','import_mails')+'の新規作成'), :action => 'new' %>





<script type="text/javascript">
<!--


// -->
</script>



