<h1><%=getLongName('table_name','import_mails')%>一覧</h1>

<%= form_tag do %>
<table>
    <tr>
      <td style="text-align: right">フラグ:</td>
      <td>
        <%= check_box_tag 'biz_offer_flg', 1, session[:import_mail_search][:biz_offer_flg].to_i == 1 %> 案件
        <%= check_box_tag 'bp_member_flg', 1, session[:import_mail_search][:bp_member_flg].to_i == 1 %> 人材
        <%= check_box_tag 'unwanted', 1, session[:import_mail_search][:unwanted].to_i == 1 %> 不要
        <%= check_box_tag 'registed', 1, session[:import_mail_search][:registed].to_i == 1 %> 登録済み
      </td>
    </tr>
</table>
<br/>
<%= submit_tag '　　検索　　', :name => 'search_button' %> <%= submit_tag '　　クリア　　', :name => 'clear_button' %>
<% end %>

<%= paginate(@import_mails) %>

<table class="list_table">
  <tr>
    <th colspan=6>取り込みメール一覧</th>
  </tr>
  
<% for import_mail in @import_mails %>
  <tr <%= "bgcolor = #999999" if !import_mail.wanted? %> id="tr_<%= import_mail.id %>">
    <td><%=h import_mail.id %></td>
    <td><div style="overflow: hidden;height:1.5em;"><%=link_to_if !import_mail.business_partner_id.blank?, import_mail.mail_sender_name, :controller => :business_partner, :action => :show, :id => import_mail.business_partner_id %></div></td>
    <td><div style="overflow: hidden;height:1.5em;"><%= link_to h(import_mail.mail_subject), :action => :show, :id => import_mail, :back_to => request_url %></div></td>
    <td><%=h _time(import_mail.received_at) %></td>
    <td align=center><%=h import_mail.attachment? ? "○" : "" %></td>
    <td style="width: 7em;text-align:center"><%=flg_links(import_mail)%></td>
  </tr>
<% end %>
</table>

<%= paginate(@import_mails) %>

<br />

<%= link_to '取り込み', {:controller => :api, :action => :import_mail_pop3}, :confirm => "POP3にてメールを取り込みます。よろしいですか？" %>





<script type="text/javascript">
<!--
var font_styles = ["normal","bold"];
var color_styles = ["","black"];
var ajax_url = '<%= url_for(:controller => :import_mail, :action => :change_flg) %>';

function changeFlg(import_mail_id, type){
  jQuery.ajax({
    url: ajax_url + '?import_mail_id=' + import_mail_id + '&type=' + type,
    success: function(data, dataType){
        var str =data.split(",");

        $("#biz_offer_icon_" + import_mail_id)[0].style.fontWeight = font_styles[str[0]];
        $("#bp_member_icon_" + import_mail_id)[0].style.fontWeight = font_styles[str[1]];
        $("#unwanted_icon_" + import_mail_id)[0].style.fontWeight = font_styles[str[2]];

        $("#biz_offer_icon_" + import_mail_id)[0].style.color = color_styles[str[0]];
        $("#bp_member_icon_" + import_mail_id)[0].style.color = color_styles[str[1]];
        $("#unwanted_icon_" + import_mail_id)[0].style.color = color_styles[str[2]];

        if (str[2] == 1) {
          $("#tr_" + import_mail_id)[0].style.backgroundColor = '#999999';
        } else {
          $("#tr_" + import_mail_id)[0].style.backgroundColor = '#ffffff';
        }
    }
  });
  return false;
}

// -->
</script>



