<%= error_messages_for 'interview' %>

<!--[form:interview]-->
<%= hidden_field 'interview', 'approach_id', :value => params[:approach] %>

<p><label for="interview_interview_appoint_at"><%=getLongName('interviews','interview_appoint_at')%></label><br />
<%= date_field 'interview', 'interview_appoint_at' %>
 <%= select_tag 'interview_appoint_at_hour', options_for_select((0..23).to_a.map{|x| sprintf("%0.2d", x)}, sprintf("%0.2d", @interview_appoint_at_hour.to_i)) %> : 
 <%= select_tag 'interview_appoint_at_minute', options_for_select((0..5).to_a.map{|x| sprintf("%0.2d", x * 10)}, sprintf("%0.2d", @interview_appoint_at_min.to_i)) %>
</p>

<p><label for="interview_interview_prace"><%=getLongName('interviews','interview_prace')%></label><br /><%= text_field 'interview', 'interview_prace' %></p>

  <p>
    <label for="interview_interview_pic_name">面談担当</label><br />
    <%= text_field_tag 'interview_pic_name', @interview.interview_pic.blank? ? "" : @interview.interview_pic.employee.employee_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'user', :action => 'list', :popup =>1, :mode => 'interview' %>');return false;" />
    <input type=button value='クリア' onClick="clearInterviewUser();return false;" />
  </p>
  <%= hidden_field 'interview', 'interview_pic_id' %>
  
  <p>
    <label for="business_partner_name">面談取引先</label><br />
    <%= text_field_tag 'business_partner_name', @interview.interview_bp.blank? ? "" : @interview.interview_bp.business_partner_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="disp_wide('<%=url_for :controller => 'business_partner', :action => 'list', :popup =>1, :flg => 'eu_or_upper' %>');return false;" />
    <input type=button value='クリア' onClick="clearInterviewBp();return false;" />
  </p>
  <%= hidden_field 'interview', 'interview_bp_id' %>
  
  <p>
    <label for="bp_pic_name">面談取引先担当</label><br />
    <%= text_field_tag 'bp_pic_name', @interview.interview_bp_pic.blank? ? "" : @interview.interview_bp_pic.bp_pic_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
    <input type=button value='...' onClick="openInterviewBpPicList();return false;" />
    <input type=button value='クリア' onClick="clearInterviewBpPic();return false;" />
  </p>
  <%= hidden_field 'interview', 'interview_bp_pic_id' %>

<p><label for="interview_memo"><%=getLongName('interviews','memo')%></label><br /><%= resizable_area 'interview', 'memo'  %></p>
<!--[eoform:interview]-->

<%= hidden_field 'interview', 'lock_version' %>
<%= back_to_field_tag %>

<script type="text/javascript">
<!--
function openInterviewBpPicList() {
    disp_wide('<%=url_for :controller => 'bp_pic', :action => 'list', :popup =>1 %>' + '/' + document.getElementById("interview_interview_bp_id").value)
}

document.setBp = function(bp) {
    document.getElementById("interview_interview_bp_id").value = bp.id;
    document.getElementById("business_partner_name").value = bp.business_partner_name;
    document.getElementById("interview_interview_bp_pic_id").value = "";
    document.getElementById("bp_pic_name").value = "";
}

function clearInterviewBp(){
    document.getElementById("interview_business_partner_id").value = "";
    document.getElementById("business_partner_name").value = "";
    document.getElementById("interview_bp_pic_id").value = "";
    document.getElementById("bp_pic_name").value = "";
}

document.setBpPic = function(bp_pic){
    document.getElementById("interview_interview_bp_pic_id").value = bp_pic.id;
    document.getElementById("bp_pic_name").value = bp_pic.bp_pic_name;
}

function clearInterviewBpPic(){
    document.getElementById("interview_bp_pic_id").value = "";
    document.getElementById("bp_pic_name").value = "";
}

document.setInterviewUser = function(user){
    document.getElementById("interview_interview_pic_id").value = user.interview_pic_id;
    document.getElementById("interview_pic_name").value = user.interview_pic_name;
}

function clearInterviewUser(){
    document.getElementById("interview_interview_pic_id").value = "";
    document.getElementById("interview_pic_name").value = "";
}


// -->
</script>
