<% if params[:newly] %>
  <h1><%=getLongName('table_name','interviews')%>作成</h1>
<% else %>
  <h1>次回<%=getLongName('table_name','interviews')%>作成</h1>
  <%= form_tag  do %>
    <%= hidden_field 'interview', 'approach_id', :value => params[:approach] %>
    <%= submit_tag '　　これ以上面談を作成しない　　', :name => 'interview_end', :onclick=>"return #{confirm_javascript_function("続けて契約を作成してくださいね。")}" %> 
  <% end %>
<% end %>

<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "登録" %>
<% end %>

<%= link_to '戻る', :controller => 'approach', :action => 'show', :id => params[:approach] %>
