<table class="show_table">
<tr>
  <th><%= getLongName('interviews', 'id') %></th><td><%=h @interview.id %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'interview_status_type') %></th><td><%=h @interview.interview_status_type %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'interview_number') %></th><td><%=h @interview.interview_number %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'interview_appoint_at') %></th><td><%=h @interview.interview_appoint_at %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'interview_prace') %></th><td><%=h @interview.interview_prace %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'succeed') %></th><td><%=h @interview.succeed %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'memo') %></th><td><%=h @interview.memo %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'created_at') %></th><td><%=h @interview.created_at %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'updated_at') %></th><td><%=h @interview.updated_at %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'lock_version') %></th><td><%=h @interview.lock_version %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'created_user') %></th><td><%=h @interview.created_user %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'updated_user') %></th><td><%=h @interview.updated_user %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'deleted_at') %></th><td><%=h @interview.deleted_at %></td>
</tr>

<tr>
  <th><%= getLongName('interviews', 'deleted') %></th><td><%=h @interview.deleted %></td>
</tr>

</table>
<%= link_to '編集', :action => 'edit', :id => @interview %> |
<%= link_to '一覧', :action => 'list' %>
