<h3>コメント一覧</h3>
<%= back_to_link 'コメント追加', :controller => :remarks, :action => :new, :remark_target_id => remark_target_id, :remark_key => remark_key %>

<% @remarks.each do |remark| %>
  <table class="show_table">
    <tr>
      <th>作成者</th>
      <td><%= remark.get_created_user.employee.employee_name %></td>
    </tr>
    <tr>
      <th>作成日時</th>
      <td><%= label_tag 'create_name', _time_long(remark.created_at) %></td>
    </tr>
    <tr>
      <th>レート</th>
      <td>
        <% for i in 1..5 %>
          <% if remark.rating >= i %>
            <%= image_tag("star_yellow.png") %>
          <% else %>
            <%= image_tag("star_gray.png") %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan=2><%= simple_format remark.remark_content %></td>
    </tr>
  </table>
  <% if remark.created_user == current_user.login %>
    <%= back_to_link '編集', :controller => :remarks, :action => :edit, :id => remark.id  %> | <%= link_to '削除',url_for(:controller => :remarks, :action => :destroy, :authenticity_token => form_authenticity_token, :id => remark.id, :back => remark_key, :bk_id => params[:id]), :method => :delete %>
  <% end %>
<% end %>