<%= error_messages_for 'vacation' %>

<p><label for="vacation_id"><%= getLongName('vacations', 'id') %></label><br/>
<%= @vacation.id || 'none' %></p>

<!--[form:vacation]-->
<p><label for="vacation_compensatory_hour_total"><%=getLongName('vacations','compensatory_hour_total')%></label><br /><%= text_field 'vacation', 'compensatory_hour_total'  %></p>
<p><label for="vacation_compensatory_used_total"><%=getLongName('vacations','compensatory_used_total')%></label><br /><%= text_field 'vacation', 'compensatory_used_total'  %></p>
<p><label for="vacation_cutoff_compensatory_hour_total"><%=getLongName('vacations','cutoff_compensatory_hour_total')%></label><br /><%= text_field 'vacation', 'cutoff_compensatory_hour_total'  %></p>
<p><label for="vacation_summer_vacation_day_total">夏季休暇日数合計</label><br /><%= text_field 'vacation', 'summer_vacation_day_total'  %></p>
<p><label for="vacation_summer_vacation_used_total">夏季休暇使用日数</label><br /><%= text_field 'vacation', 'summer_vacation_used_total'  %></p>
<p><label for="vacation_day_total"><%=getLongName('vacations','day_total')%></label><br /><%= text_field 'vacation', 'day_total'  %></p>
<p><label for="vacation_used_total"><%=getLongName('vacations','used_total')%></label><br /><%= text_field 'vacation', 'used_total'  %></p>
<p><label for="vacation_cutoff_day_total"><%=getLongName('vacations','cutoff_day_total')%></label><br /><%= text_field 'vacation', 'cutoff_day_total'  %></p>
<p><label for="vacation_life_plan_day_total"><%=getLongName('vacations','life_plan_day_total')%></label><br /><%= text_field 'vacation', 'life_plan_day_total'  %></p>
<p><label for="vacation_life_plan_used_total"><%=getLongName('vacations','life_plan_used_total')%></label><br /><%= text_field 'vacation', 'life_plan_used_total'  %></p>

<%= hidden_field 'vacation', 'lock_version'  %>
