<h1>年次処理設定</h1>
<%= form_tag :action => 'calculate_vacation' do %>
  <p>前回年次バッチ実行日時：
    <%=h @calculate_vacation_year.value1 %>年度　
    <%=h @calculate_vacation_year.updated_at %>
  </p>
  <p>
    <%= select_tag 'calculate_vacation', options_for_select(@arr_year, @arr_year[2]) %>年度　
    <%= submit_tag '年次処理の実行', :confirm => '年次処理を行います。よろしいですか?' %>
  </p>
<% end %>
<hr />
