<h1><%=getLongName('table_name','vacations')%>編集</h1>

<%= form_tag :action => 'update', :id => @vacation, :back_to => params[:back_to] do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<%= link_to '戻る', (params[:back_to] || {:action => 'list'}) %>
