<h1><%=getLongName('table_name','base_dates')%>編集</h1>

<%= form_tag :action => 'update', :id => @base_date do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<%= link_to '表示', :action => 'show', :id => @base_date %> |
<%= link_to '一覧に戻る', :action => 'list' %>
