<h1><%=getLongName('table_name','approval_authorities')%>設定</h1>

<%= form_tag :action => 'update', :id => @approval_authority do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<%= link_to '戻る', params[:back_to] != nil ? params[:back_to] : {:action => 'list'} %>
