<h1><%=getLongName('table_name','approval_authorities')%>一覧</h1>
<% $TYPE_CONDITIONS['approver_type'].each do |item| %>
<%= item[1] == controller.action_name ? item[0] : link_to(item[0], :controller => :approval_authority, :action => item[1]) %> |
<% end %>
<br>
<hr>

<%= paginate(@user_employees) %>

<table class="list_table">
  <caption style="font-size:14px">
   <b>
   <% item = $TYPE_CONDITIONS['approver_type'].rassoc(controller.action_name) %>
   <% item[0] if item %>
  </b>
  </caption>
  <tr >
    <th style="width: 7%;" rowspan="2" >保険No.</th>
    <th style="width: 15%;" rowspan="2" >社員名</th>
    <th colspan="<%= @user_approvers.size %>">承認者</th>
    <th style="width: 9%;" rowspan="2">アクション</th>
  </tr>
  <tr>
    <% @user_approvers.each_index do |idx2| user_approver = @user_approvers[idx2] %>
      <th ><%=h user_approver.employee.employee_short_name ? user_approver.employee.employee_short_name : user_approver.employee.employee_name %></th>
    <% end %>
  </tr>
<% @user_employees.each_index do |idx| user_employee = @user_employees[idx] %>
  <tr>
    <td style="width: 7%;" align="center"><%=h user_employee.employee.insurance_code %></td>
    <td ><%=h user_employee.employee.employee_name %></td>
    <% @user_approvers.each_index do |idx2| user_approver = @user_approvers[idx2] %>
      <td align = "center">
      <% if approval_authority = ApprovalAuthority.find(:first, :conditions => ["user_id = ? and approver_id = ? and approver_type = ? and active_flg = ?", user_employee.id, user_approver.id, controller.action_name, 1]) %>
        ○
      <% end %>
      </td>
    <% end %>
    <td><%= link_to '承認設定', :action => 'edit', :user_id => user_employee, :approver_type => controller.action_name, :back_to => request.env['REQUEST_URI'] %></td>
  </tr>
<% end %>
</table>
<br>

<%= paginate(@user_employees) %>
<br />

