<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <% envname = ActiveRecord::Base.configurations[Rails.env]['envname'] %>
  <title>The GoldRush Project <%=envname.blank? ? '' : " #{envname}環境"%></title>
  <link rel="icon" href="<%=image_path 'favicon.png'%>" type="image/vnd.microsoft.icon">
  <%= stylesheet_link_tag 'application', :media => 'screen,aural' %>
  <%#= stylesheet_link_tag 'print', :media => 'print' %>
  <%= javascript_include_tag "application" %>
</head>

<body>
<!-- ヘッダ -->
<%- unless @menu_hide -%>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand"  href="/">Gold Rush</a>
    <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">プロジェクト管理<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to '取引先', :controller => :business_partner %></li>
              <li><%= link_to '照会', :controller => :biz_offer %></li>
              <li><%= link_to '所属', :controller => :bp_member %></li>
              <li><%= link_to 'プロジェクト', :controller => :project %></li>
              <li><%= link_to '売り上げ集計', :controller => :project, :action => :summary %></li>
              <li><%= link_to '取り込みメール', :controller => :import_mail %></li>
              <li><%= link_to '解析テンプレート', :controller => :analysis_template %></li>
              <li><%= link_to 'メールグループ', :controller => :bp_pic_groups %></li>
            </ul>
          </li>
    </ul>
  </div>
</div>
<%- end -%>
<!-- ヘッダ  -->


<div id="main_box">
  <div id="flashmsg">
    <%- if flash[:notice] || flash[:err] || flash[:warning] -%>
      <div style="font-size: 20px; color: green"><%= flash[:notice] %></div>
      <div style="font-size: 20px; color: red"><%= flash[:err] %></div>
      <div style="font-size: 20px; color: red"><%= flash[:warning] %></div>
    <%- end -%>
  </div>
  <div id="contents_box">
    <%= yield %>
  </div>
</div>
<div style="clear: both;"></div>
<hr />
<div style="float: left;padding-left: 1em;"><%= envname ? envname + '環境' : '' %></div>
<div style="text-align:right;padding-right: 1em;color: #AAAAAA">c <%=Date.today.year%> SHARINGSS Co.,Ltd. All Rights Reserved.</div>
<script type="text/javascript">
      // <![CDATA[
      (function () {
          $('.dropdown-toggle').dropdown();
      })();
      // ]]>
</script>
</body>
</html>
