<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
  <% envname = ActiveRecord::Base.configurations[RAILS_ENV]['envname'] %>
  <title><%=$APPLICATION_NAME%> <%=@page_title%><%= envname ? ' ' + envname + '環境' : '' %></title>
</head>
<body>
    <%- if flash[:notice] || flash[:err] || flash[:warning] -%>
    <div id="flashmsg">
      <div style="color: green"><%= flash[:notice] %></div>
      <div style="color: red"><%= flash[:err] %></div>
      <div style="color: red"><%= flash[:warning] %></div>
    </div>
    <%- end -%>
    <%= @content_for_layout %>
</body>
</html>
