<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <% envname = ActiveRecord::Base.configurations[RAILS_ENV]['envname'] %>
  <title>THE GoldRush Project<%=envname.blank? ? '' : " #{envname}環境"%></title>
  <link rel="icon" href="<%=image_path 'favicon.png'%>" type="image/vnd.microsoft.icon">
  <%= stylesheet_link_tag 'application', :media => 'screen,aural' %>
  <%#= stylesheet_link_tag 'print', :media => 'print' %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div id="popup_main_box" style="margin-left: 2em; min-height: 440;">
    <div id="flashmsg">
    <%- if flash[:notice] || flash[:err] || flash[:warning] -%>
      <div style="color: green"><%= flash[:notice] %></div>
      <div style="color: red"><%= flash[:err] %></div>
      <div style="color: red"><%= flash[:warning] %></div>
    <%- end -%>
    </div>
    <div id="contents_box">
      <%= yield %>
    </div>
</div>
<div style="clear:both;"/>
</div>
<hr />
<div style="float: left;padding-left: 1em;"><%= envname ? envname + '環境' : '' %></div>
<div style="text-align:right;padding-right: 1em;color: #AAAAAA">c <%=Date.today.year%> SHARINGSS Co.,Ltd. All Rights Reserved.</div>
</body>
</html>
